[2019-10-25 00:27] andrewteta opened #1 "ndarrays are not modifiable"
I've been playing around with ulab and it's awesome, but I've run into some issues because I can't modify the elements of an ndarray.

For example:

`>>> a = 100 * np.linspace(0,10,num=1024)`
`Traceback (most recent call last):`
`    File "<stdin>", line 1, in <module>  `
`TypeError: unsupported types for __mul__: 'int', 'ndarray'`

and

`>>> for i in range(len(b)):`
`...     b[i] = i`
`...`
`Trac

[2019-10-25 14:24] v923z commented on #1
[code]
Indeed, this is a bug. Thanks for bringing it to the fore! A fix is in the pipeline (the subscription method required for this is undergoing major modifications), I should be able to push a solution in a couple of days.

This issue has been mentioned in the manual (https://micropython-ulab.readthedocs.io/en/latest/ulab.html#binary-operators), and has been discussed here: https://forum.micro

[2019-10-29 18:08] iabdalkader opened #2 "ndarray from image ?"
How can I create an ndarray of shape (w, h, c) from a C array of pixels (uint8_t) ? I can create 1D arrays by implementing getiter and unary_op, do I need to return an iter as the items of the first iter and so on ?

[2019-10-29 19:19] v923z commented on #2
Sorry, I don't understand the question: you don't have to implement anything, if the array is one-, or two-dimensional. Do you want to have a three-dimensional array?
The title of your question indicates that you want to work with images. But those are just 2D objects. It is a different matter, whether there are facilities to read your particular format into a matrix, and there might not be. I am

[2019-10-29 20:16] v923z commented on #1
@andrewteta
I have just pushed an update on the subscription methods. I believe that should fix the issue that you raised. Let me know, if it still doesn't work. I have also modified the manual, in particular, https://micropython-ulab.readthedocs.io/en/latest/ulab.html#slicing-and-indexing .

[2019-10-29 20:22] iabdalkader commented on #2
Hi, the image array is one dimensional but in numpy, opencv etc.. it's typically loaded as a three-dimensional array (height, width, depth), the third dimension is the depth/channels (RGB), for example:

[code]
Is there a way to achieve this with ulab ?

[2019-10-29 20:33] v923z commented on #2
The short answer is no. The slightly longer one is it is not trivial at all. Third, you also have to read the image itself. I mean the imread function. That is not trivial either, given that somehow you have to fit the png library onto the microcontroller. But if you implement that, you could easily return a 3-tuple with three two-dimensional ndarrays, each holding the data for one colour channel.

[2019-10-29 20:54] iabdalkader commented on #2
We do have some image loading functions, not png specifically but other formats, and we may have SDRAM on board at some point. Anyway thanks for the answers, and for this great library. I think I got my answer so I'll close this issue now.

[2019-10-30 05:30] kwagyeman opened #3 "Added to OpenMV"
Hi, I just wanted to say that Ibrahim added your code to the OpenMV Cam.

Thanks!

(Yes, I know this is not the best way to contact you).

[2019-10-30 13:31] erwincoumans opened #4 "platform support?"
Is this generic C code that could easily build and run on linux, mac, windows?
Or does it only work on microcontrollers? (which ones?)

[2019-10-30 17:41] v923z commented on #4
This is generic C code. In fact, most of the testing I do on a PC, using the unix port, which you can easily compile: https://micropython-usermod.readthedocs.io/en/latest/usermods_05.html#compiling-our-module

[2019-10-30 17:44] #3 closed

[2019-10-30 17:44] erwincoumans commented on #4
great, thanks!

[2019-10-30 17:44] #4 closed

[2019-11-03 22:05] mdaeron opened #6 "Apparent C-syntax compiling errors"
I'm attempting to compile `ulab` for the PYBD_SF6 from a Mac running macOS 10.13.4.

- I cloned the 0.24 release of `micropython-ulab` and the current version of micropython.
- I ran `make` in `micropython/mpy-cross`
- I ran `make BOARD=PYBD_SF6 CROSS_COMPILE=/usr/local/bin/arm-none-eabi-` in `micropython/ports/stm32`, which successfully compiled the "normal" firmware for SF6.
- But when I instead

[2019-11-04 12:35] mdaeron commented on #6
Update: I can now compile successfully for the `unix`, `pybd_sf6` and `pybv11` ports. The issue was on my end (I finally understood that I need to do edit the `mpconfigport.h` inside each port directory. Sorry for the noise!

[2019-11-04 12:35] #6 closed

[2019-11-04 17:27] v923z commented on #6
Thanks for posting the fix, too! Your original post indicates that the manual was not clear enough. I will extend the section on compilation.

[2019-11-04 18:51] mdaeron commented on #6
No problem. Constructive criticism: speaking as an inexperienced micropython compiler, it was a bit disorienting that the link to compilation instructions for `micropython-ulab` points to a section in the middle of the `micropython-usermod` documentation: it was not really clear how far back up I had to read the documentation if all I wanted to do was compile ulab.

In my opinion it would really h

[2019-11-04 18:59] v923z commented on #6
This is a fair point. I will update the README on the front page. By the way, I am more than happy to accept pull requests;)

[2019-11-04 19:18] mdaeron commented on #6
On Nov 4, 2019, at 19:59, Zoltán Vörös <notifications@github.com> wrote:

I'm not truly familiar with the whole git pull/push/merge workflow. If I wanted to propose edits to the readme, I assume I need to git clone, make edits, git commit, and then send a push request to your `micropython-ulab` repo? I'll read up on that again and make an attempt.

[2019-11-04 19:25] v923z commented on #6
You would have to create a fork, which is then yours. Then you implement changes on that fork (you would probably pull that, modify the files on your computer, and then push it back to the server), and once you are satisfied with the modifications, you press the pull request button, which will then notify the original copy (i.e. v923z/micropython-ulab). I can then simply accept the changes, which

[2019-11-07 19:54] mdaeron opened #8 "Compilation errors for unix port on macOS"
I am able to compile micropython+ulab for the PYBD_SF6 but not for unix.

My batch script is the following:

[code]

When running the above code, I get a functional PUBD_SF6 firmware but the unix make results in 3 `-Wparentheses-equality` errors in `ulab/code/ndarray.c`:

[code]

If I add `-Wno-parentheses-equality` to the `CFLAGS` in `micropython/ports/unix/Makefile`, I get different errors, in `

[2019-11-08 08:46] hoanghuy89 opened #9 "ulab std method for matrix"
Symptom:
ulab.std() sometimes produce nan in the result
ulab version 0.25

Reproduce:
import ulab as np
a = np.array([[109.5894, 117.2053, 69.3245],
	 [109.5894, 117.1788, 69.3245],
	 [109.596, 117.1854, 69.3245],
	 [109.596, 117.1854, 69.3245],
	 [109.5894, 117.1722, 69.31788],
	 [109.5894, 117.1921, 69.31788],
	 [109.5894, 117.1854, 69.31788],
	 [109.596, 117.1656, 69.31788],
	 [109.596, 117.158

[2019-11-08 08:52] v923z commented on #8
For the unix port, I think you have to compile the axtls module, too: https://github.com/micropython/micropython/wiki/Getting-Started
There is also a section on mac. I can't verify that, because I haven't a mac. In any case, if that works, please, let us know.

[2019-11-08 08:59] v923z commented on #9
Can you provide a **minimal** example that would produce these results? What is the git signature of the version you are running? And which platform? stm32, unix, or something else?
Looking at the numbers, I suspect that you are running on a platform that has only floats, but and doubles, and we are facing a resolution problem. But this should definitely be fixed.

By the way, I wanted to clean up

[2019-11-08 09:23] hoanghuy89 commented on #9
Hi , thanks for a great library. I compiled  micropython port for ESP32 and ulab followed your instruction. Everything works great and fast except for some hiccups. I'll list all those in a short while.
How do I get git signature of the version? I cloned the code 2 days ago :D

Minimal example:
a = np.array([[109.5894, 117.2053, 69.3245],
	 [109.5894, 117.1788, 69.3245],
	 [109.596, 117.1854, 69.3

[2019-11-08 09:32] v923z commented on #9
I haven't tried the ESP32, so I can't really comment on that. But I believe, errors are universal, so I would really appreciate, if you could post a summary of what you have found. I have to admit, I don't have too much time for testing, so feedback of this kind is really useful.

You can say `git log` on the command line. That will list all the commits in reverse order, so you can just read off t

[2019-11-08 09:40] mdaeron commented on #8
`make axtls` yields: `make: Nothing to be done for 'axtls'`. Everything else is the same.

Also, if I leave out `ulab`, I can compile for unix with just `make` (no `make axtls` is necessary)

[2019-11-08 09:50] hoanghuy89 commented on #9
Thanks. Quick summarise of what I found so far:
Setup:
a = np.array([1,2,3])
Issues:
1. np.mean(a,0) doesnt work, has to specify np.mean(a,axis=0), same for std
2. (3*a) doesnt work, have to write (a*3)
3. (1 + a) doesnt work, have to write (a+ 1)
4.
b = [False,False,False]
a[b]=0
IndexError: empty index range
Expected result:
Nothing happen

[2019-11-08 10:10] v923z commented on #9
OK, this should be easy to fix.

This issue has been mentioned in the manual (https://micropython-ulab.readthedocs.io/en/latest/ulab.html#binary-operators), and has been discussed here: https://forum.micropython.org/viewtopic.php?f=3&t=7005&start=30#p40469 A fix is underway, but till then, just keep ndarrays on the left hand side.

This will change very soon: I am adding Boolean arrays (this would

[2019-11-08 15:26] v923z opened #10 "let ndarrays be on the right hand side of binary operators"
At the moment, ndarrays must be on the left hand side of a binary operator. Thus

[code]
works, but
[code]
fails. A solution involves the implementation of the _REVERSE_ operators in binary_op in ndarray.c

[2019-11-08 17:07] v923z commented on #8
Does https://github.com/micropython/micropython/wiki/Getting-Started help in any way? I also noticed that the mpconfigport.h contains a lot of flags for apple. Can you learn anything from there?

[2019-11-08 18:57] v923z commented on #9
I have just pushed a fix to testing https://github.com/v923z/micropython-ulab/tree/testing . That should solve the problem of the mean/std/sum functions (I have tested it on the unix port). However, I have also modified the output of relational operators, so, e.g.,
[code]
which will now return a Boolean ndarray. This breaks indexing and slicing, e.g., `a[a<3]` won't do too much good. (This is the

[2019-11-08 21:23] v923z commented on #8
Could you, please, check out the testing branch: https://github.com/v923z/micropython-ulab/tree/testing , and see, whether you can compile for the unix port? Also note the caveats in https://github.com/v923z/micropython-ulab/issues/9#issuecomment-551949087 .

[2019-11-08 21:31] mdaeron commented on #8
I replaced `abs` by `MICROPY_FLOAT_C_FUN(fabs)` (note `fabs` not `abs`), and I get additional errors, this time in `poly.c`.

[code]

I'll check out the testing branch now.

[2019-11-08 22:10] mdaeron commented on #8
I now get the following error message:
[code]

When I run `make all` without `USER_C_MODULES=../../../ulab`, micropython compiles just fine.

[2019-11-09 09:55] v923z commented on #8
I have removed the the test module.

[2019-11-09 11:10] mdaeron commented on #8
Just checking, here's how I switched to the `testing` branch:

[code]

Is that the correct way? This results in the following error:

[code]

I then removed the extra parentheses in `ndarray.c`, but this yields a new error in `poly.c`:
[code]
This one is a little out of my current skill level, so I haven't tried to correct it myself.

Just wondering: is all of this essentially due to the fact that

[2019-11-09 17:03] v923z commented on #8
This looks all right.

I have tried to weed out all occurrences. Let me know if you still get this warning.

This extremely strict, but I have removed the if statement, and that should shut up the compiler.

Is this an error, or a warning only?

I think, this is actually an incorrect warning from the compiler, but I initialised `deg` with 0 (it will be overwritten later, and this is why I am a bit

[2019-11-09 17:40] hoanghuy89 commented on #9
Thanks for lighting fast update. I'm on the testing branch
`commit` 50df00546b2e7a172daff7100bc0382caa7b1629`
Unfortunately, I test the numerical function std and it still produces
`array([nan, 0.03856275, nan], dtype=float)`
I think it's platform specific bug. I will update you with more debug info for the platform later. Thanks.

[2019-11-09 17:43] mdaeron commented on #8
Congratulations, it works! Thanks for taking the time to troubleshoot this, and let me know if you ever need to test Mac compilation again on a test branch. On my end I can check new releases when they come out and let you know if anything looks wrong.

[2019-11-09 17:52] v923z commented on #9
Can you test it on the unix port?

[2019-11-09 17:55] mdaeron commented on #9
FWIW, on my unix (macOS) port, it yields the correct result:
[code]

[2019-11-09 17:55] v923z commented on #8
Fantastic, thanks for the update! I close the issue, then.

If you don't mind getting a notification once or twice a day, you can press the watch button:) I think it would be really great to have some feedback from mac.

[2019-11-09 17:55] #8 closed

[2019-11-09 17:59] v923z commented on #9
Thanks! Should we push this issue upstream, then? I haven't a clue what the problem might be, so I think, it could be beneficial to bring in some micropython developer. I am just not sure what the proper way of raising this issue is...

[2019-11-09 18:38] mdaeron commented on #9
I guess so. Probably [here](https://forum.micropython.org/viewforum.php?f=18&sid=c57cba7cdfa999538047a71e37c740b0)?

[2019-11-10 16:22] v923z commented on #9
Before doing that, we should probably isolate the problem. E.g., what is the result of
[code]
(this would give us an indication as to whether the error comes from the sqrt function) or
[code]
(is the issue related to matrices?) or the python implementation of the std function?
[code]
If these all yield the correct results, then we will probably have to whip up a minimal implementation, without ula

[2019-11-10 16:36] nickovs opened #11 "Support for matrix multiplication operator"
Micropython now supports the PEP 465 syntax for using `@` as an infix binary operator for matrix multiplication (following the merge of micropython/micropython#4947). Classes implemented in C will get their `binary_op` method called with the `MP_BINARY_OP_MAT_MULTIPLY` operator code when the user does this. It would be great if `ulab` supported this syntax in the same way that `numpy` does, since

[2019-11-10 16:39] v923z commented on #11
I definitely agree.

[2019-11-10 16:42] v923z commented on #1
Since no complaint has been filed in the last two weeks, I am closing the issue.

[2019-11-10 16:42] #1 closed

[2019-11-11 05:04] hoanghuy89 commented on #9
First of the float type

`a = np.array([109.5894])
a.rawsize()
(1, 1, 1, 4, 4)`

The result of

`import ulab as np
a = np.array([[109.5894, 117.2053, 69.3245],
[109.5894, 117.1788, 69.3245],
[109.596, 117.1854, 69.3245]])
print(np.mean(a,axis=0))
print(np.sum(a,axis=0))
array([109.5916, 117.1898, 69.3245], dtype=float)
array([328.7748, 351.5695, 207.9735], dtype=float)`

Which is correct, except f

[2019-11-11 07:10] v923z commented on #9
Thanks for the thorough report!

I thought that it was double, but obviously, I was mistaken.

OK, so this proves that the calculation of the standard deviation can't be done in that particular way. One has to use a different formula then. I can make it safe, at the expense of having to iterate the loop twice.

First, I am not sure you can do that, but more importantly, it wouldn't solve the probl

[2019-11-11 09:03] mdaeron commented on #9
How about something like this other formula:
[code]
The `ddof` argument is here to mimic [numpy.std](https://docs.scipy.org/doc/numpy/reference/generated/numpy.std.html).

[2019-11-11 11:06] v923z commented on #9
Exactly. Actually, it can be done in a single pass, at the expense of an extra multiplication and division. I have to see, whether that is faster than running the loop twice. It might also be a bit platform-dependent.

This is a very good point, thanks! I will try to add this.

[2019-11-11 23:10] nickovs opened #13 "Missing .T transpose property"
In `numpy` the transpose of an array `x` can be accessed using the property `x.T`. This is a widely used feature that should be supported.

It should be noted in `numpy` the `T` property points to the same underlying value set, with the array stride values and dimensions reversed. Unless `ulab` changes to track the array strides for all dimensions this may be difficult to replicate.

[2019-11-12 07:06] v923z commented on #13
I would love to, but I haven't yet been able to figure out what properties look like in C. This actually pertains to `.size`, `.shape`, and `.dtype`, too.

On the other hand, I believe, a word of caution would be in place here: in `numpy`, many things can be achieved in more than one way. But implementing a one-to-one behavioural copy on a microcontroller is flash-wise expensive. So, I am actually

[2019-11-12 16:28] nickovs commented on #13
Regarding creating properties from C, I believe it is as simple as creating a regular method for the getter, instantiating a static, ROM-resident `mp_obj_property_t` with your getter method in `.proxy[0]` and pointing to that in the property object in the `.locals_dict` array. Since you won't need setters or deleters you can leave `.proxy[1]`  and `.proxy[2]`  as `None`.

Regarding storage structu

[2019-11-12 17:48] v923z commented on #13
OK, I will check that out. I will also close this issue, and open another one titled `wishlist`. In that way, there is a single point of reference for enhancement-related questions and suggestions.

So, in principle, you would like to change the `ndarray` structure https://github.com/v923z/micropython-ulab/blob/97e98c4d3164da5ae2d6c735d118a61d16e0b479/code/ndarray.h#L37 as follows:
[code]
and then

[2019-11-12 17:48] #13 closed

[2019-11-12 17:49] v923z opened #14 "Wish list"
This is the place, where suggestions related to new functions/functionality and the like should be brought up.

[2019-11-12 17:50] v923z commented on #14
Add properties, like `.T`, `.dtype`, `.shape` and the like to the `ndarray` class.

[2019-11-12 17:51] v923z commented on #14
Let `ndarray`s be of arbitrary dimension.

[2019-11-12 17:54] v923z commented on #14
Add support for matrix multiplication, `@`, operator as described in https://github.com/v923z/micropython-ulab/issues/11

[2019-11-12 17:55] v923z commented on #11
I have added the subject to https://github.com/v923z/micropython-ulab/issues/14, so I am closing this now.

[2019-11-12 17:55] #11 closed

[2019-11-12 17:56] v923z commented on #14
Let `ndarray`s be on the right hand side of binary operators as described in https://github.com/v923z/micropython-ulab/issues/10

[2019-11-12 17:57] v923z commented on #10
Moved content to https://github.com/v923z/micropython-ulab/issues/14.

[2019-11-12 17:57] #10 closed

[2019-11-12 19:00] v923z commented on #9
I have just pushed a fix to testing. Could you, please, check that out, and see if it does what you need. Thanks!

[2019-11-13 07:29] hoanghuy89 commented on #9
Hi,
I got correct result now
`a = np.array([[109.5894, 117.2053, 69.3245],
[109.5894, 117.1788, 69.3245],
[109.596, 117.1854, 69.3245]])
print(np.std(a,axis=0,ddof=1))
array([0.003810186, 0.0137934, 0.0], dtype=float)`
Thanks a lot.

[2019-11-13 09:28] mdaeron commented on #14
Allow indexing an array with another array of integers or booleans, similar to `numpy`:

[code]

[2019-11-13 10:56] hoanghuy89 commented on #9
Btw I got this problem, which works before, maybe because index has been switched to boleen ndarray?

'''
a = np.array([1,2])
b = np.array([1])
print(a-b)
ValueError: operands could not be broadcast together
'''

[2019-11-13 13:31] nickovs commented on #13
[code]

Something like that. The `mp_obj_tuple_t` structure keeps its values in consecutive memory after the object header and therefore are of variable size, so you would need those be pointers. Since you don't need the type flexibility of a true tuple I'd probably go for something more like:
[code]
so that everything but the underlying array is in the same object. Note that you need to include a

[2019-11-13 17:31] v923z commented on #13
Tuples are expensive, one can save some RAM with a `size_t`pointer. But I think, you still need the shape somewhere.

That's right. And it had better be a pointer, because you can have a slice for each axis. So, my proposal would be

[code]

But this is OK in `numpy`:
[code]
as is
[code]

And ndarrays have to be copied, when the index is another `ndarray`. I don't see, how those cases can be handl

[2019-11-13 18:01] v923z commented on #9
I bet, this never worked, because I never got to working out the binary operator code in its entirety.

Now, this is a different issue: `mean`, `std`, and `sum` used to return a single number, if the result was of length one. In the code that you tried, `mean` returned an array of length one. I have modified the code, it returns a float in the case that you mentioned.

Just as a side note, I want

[2019-11-13 18:22] nickovs commented on #13
You don’t need a list of offsets. The slice is always an evenly spaced lattice subset of the original array, so all you need it do know where the origin is and what the strides are on each dimension.

Yes you need to be able to return the shape as a tuple but it will likely be cheaper to store it as a contiguous array of `size_t` and make the shape tuple on the fly when needed.

You are correct th

[2019-11-13 18:35] v923z commented on #13
True.

Right, that is why I wanted to have `size_t *` for that.

OK, that makes sense now.

This statement applies not only to Booleans, but `ndarray`s in general (when they can be interpreted as indices). The example
[code]
should result in a new copy I believe. I don't think that this can reasonably be represented as a view.

[2019-11-13 18:41] nickovs commented on #13
Yes, I think that any access indexed on an array needs to return a copy (and I’m pretty sure that is what numpy does).

[2019-11-14 01:22] nickovs opened #15 "Array shapes where one dimension is length 1 not properly represented"
Currently `ulab` fails to properly displays arrays where the length of one of the dimensions is 1. Furthermore it incorrectly represents the shape of arrays with only one dimension.

To see this consider the following code for regular Python and `numpy`:
[code]
Compare this with the equivalent code in Micropython with `ulab`:
[code]
In the `aa` case the shape is misrepresented as being two dimensi

[2019-11-14 01:54] nickovs opened #16 "Incorrect results from ulab.dot() in ESP32"
When running `ulab` on the ESP32 the dot product function `ulab.dot()` yields erroneous results when the inputs are non-square. For instance:
[code]
While regular binary operators seem to work fine the dot product function behaves very erratically. The fact that it seems to work correctly for square arrays suggest that the problem is likely some transposition of the dimension lengths.

[2019-11-14 02:15] nickovs opened #17 "Subscripting 2-D array returns an array not a single value"
When subscripting a 1-D array with an integer a single value is returned but when subscripting a 2-D array with two integers the result is a 1x1 array containing the value. For example:
[code]

Note that in `numpy` the behaviour of subscripting is simple: dimensions that are indexed with a single value are removed from the result while dimensions that are indexed with a slice or which are not inde

[2019-11-14 02:18] nickovs commented on #13
Note that implementing this model will likely fix the misrepresentation of 1-D arrays and 2-D arrays that have one dimension of length 1, as described in #15.

[2019-11-14 18:15] iabdalkader opened #18 "Epsilon double promotion warning/error."
`MICROPY_FLOAT_IMPL_FLOAT` turns on `-Wdouble-promotion` and `-fsingle-precision-constant` which causes epsilon literal to be float and an implicit conversion from 'float' to 'double' (to match fabs) warning/error. Maybe fabsf should be used instead...

[code]

[2019-11-14 18:37] v923z commented on #18
I think this has been fixed in the testing branch. (All occurrences of fabs have been replaced by MICROPY_FLOAT_C_FUN(fabs).) Can you, please, compile against testing?

[2019-11-14 18:52] iabdalkader commented on #18
Yes this particular issue is fixed in testing, but in the testing branch numerical.c has other issues:
[code]
Including stdio.h and using %zu fixes it.

Can the array fixes be merged in master ? I don't want to have to fork and maintain this repo.

[2019-11-14 19:30] v923z commented on #18
This printout was there for debugging purposes, and is not needed at all. I have removed it, and pushed the fix to master. Let me know if it still doesn't work. (I could compile it for the unix port.)

[2019-11-14 19:39] v923z commented on #17
I know about this, and it is caused by how scalar indices are treated: internally, they are turned into a slice of length one. I could reduce the complexity of the code that way, but I should have caught the output before returning from the function. I am not sure it is worth the trouble now. I hope I can roll out the other implementation sometime during the weekend.

[2019-11-14 19:43] v923z commented on #16
Now, this is clearly wrong. I will find out what the problem is.

[2019-11-14 19:49] v923z commented on #15
I note the bug, but I assigned a low-priority label to it.

[2019-11-14 20:38] nickovs opened #19 "Behaviour of transpose() and reshape() are incompatible with numpy"
In `numpy`, `ndarray.transpose()` returns a view of the original array and `ndarray.reshape()` returns a view when possible and otherwise they returns a new array. In both cases the array object passed in as the **argument is left unaffected**. The current `ulab` behaviour is to **reshape the argument** that was passed and return the modified original.

The code for both of these functions will na

[2019-11-15 01:04] iabdalkader commented on #18
It builds now, thanks for fixing it!

[2019-11-15 01:04] #18 closed

[2019-11-19 10:44] SummerGGift commented on #14
I find ur micropython-usermod series articles today, ur works is great, it's very helpful.

I have used micropython in my work for about two years, during the time, couldn't find many useful articles describe the details in it. i think i will translate some chapters into chinese, and spread them in China.

Thank you very much.

[2019-11-19 17:45] v923z commented on #14
Thank you for your feedback! Since I put the material deliberately into the public domain, I have absolutely nothing against your translating the text.

[2019-11-28 19:52] v923z commented on #16
Nicko, I think I have found the indexing error, and this is fixed in the latest master. I tested it on the unix port, but I assume that it was not port specific.

[2019-12-02 17:57] #9 closed

[2019-12-05 07:41] Neutree opened #20 "multiple definition ulab_ndarray_type"
Great work!

I want to add your ulab to [MaixPy](https://github.com/sipeed/MaixPy) as a submodule,  and I come across two problems,

* variable multiple defined, maybe should change to ` extern const mp_obj_type_t ulab_ndarray_type; `

https://github.com/v923z/micropython-ulab/blob/107587de0077b96bc538ded177ae63cb655da3c3/code/ndarray.h#L27

https://github.com/v923z/micropython-ulab/blob/107587de0

[2019-12-05 20:04] v923z commented on #20
I am glad to hear that, thanks!

Does that mean that you can't compile the code for the maixpy boards?

All c files (e.g. fft.c) include py/obj.h. Since my headers contain not much more than the declaration of the functions, I didn't see too much point in including py/obj.h and similar there. I don't have strong feelings about this, so if you say that this makes your life difficult, I could move t

[2019-12-06 05:42] Neutree commented on #20
Include "py/obj.h" in headers or not is not important for it is included before `fft.h` in c files.

But with definition `const mp_obj_type_t ulab_ndarray_type;` in header file can cause compile error( multiple definition) when multiple c files include it,  I changed this declaration to `extern const mp_obj_type_t ulab_ndarray_type;` and it compile passed. And I'm wondering why it compile pass in

[2019-12-06 07:04] v923z commented on #2
I am re-opening the issue, because I am working on an upgrade for `ulab` that would support images. In particular, the `ndim` branch has a skeleton implementation of arbitrary tensor ranks. The branch is not yet complete, but I think I should be done in a matter of weeks. I just wanted to indicate that this is really in the pipeline.

[2019-12-06 07:11] v923z commented on #20
OK, I can change that, no problem. And thanks for bringing this up!

[2019-12-07 22:49] iabdalkader commented on #2
Awesome! Please let me know when it's ready and I'll help test it, thanks!

[2019-12-08 20:00] v923z commented on #2
Help with testing would be fantastic. I assign you to this issue, then.

[2019-12-29 22:48] GathererA opened #21 "building in CircuitPython"
This is amazing! I've been trying to build ulab in CircuitPython, which I should be able to do as CP is a fork of micropython, but I've been having a lot of trouble. I'm seeing a lot of issues with shadowed declarations and comparison between signed and unsigned integers. When I attempt to make the board in the appropriate port using:

`make BOARD=pybadge USER_C_MODULES=../../../ulab all`

I get t

[2019-12-29 23:06] GathererA commented on #21
also fails when attempting to use the GNU Arm Embedded Toolchain:
`make BOARD=pybadge CROSS_COMPILE=../../gcc-arm-none-eabi-9-2019-q4-major/bin/arm-none-eabi- USER_C_MODULES=../../../ulab all`

[2019-12-30 01:06] GathererA commented on #21
the circuitpython/py files are significantly different than the micropython/py files, I'm wondering if that could be the original issue and if there's any solution

[2019-12-30 02:28] dhalbert commented on #21
CircuitPython has translated messages, so change all the `mp_raise...("some message")` to `mp_raise(translate("some message"))`. Also we use `-Wall` and catch all warnings, so the warnings are probably things that could be fixed to not raise a warning.

[2019-12-30 03:51] GathererA commented on #21
Thanks! Working on changing the internal API stuff around to work out. Quick question, there are a lot of functions, specifically MP_OBJ_FUN_MAKE_SIG that are in micropython but not circuitpython. Where can I find these functions in the libraries? I can't seem to find them in the circuitpython/py or micropython/py libraries.

[2019-12-30 03:57] dhalbert commented on #21
That's a macro. `grep -r` or `ag` is your friend. Note that CircuitPython is based off of micropython 1.9.4, so nearly everything that has been added since then we don't have (we did cherry-pick a few fixes). We will merge from upstream eventually but it's a big job.

[2019-12-30 16:15] v923z commented on #21
If the micropython/circuitpython differences are reasonable (meaning that compilation can be facilitated by means of macros), I could insert those into the code. I just don't have experience with circuitpython, so I don't even know, where to look. Could we make this work by doing something like this:

[code]
Frankly, I would prefer, if we could find a solution that works on all platforms, as oppos

[2019-12-30 16:23] #16 closed

[2019-12-30 19:58] GathererA commented on #21
I believe I've made the ulab/code mostly compatible with CircuitPython through only editing the ulab files rather than also editing the CP files. Now I'm getting this error and I'm not sure where it's coming from:

(base) MacBook-Pro-39:atmel-samd agatherer$ make BOARD=pybadge USER_C_MODULES=../../../ulab all
Use make V=1, make V=2 or set BUILD_VERBOSE similarly in your environment to increase bui

[2019-12-30 20:03] GathererA commented on #21
Navigating to the folders, the files in question are gone, so I suspect they're temporary files generated by my Mac OSX 10.5

[2019-12-30 20:54] GathererA commented on #21
Could it be something to do with the different version of MICROPY that CircuitPython uses? The problem persists when I manually change the MICROPY_VERSION_MAJOR, MICROPY_VERSION_MINOR, and MICROPY_VERSION_MICRO to match what worked for when I build ulab in MicroPython.

[2019-12-31 07:19] v923z commented on #21
I will try to compile circuitpython on a linux machine, perhaps, we can learn something from that. The errors that you quoted above seem to be related to math.h. We could begin with a stripped-down version of ulab. You can remove vectorise.c, fourier.c, numerical.c, and linear.c from your make file, and at the same time, you should also remove all functions in ulab.c that are based on these files.

[2019-12-31 07:58] v923z commented on #21
Does that mean that there is a single exception type in circuitpython? I am sure you have your reasons for modifying micropython, but exceptions are really a core concept of python, and I just can't imagine that yanking that can be justified.

[2019-12-31 10:00] v923z commented on #20
Fixed in https://github.com/v923z/micropython-ulab/commit/81acfc7da8cb83dc7db018411c6fb97c82fdb7de.

[2019-12-31 10:00] #20 closed

[2019-12-31 15:37] GathererA commented on #21
The board will compile if I use Linux rather than MacOS but has warnings that I've attached below. When I load the .uf2 file, though, and attempt to import ulab through the code.py file, then it still doesn't recognize ulab.

make BOARD=pybadge USER_C_MODULES=../../../ulab all
Use make V=1, make V=2 or set BUILD_VERBOSE similarly in your environment to increase build verbosity.
QSTR updated
FREEZE

[2019-12-31 16:13] GathererA commented on #21
In retrospect, I'll probably have to put a specialized version of ulab in circuitpython/shared-modules as well as circuitpython/shared-bindings rather than including it in the command line ("make BOARD=pybadge USER_C_MODULES=../../../ulab all")

[2020-01-01 16:18] v923z commented on #21
Thanks for looking into this. A couple of comments:

1. It seems to me that exceptions are raised in circuitpython as
[code]
so, I believe, we could get away with defining translate as a do-nothing macro in ulab as

[code]
or something similar, and define the argument on the command line, when compiling for micropython.

2. I noticed that you called the absolute value function at a couple of place

[2020-01-01 17:08] dhalbert commented on #21
No, sorry, that was a typo, I meant `mp_raise...(translate("some message"))`. The arguments just take a `translate()` string instead of a bare string.

[2020-01-01 17:11] dhalbert commented on #21
Just for information for others, CircuitPython refactored how modules are used. The Python side of an API is in `shared-bindings/`, and the lower-level implementations are in `shared-modules/` (for port-independent parts of the code), or in `port/<some_port>/common_hal/` for port-specific code. There are modules that have some port-independent code and some port-dependent code.

We did this split

[2020-01-01 17:36] v923z commented on #21
OK, thanks for the clarification! Then the situation is not so bad.

[2020-01-03 05:41] GathererA commented on #21
@dhalbert I'm having an issue where I can load the module (or a part of it that I've started testing with) into circuitpython just fine, but when I ask the REPL or the code.py to print the array, the board crashes. Are there any other mp related commands I'll need to change (as I changed mp_raise)? The print commands use mp_obj_print_helper and mp_print_str.

[2020-01-03 05:49] GathererA commented on #21
adding translate doesn't seem to help in this case

[2020-01-03 09:27] v923z commented on #21
That's a bit odd, because those two are declared in obj.h, in both circuitpython, and micropython.

[2020-01-03 13:52] dhalbert commented on #21
For most things, it wouldn't even compile without changing the calls, as you've done with `translate()`. The print commands should not really be different -- we have not made changes there. At this point I would take a look with a debugger. Do you have a J-Link or similar? I'd set a breakpoint on `HardFault_Handler`, and perhaps further back in the exception-raising code, if that's what's causing

[2020-01-03 14:28] v923z commented on #21
I would really like to propose that we try to fix the issues on something much smaller.
https://github.com/v923z/micropython-usermod/tree/master/snippets/simpleclass/simpleclass.c has everything that is related to printing, and is two orders of magnitude smaller than `ulab`.  We should see, whether we can compile simpleclass.c., and if we fail, how can we modify it in a way that still keeps it in

[2020-01-03 14:48] dhalbert commented on #21
There is not really, any more than MicroPython has a manual. There is an older writeup here https://circuitpython.readthedocs.io/en/latest/docs/common_hal.html of how we structure the source tree. We in general have changed very little about the core interpreter and the Python virtual machine. The major changes we have made in those areas:

- A few changes to support better native-superclass->Pyth

[2020-01-03 14:50] dhalbert commented on #21
@GathererA Have you pushed these latest changes to your fork? Which board are you compiling for?

[2020-01-03 14:55] v923z commented on #21
OK, thanks! I will try to compile a user-defined module for circuitpython. I will start with the unix port, since this issue is not related to hardware at all.

[2020-01-03 15:02] dhalbert commented on #21
We have barely changed the unix port at all, just enough so we can use its tests. and I'm not sure whether the C module user-defined module infrastructure is as you expect, because our last pull from upstream was around v1.9.4.

[2020-01-03 15:05] v923z commented on #21
Yeah, that's a bit unfortunate, but I developed user-defined modules for version 1.8, so I am somewhat hopeful.

[2020-01-03 15:55] GathererA commented on #21
I've just pushed my latest edits to my fork of CircuitPython: https://github.com/spacecraft-design-lab-2019/circuitpython

@v923z I've only been trying to implement ndarray (and not even with all the functionality yet, as I've avoided rawsize and the binary operations as well). I can help you with the implementation into CircuitPython, since you'll need files in shared-bindings as well as shared-m

[2020-01-03 15:56] GathererA commented on #21
@v923z I'd love to assist how I can with the implementation, right now the only class that I've loaded as part of the ulab bundle is ndarray.c: https://github.com/spacecraft-design-lab-2019/circuitpython/blob/master/shared-bindings/ulab/ndarray.c

[2020-01-03 15:57] GathererA commented on #21
Based on the fact that the ulab version isn't correct, I'm assuming that its saving the class to an unknown place in memory, so could it be an issue with QSTR?

[2020-01-03 17:47] dhalbert commented on #21
@GathererA A J-Link is a hardware debugger: https://www.adafruit.com/?q=j-link. We use these all the time.

[2020-01-03 17:48] dhalbert commented on #21
Yes, seems like some kind of build problem, and maybe the class initialization is wrong in some way. We have never used `USER_C_MODULES` in CircuitPython.

[2020-01-03 20:32] v923z commented on #21
Would we learn anything from compiling circuitpython for the unix port? I have only a pyboard v.1.1 at hand, so I can test only on that, and linux.

Till we understand what exactly the problem is, we really have to strip this to the bare minimum. Obviously, if we can't print out the version number, we can't expect the library to work. The version number is saved in ROM as in https://micropython-us

[2020-01-03 21:02] dhalbert commented on #21
I don't think it would be that helpful, because we only use the unix version for core language testing. Its build mechanism is pretty different than the usual ports.

The floating point version number means something is seriously messed up with pointers, so I certainly wouldn't just live with that. It's just the first obvious error that's showing up.

`shared-bindings` contains the Python-visible

[2020-01-03 21:23] v923z commented on #21
I have just looked at @GathererA 's code, and I see that porting a user-defined module to circuitpython is a major undertaking, even if the code does not concern the hardware. I am a bit skeptical now: I no longer think that we can get away with a couple of pre-processor macros.

[2020-01-03 22:29] dhalbert commented on #21
We could be sloppy for now and just put everything in `shared-bindings/`, ignoring the stylistic guidance of separating the API from the implementation. If necessary, the library files could be `#include`'d wholesale from another directory.

[2020-01-04 06:12] GathererA commented on #21
Thanks for all the info dhalbert! If it's okay with y'all, I think I'd like to continue to just put everything in shared-bindings until I get a working copy, then port the code over piece by piece to shared-module. Any clue as to where I should start looking into such an obvious pointer error?

@v923z to answer your question: no, the board breaks whether I use dir(np.array([1]) or just print(np.ar

[2020-01-04 17:06] dhalbert commented on #21
OK, I took a brief look at this. The version number printing problem is because the ulab code is assuming a certain MicroPython object representation. The available representations are `MICROPY_OBJ_REPR_A`, `_B`, `_C`, and `_D`. `C` and `D` encode floating point numbers directly and do not box them in a regular object: `C` uses 30-bit floats, and `D` uses 64-bit floats, and uses illegal float valu

[2020-01-04 18:14] dhalbert opened #24 "ulab assumes that floats are boxed: MICROPY_OBJ_REPR_A or B"
ulab is assuming that MicroPython is built with `MICROPY_OBJ_REPR_A` or `MICROPY_OBJ_REPR_B`, which store floats as boxed objects instead of as immediate values like smallints. In the code below, the float object is assumed to be boxed:

https://github.com/v923z/micropython-ulab/blob/81acfc7da8cb83dc7db018411c6fb97c82fdb7de/code/ulab.c#L29-L34

[2020-01-04 18:24] dhalbert commented on #21
@GathererA You added `bool deinited` to `ulab_ndarray_obj_t`, at the beginning of the `struct`. That broke the assumption by MicroPython/CircuitPython that the first struct field is the object type, and caused the object to be malformed.

Just remove that, and also remove all the `deinit()` and `deinited()` stuff. You don't need that: it exists only for on-chip peripherals and the like that repres

[2020-01-04 20:26] GathererA commented on #21
Wow, taking the deinit bool out fixes the print issue, thanks!!! As for declaring the version as a float, what is the most appropriate way?

`float ulab_version = 0.262;`
`STATIC const mp_rom_map_elem_t ulab_globals_table[] = {
    { MP_ROM_QSTR(MP_QSTR___name__), MP_OBJ_NEW_QSTR(MP_QSTR_ulab) },
    { MP_ROM_QSTR(MP_QSTR___version__), MP_ROM_PTR(&ulab_version) },
    { MP_OBJ_NEW_QSTR(MP_QSTR_arr

[2020-01-04 20:29] v923z commented on #24
Since that is simply a version number, we can definitely change that. What do you suggest? A string, or integers as version major/minor? We could also define `__version__` as an attribute, and hook a function into it, and then we can return whatever we need.

[2020-01-04 21:45] dhalbert commented on #21
I would suggest making the version a string, not a float, to have control over the formatting. E.g., is it "1.10" or "1.1"? And if one wanted to use semver-style, x.x.x, then it can't be a float.

[2020-01-04 21:47] dhalbert commented on #24
Oops, just answered the same question here: https://github.com/v923z/micropython-ulab/issues/21#issuecomment-570822569

[2020-01-06 05:19] GathererA commented on #21
Thanks for all the help guys! I've got ulab working in a basic format with ndarray and parts of linalg, and I've pushed it on my forked circuitpython repo. Will continue to add features and document better. Ultimately would like to change the code to also conform to circuitpython coding practice with a shared-module as well as a shared-bindings folder
<img width="515" alt="Screen Shot 2020-01-05 a

[2020-01-06 19:49] lhargrove opened #25 "Issue with np.mean"
This is a great package, and I was working through the examples provided in the documentation. I had some trouble replicating the np.mean function. (See output below). I am working on the SF6 hardware on Microptyhon v1.12-43-g54a2584de-dirty  using ulab version 0.263

`import ulab as np`
`a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])`
`print('a: \n', a)`

a:
 array([[1.0, 2.0, 3.0],
         [4.

[2020-01-07 19:38] v923z commented on #25
Thanks for reporting the issue, I will look into it.

[2020-01-07 19:50] v923z commented on #21
This is a very good point, thanks for bringing it up. I would then suggest something along the lines

[code]

@GathererA, could you, please, check, whether this is compatible with circuitpython? I could compile it for micropython, and got the expected results.

This is great, though, I have mostly been just cheering you on from the sideline...

Is there some common ground that we could establish?

[2020-01-07 20:54] v923z commented on #25
I have pushed a fix to master. Could you, please, check if this solves the issue? Thanks!

[2020-01-07 21:49] lhargrove commented on #25
That fixed the issue for me. Thanks so much for the quick reply.

[2020-01-09 17:46] v923z commented on #25
OK, glad to hear that. Actually, it has been there in the testing branch for almost two months, but somehow I have forgotten to merge it. Closing now.

[2020-01-09 17:46] #25 closed

[2020-01-13 14:37] Aggropatics opened #26 "Can't create 2d np.arrays with only 1 element"
np.array([[1,2]]) should return a two dimensional array with only one element. Accessing said array with array[0] should return [1,2] and it should be passable to arguments such as argsort() which takes in an ndarray. I have not been able to create such an array with ulab. Using reshape() doesn't affect the issue.

Examples:

ulab
import ulab as np
arr = [[1,2]]
arr2 = np.array(arr)
arr2[0]
1.0

n

[2020-01-13 19:40] v923z commented on #26
Thanks for reporting the issue! I think I know what the problem is. I will try to fix it in the next couple of days.

[2020-01-14 08:22] Aggropatics commented on #26
Thank you for the quick response!

[2020-01-17 17:58] v923z commented on #26
On second thought, I don't think that this issue can be rectified in the master branch. The `ndim` contains the skeleton of an implementation that can deal with these cases. You can definitely try that out, but I am not sure it can do everything you need. I need a bit of time to finish that.

[2020-01-18 20:35] spluttflob opened #27 "Compiling for Nucleo-L476RG"
Some changes had to be made to compile ulab into MicroPython v1.12-93 for the Nucleo-L476RG.  After the following changes were made, everything seems to work well.  NOTE: I'm new to building custom C modules for MicroPython, and these problems may have been caused by my doing something (or many somethings) incorrectly.

* `mp_const_none_obj`, `mp_const_true_obj`, and `mp_const_false_obj` were unre

[2020-01-20 08:48] Aggropatics commented on #26
I'll try that, thank you. Hope you can get around to this! Having these features for the micro controller world is a game changer.

[2020-01-20 18:32] v923z commented on #26
Actually, I am not that far, I feel. One comment: at the moment, you have to initialise the array from a linear iterable, and then you have to reshape it.

[2020-01-20 19:04] v923z commented on #27
First, many thanks for reporting the issue. I really appreciate that you also suggested a fix.

I have updated the code, and pushed the changes to master.

Yes, it is. User modules can now be completely be decoupled from micropython itself, and I think, this is good so: https://micropython-usermod.readthedocs.io/en/latest/usermods_03.html

The ulab source files are then only found if moved from th

[2020-01-20 21:05] spluttflob commented on #27
I am pleased to report that after downloading a fresh copy of MicroPython and ulab and following your suggestions for correcting my directory structure, the code compiles and runs on the Nucleo-L476RG, Nucleo-F411RE, and Nucleo-F446RE without modification.  Many thanks for the assistance.

[2020-01-20 21:05] #27 closed

[2020-01-21 18:09] v923z commented on #27
Fantastic! Thanks for the feedback!

[2020-01-23 12:26] roger- commented on #14
How about a circular buffer compatible with ndarray (but fixed size of course)? Would avoid all the memmoves needed with roll().

[2020-01-23 17:47] v923z commented on #14
This is definitely true, in fact, I also wanted to implement this. This would be extra compared to numpy, right? Actually, this is why I chose the name `ulab` and not `unumpy` or something similar.

Basically, you want a sub-class of ndarray, with a special method, say, `insert`, which would move the pointer. The question is, perhaps, what would you do with the numerical methods? Some do not care

[2020-01-23 18:00] roger- commented on #14
I’ve seen discussions about having numpy support this, but currently I don’t think it does. I believe Micropython has it though, but only exposed at the C level.

Yup I think an insert() would be the main addition. Or maybe insert() and insertleft() for more flexibility.

Wouldn’t all methods be applicable? Order should be preserved with the only difference being the size will change (up to a maxi

[2020-01-23 18:11] v923z commented on #14
Oh, snap! I have accidentally edited your comment. Sorry!

[2020-01-23 18:16] roger- commented on #14
Haha no prob :)

Here’s the MicroPython one: https://github.com/micropython/micropython/blob/master/py/ringbuf.c

Internally the pointer is moving but from the users perspective it’s a linear array, right? The index will only be valid once you don’t change the array.

[2020-01-23 18:29] v923z commented on #14
Thanks!

Let us suppose, I insert multiples of 10 into an initially empty (is that zero, by the way, or something else?) buffer:

[code]
Is it what you meant by the circular buffer? In other words, when the pointer is at `position`, and you insert a new item, you do it at `position+1 modulo length`.

Now, what is the value of argmin([50, 60, 30, 40])? Do we regard this as a linear array, beginning

[2020-01-23 18:42] roger- commented on #14
I envision having a start and end pointer. When the user indexes the array, they mean the offset from the start pointer.

Not sure if that makes sense.

[2020-01-23 18:45] v923z commented on #14
It does, and exactly this is why it is a bit more than an `ndarray`, so certain methods must be equipped with appropriate facilities. It should be doable, though...

[2020-01-23 18:53] roger- commented on #14
Depends on if you insert at the start or end pointer (one will move at a time).

It should be possible to wrap all of this so that functions can be used for both linear or circular arrays but it may be a lot of work (probably easier in C++).

[2020-01-23 18:55] v923z commented on #14
OK, so this is not really critical.

Not necessarily: one simply has to shuffle the array for `argmin`, `polyfit`, `polyval`, and slicing.

[2020-01-26 15:41] lhargrove opened #28 "Issue with dot on PYBD_SF6"
I am having an issue running np.dot(). I am running on PYBD-SF6 using version 0.26.5. It appears that a row matrix times a square matrix works fine. However, when I use dot with a square matrix times a column matrix, the results aren't as expected. It appears to only provide the first element in the expected result  (14,32,50)

`MicroPython v1.12-92-gd89ed3e62-dirty on 2020-01-26; PYBD-SF6W with S

[2020-01-27 19:28] v923z commented on #28
Thanks for reporting the issue, I will look into it. I am wondering, though, how you printed out the version number: that should be `np.__version__`: https://github.com/v923z/micropython-ulab/blob/b2c47499624b5b58c741c6e83098da06f119d752/code/ulab.c#L117

[2020-01-27 19:50] lhargrove commented on #28
That was a cut and paste error on my part, sorry about that.

[2020-01-29 18:28] v923z commented on #28
I have found the error, and corrected the error. I hope it is OK now.

[2020-02-04 23:39] dhalbert commented on #21
FYI, we (the CircuitPython team) forked ulab, made a few minor changes, and have a PR to CircuitPython to include it. We're reformatting the doc to link into ours and use standard function signatures, etc. @jepler is doing the work: thanks @jepler! He got it going quickly. If you want to try it, there are build artifacts under the dropdown on the right-hand side of https://github.com/adafruit/circ

[2020-02-05 02:53] jepler commented on #14
`numpy.convolve`

[2020-02-05 17:59] v923z commented on #14
This is an interesting idea, and it could be quite useful. I will look into that. Alternatively, you can take a stab at the implementation, and then issue a pull request:) I assume you meant 1D, real, right?

[2020-02-05 18:17] v923z commented on #21
Dan,

Many thanks for the update!

OK, let me know if you can come up with a reasonable scheme, I would be more than happy to incorporate your modifications. It doesn't even need to be a proper PR.
Do you think that we can somehow establish a code base that is compatible with both micropython, and circuitpython?

I think I know where the culprit is: the `binary_op`, where most of the things happen

[2020-02-05 18:34] jepler commented on #14
Yes, we want to try using convolve as a way to do high/low pass filters on sensor data in circuitpython, so 1d is fine as an initial case.  We'll create the filters using pure Python code, I think, since they are create once use many times.

[2020-02-05 19:38] v923z commented on #14
Oh, then this is a slightly different issue. For similar reasons, I have been considering a filter module, something along the lines of https://github.com/peterhinch/micropython-filters . I have to admit, I don't know enough about digital filters, though, and that is why I sort of gave up on the idea.
But I will try to hack a convolution implementation over the weekend, perhaps even earlier.

[2020-02-05 20:43] jepler commented on #14
@v923z I'll give it a try.  Would convolution go in numerical?  I was thinking that always returning floats was in some sense easiest.  numpy seems to do modulo arithmetic when working with dtypes like int8 fwiw

[2020-02-05 20:44] jepler commented on #14
also, np.convolve supports 3 modes; I think we'd start with the default of "full" again for simplicitly

[2020-02-05 20:52] v923z commented on #14
Based on my comment above, I would create a new module, filter.c/h, so that later that can be extended with other filter functions.

I believe that, too. upcasting is expensive in terms of flash space. In order to get the float values, you could call `ndarray_get_float_value();` from `ndarray.c.` .

I have already started to work on an implementation, but I don't want to steal your thunder. Let me

[2020-02-05 22:40] GathererA commented on #21
Wow, @dhalbert this is amazing! Thank you so much for the update! I'm sorry for the delay, I've been swamped since the beginning of school again. We've been updating our own bespoke version of ulab with some other functionality like norms, cross products, simple stuff. Since we only need linalg and ndarray in the ulab repo, we've just loaded those onto the board and it barely fits! What would be t

[2020-02-06 03:36] jepler commented on #21
Ideally, when it comes to adding functionality, you could PR it to micropython-ulab and then we could merge that into circuitpython-ulab. It means more work for circuitpython centric people (for instance to first add without `translate()` and then add it in when merging), but it's fairest to upstream.

[2020-02-06 07:15] v923z commented on #21
@GathererA First, if you have new functionality, let us have it! You implemented those, because you found use for them, but then chances are, it could help others, too. So, please, let us include those functions!
Second, @dhalbert also indicated that space is a concern. As I said earlier, I am working on a more modular design, so one could then choose which functions should be compiled into the fi

[2020-02-06 18:06] v923z commented on #21
@dhalbert Dan, I am trying to add the empty `translate` macro to micropython. You have mentioned somewhere that circuitpython makes a `CIRCUITPY` or similar flat available, but I don't find your comment on this. Can you help out with that?

[2020-02-06 18:30] dhalbert commented on #21
@v923z In `py/circuitpy_mpconfig.h` we `#define CIRCUITPY 1`. That include file is included in `mpconfigport.h` for all the ports we support. So you can just `#ifdef CIRCUITPY` to check if it's a CircuitPython build.

[2020-02-06 18:32] dhalbert commented on #21
Actually do this:
`#if defined(CIRCUITPY) && CIRCUITPY`
because we set it to `0` if it's not defined. We try to avoid `#ifdef`s and use `#if BLAH` instead, so that we can catch missing definitions of `BLAH`.

[2020-02-06 18:34] v923z commented on #21
Thanks!

[2020-02-06 19:04] v923z commented on #21
@GathererA Andrew, in addition to my earlier comments, we could save flash space by working with fewer types. We lose a lot, wherever we have to iterate over the elements, and in C you can do that only by stipulating the type. Especially bad is binary_op, where the scaling in the number of types is quadratic. At the moment, there are 5 and a half types (5 numerical types, and the Boolean). I was w

[2020-02-06 20:51] v923z commented on #21
@GathererA  Andrew, I have just created a new branch, `1dim`, where you can arbitrarily switch off individual functions by defining them in `ulab.h`. I have also included the `translate` macro. @jepler has cleaned up the circuitpython-ulab repository pretty well, so it should be now pretty simple to compile the code for circuitpython. Let me know if there is anything else that I could do to make t

[2020-02-06 22:07] jepler opened #30 "Crash (wrong argument types not handled?)"
[code]

I've encountered a number of these; I think it's where both arguments need to be ndarrays, but it's not caught as an exception but leads to segmentation fault / hardfault instead.  Do you want them reported separately as I encounter them?  (this is the only one I wrote down so far)

[2020-02-07 00:14] jepler commented on #21
I'll look into whether we can switch to this branch, translate() seemed to be the main difference so maybe circuitpython can carry fewer local changes. You plan to maintain this configurable branch or merge it to your master branch @v923z ?

[2020-02-07 07:32] v923z commented on #21
I think it would make sense to keep this separate. My longer-term goal is to merge the `ndim` branch into master, but that is heavier on the flash, and it could be a show-stopper for smaller platforms. The `1dmin` branch is a very good testbed, because it is significantly smaller and simpler than anything else.

As for configurability, I am going to make the master branch configurable, too (if you

[2020-02-07 07:36] v923z commented on #30
No, I think the issue is clear, I will look into it. And you are correct, the pointer is converted to an `ndarray_obj_t` without any considerations in the first two lines of https://github.com/v923z/micropython-ulab/blob/0315408e055a991854c53766b36954d603d9ca80/code/linalg.c#L186 . I think this is an easy one.

[2020-02-07 15:29] GathererA commented on #21
Yeah! That'd be great! We're developing this code for a spacecraft microcontroller, so we can keep everything (all of the data) in floats without decreasing the applicability.

Amazing, I'll take a look

[2020-02-07 19:11] v923z commented on #21
If you need only floats, then we could really trim the code. I think I can make it configurable, so that we don't have to maintain 10 parallel versions. Do you need 2D structures, or can we get away with linear arrays?

[2020-02-07 20:25] v923z commented on #21
@GathererA  Andrew, the master branch is also configurable now. You can try to strip all functions that you don't need. I hope you can save some space with that.

[2020-02-07 20:31] v923z commented on #30
@jepler  Jeff, the code of the latest commit bails gracefully out now, if you try to dot improper types. Let me know if this fixes the issue.

[2020-02-07 20:42] v923z commented on #24
@dhalbert Since this issue has been address somewhere else, I am closing it now.

[2020-02-07 20:42] #24 closed

[2020-02-08 19:14] jepler opened #32 "Slicing difference vs numpy"
It seems that too few elements are in the result.

[code]
vs
[code]
Let me know if you'd like me to look into this.

[2020-02-09 18:58] v923z commented on #32
Thanks for reporting the issue, and the offer. I have located the error, and fixed it in 936bb3b, https://github.com/v923z/micropython-ulab/blob/936bb3bae55dfdc81d1c8d9580905ae0ac760a44/code/ndarray.c#L218

You can close the issue, if you are satisfied with the solution.

[2020-02-10 21:46] GathererA commented on #21
@v923z Thank you so much. We need 2D structures, since we're hoping to do Cholesky and LU decomposition for solving linear algebra. We've gotten around the space issue just by adding more flash memory to our boards, but I'll pull the `1dim` branch and see how much space that saves us.

[2020-02-11 07:08] v923z commented on #21
The master branch (2d) is also configurable now, so you can rip everything you don't need.

[2020-02-11 17:49] jepler commented on #32
Hi!  thanks for fixing the issue I initially reported.  I think there are still slicing differences, though.  Here's a more extensive test program.  While it tests a lot of cases, it finishes in way under a second on unix  micropython.  When run under python3, it doesn't print any differences between list and array indexing.  Furthermore, I verified that micropython and python3 both slice the list

[2020-02-11 19:17] v923z commented on #32
Uh, then it is a bit more involving than initially thought. I will check this.

[2020-02-11 19:50] jepler opened #34 "numpy difference: argmax() should return a scalar"
ulab on circuitpython:
[code]

numpy:
[code]

[2020-02-12 18:59] GathererA commented on #21
@v923z Amazing. Thank you so so much. We'll be pulling and merging with our code soon. Additionally, we've implemented an agnostic function that allows the user to plug whatever C code they'd like to into an ndarray format. This helps for our purposes so that we can write up stuff like Cholesky decompositions in MATLAB autocoder (blegh, I know I'm sorry) and then just pick and place them into the

[2020-02-12 19:17] v923z commented on #21
@jepler fixed all outstanding issues related to circuitpython integration. His changes are under review at the moment, but as far as I have seen, they have passed all tests, so it might become part of circuitpython in the coming days. Quite a few people have been cheering him on. Fantastic work, give him a big hand! https://github.com/adafruit/circuitpython/pull/2583

This is an interesting approa

[2020-02-14 02:05] GathererA commented on #21
Yeah!! We've just been toying with it. I'll ask my teammate Paul to chime in.

Yes! That's the hope, launching later this year on our Stanford student team mission.

Andrew

[2020-02-14 17:35] jepler opened #38 "cosh() missing"
This might simply be an oversight?

[2020-02-14 18:49] v923z commented on #38
No, I hold a personal grudge against `cosh`:-)

[2020-02-14 18:52] #38 closed

[2020-02-15 14:06] lhargrove commented on #28
Yes, everything seems to be working fine now. Thanks again for this excellent package!

[2020-02-15 14:11] #28 closed

[2020-02-15 16:08] v923z commented on #28
Thanks for the feedback!

[2020-02-17 17:55] lhargrove opened #40 ".transpose() missing"
I recently updated to version 0.32.0 and notices that the .transpose() function was not available.
`

(5, 3)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'ndarray' object has no attribute 'transpose'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'ndarray' object has no attribute 'transpose'
`

[2020-02-17 19:04] v923z commented on #40
Thanks for reporting the issue. This was caused by our efforts to make micropython-ulab and circuitpython-ulab compatible. However, the main problem is how micropython itself resolves properties. I have already proposed a solution. I hope this will soon be solved upstream.

Till then, I have implemented a temporary fix. The downside is that properties won't work in micropython, so you have to call

[2020-02-22 20:44] pdetrempe commented on #21
[Here's the fork with the boiler plate cholesky factorization using ulab. ](https://github.com/spacecraft-design-lab-2019/circuitpython/tree/array_to_CP)

The relevant boiler plate code is in the /shared-bindings/ulab/controller and /shared-bindings/ulab/__init__ source and header files.

[2020-02-23 14:47] v923z commented on #21
Thanks for the update! Would it be OK, if we included this in the standard library, so that others could make use of it?

[2020-02-23 15:21] v923z opened #42 "add Cholesky decomposition to `linalg`"
As discussed in https://github.com/v923z/micropython-ulab/issues/21#issuecomment-589996391, add the Cholesky decomposition to `linalg`. The `numpy` interface is defined in https://docs.scipy.org/doc/numpy-1.17.0/reference/generated/numpy.linalg.cholesky.html

[2020-02-25 01:35] GathererA commented on #21
@v923z for sure! We are just finding the Cholesky decomposition by itself, not finding the solution to a system of equations. Full disclosure, we are chugging very hard on getting all of the building blocks we need in CircuitPython to fly our satellite by the launch date (later this year). The main mathematical linear systems blocks we need are (1) Cholesky decompositions (we figured we might as w

[2020-02-25 16:08] v923z commented on #21
You can diagonalise a matrix with `ulab`. I think the eigenvalues are even sorted, but I am not sure at the moment. On top of that you need the cross product of vectors. We could insert that into the main library. It is definitely a useful addition.

Well, you are under absolutely no obligation to contribute, so I guess, this should be fine:) I could be able to move the Cholesky function into the

[2020-02-25 16:09] v923z opened #43 "add cross product"
Add the cross product function https://docs.scipy.org/doc/numpy/reference/generated/numpy.cross.html

[2020-02-29 17:08] GathererA commented on #21
Wonderful, thanks!!

[2020-03-01 06:00] codemee opened #51 "No need to define MODULE_ULAB_ENABLED in mpconfigport.h"
Since the micropython.mk file has added the following line

[code]

There's no need to add `#define MODULE_ULAB_ENABLED (1)` in the mpconfigport.h.Or it would make redefined errors while compiling code.

[2020-03-01 15:11] v923z commented on #51
Could you, please, point to the error? I thought that this was in the manual, but I don't find it.

[2020-03-01 17:48] #32 closed

[2020-03-02 04:13] codemee commented on #51
In the compiling section in README.MD, it says

[2020-03-03 20:36] #30 closed

[2020-03-03 20:42] v923z commented on #51
I will close the issue, since you have contributed a fix. Thanks again!

[2020-03-03 20:42] #51 closed

[2020-03-04 03:10] codemee commented on #51
No problems.Thanks.

Zoltán Vörös <notifications@github.com> 於 2020年3月4日 週三 上午4:42寫道：

--
----------------------------------------------------------------------
Facebook：http://www.facebook.com/meebox
Mee's Note：http://meebox.blogspot.com/ <http://www.mee.idv.tw/>

[2020-03-05 13:19] jepler commented on #21
I'm going to go ahead and close this up since ulab landed in circuitpython via https://github.com/adafruit/circuitpython/pull/2583 and also unmodified micropython-ulab will build in circuitpython, just in case you need some latest updates.  (the only delta we are carrying in circuitpython-ulab is a modification to README!)

[2020-03-05 13:19] #21 closed

[2020-03-10 15:34] #40 closed

[2020-03-10 15:37] lhargrove opened #58 "AttributeErrors when calling np.mean(), np.std(), etc."
I am working with version 0.36.0 and I don't seem to be able to access np.mean(), np.std(), np.min(), np.max() and other functions. There seems to be an "AttributeError" 'module' object has no attribute 'mean' "

[2020-03-10 17:30] v923z commented on #58
You have to call them from `numerical`, like so

[code]
Further examples can be found under https://circuitpython.readthedocs.io/en/latest/shared-bindings/ulab/__init__.html.

We have factored out almost all functions into sub-modules, so that the size of the firmware can be reduced: https://micropython-ulab.readthedocs.io/en/latest/ulab.html#customising-ulab.
I still have to update the manual, th

[2020-03-10 19:51] #58 closed

[2020-03-10 19:57] v923z commented on #42
@pdetrempe, @GathererA this is now part of the main branch.

[2020-03-10 19:57] #42 closed

[2020-03-10 19:59] v923z commented on #58
@lhargrove I have updated the documentation, it should be OK now.

[2020-03-11 18:26] v923z opened #60 "add arctan2 to vectorise"
`arctan2` requires two operands, so the implementation should be similar to that of binary operators. The `numpy` reference is here: https://docs.scipy.org/doc/numpy/reference/generated/numpy.arctan2.html

[2020-03-11 18:48] v923z opened #61 "add round to ndarray"
The title says it all. https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.round.html

[2020-03-13 16:35] Marius-450 opened #64 "indexing by boolean list is slow"
Trying to optimize an inner loop, I've tried to limit the computations by indexing an array with a boolean list. unfortunately, it take waaaay more time for each iteration.
example code on circuitpython :
[code]
output (timing in ns) :
[code]
I am testing with : *Adafruit CircuitPython 5.0.0-37-geebe76997 on 2020-03-09; Adafruit Monster M4SK with samd51j19*

[2020-03-13 19:40] v923z commented on #64
If you just want to overwrite the entries `a[5:10]`, then why do you need a Boolean array? The problem is that a slice is just that, the elements between index 5, and 10. On the other hand, the Boolean index runs from 0 to 1000, and you have to inspect all elements, since you don't know, where the Trues are. I don't know how exactly this is done in `numpy`.

[2020-03-14 12:09] Marius-450 commented on #64
This was a simple example to illustrate.
I calculate pixel values for a row at a time. I have a for loop where I record the number of iterations for each pixel before reaching a threshold. Boolean indexing was the solution here, but it's slower (by 3 to 5 times) than the naive non ulab number crushing method... (it is also useful to know when every pixel is calculated. It can save 200 iterations o

[2020-03-14 20:12] v923z commented on #64
Are you saying that the python-only implementation is faster by a factor of 3 to 5?

However, I should point out that the Boolean indexing will always be slower than slicing the same array, because you have to traverse the array at least twice: first to find out, whether the indexed array is compatible with the left hand side, and second for the actual computation. Since Boolean indices don't have

[2020-03-14 20:54] Marius-450 commented on #64
yes. a complete mandelbrot set computation, with 256 iterations, takes around 120 secs with a python implementation (going around complex numbers operations was a very effective optimisation)
the better I can get with ulab is 177 sec, computing everything except one boolean slicing (to update only the "not finished" pixels)
I understand it is not a big gain to expect, but I was not expecting a x10

[2020-03-15 20:12] v923z commented on #64
Well, the Mandelbrot set doesn't easily lend itself to vectorisation, and a computation of that is slow even in numpy. I also have to admit that fractals are probably the last that would come to my mind, when thinking about ulab.

[2020-03-16 20:26] v923z commented on #60
@Marius-450, @jepler 94e5b30 implements arctan2: https://github.com/v923z/micropython-ulab/blob/round/docs/manual/source/ulab.rst#arctan2

[2020-03-16 21:19] #61 closed

[2020-03-16 21:29] v923z commented on #60
@Marius-450 this is now in master. I don't know, though, what happens on the `circuitpython` end after this. In any case, I am closing this now. Open a new issue, if you find a bug!

[2020-03-16 21:29] #60 closed

[2020-03-20 03:23] skylin008 opened #66 "undefined reference to `roundf'"
I had been download the latest verison ulab,when make it, it showed the error information as follow:

LINK build-PYBV11/firmware.elf
build-PYBV11/code/vectorise.o: In function `vectorise_around':
vectorise.c:(.text.vectorise_around+0x76): undefined reference to `roundf'
Makefile:597: recipe for target 'build-PYBV11/firmware.elf' failed
make: *** [build-PYBV11/firmware.elf] Error 1

How to solve th

[2020-03-20 21:06] v923z commented on #66
I have just found this error myself, and it turns out that it can easily be fixed, however, not in `ulab`, but in `micropython` itself. So, navigate to `/micropython/ports/stm32`, and there find
[code]
in the `Makefile`. You should add `roundf.c` to the `SRC_LIBM` list like so:

[code]

I will try to push a fix upstream to `micropython`. Till then you have to insert `roundf.c` by hand. Sorry for t

[2020-03-20 23:11] skylin008 commented on #66
OK,Thanks!

[2020-03-24 20:56] v923z commented on #66
@skylin008 the makefiles have been corrected in https://github.com/micropython/micropython/commit/c5cc64175be32cb1e4f3f1a249667bc9f5a12613. I think this should resolve the issue. You can close it, if it is so.

[2020-03-26 13:07] #66 closed

[2020-03-28 16:17] mouryarahul opened #67 "Indexing by Boolean List seems to malfunction"
I'm not sure if I'm doing any mistake, but indexing using boolean list is not working as expected. See below the result:

MicroPython v1.12-167-gf020eac6a-dirty on 2020-03-06; PYBD-SF6W with STM32F767IIK
Type "help()" for more information.

a:       array([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype=float)

a < 5:   array([], dtype=float)

Is there any workaround? Thanks for your suggestio

[2020-03-28 18:22] mouryarahul commented on #14
@v923z do you plan to add in near future something equivalent to **_numpy.power_** in the **vector** sub-module as the existing **_arctan2_** ?

[2020-03-30 09:39] v923z commented on #14
Actually, what I wanted to add is `**` to the binary operators. Or is there a significant difference between `**`, and `power`?

[2020-03-30 09:57] v923z commented on #67
Thanks for reporting the issue! This indeed seems to be an error. I will try to find out what the problem is, and implement a fix.

[2020-03-30 11:06] mouryarahul commented on #14
Thanks for your comment. I tried to see any difference between `**` and `power` in the CPython, but didn't see any difference. So, implementing `**` as the binary operator will serve the purpose. I agree with you that power operation is a bit more involved. When I checked documentation of `numpy.power`, it mentions: "Note that an integer type raised to a negative integer power will raise a ValueEr

[2020-03-30 20:16] v923z commented on #67
The fix is in master. You can close the issue, if it solved the problem.

[2020-03-30 20:36] #67 closed

[2020-03-30 21:14] v923z commented on #14
Many thanks for digging out the details!

On second thought, there might be a reason for not doing so: if you implement `**`, then you can no longer exclude it, because it will be a method of the `ndarray`. So, I am leaning towards implementing `power` in `vectorise.c`, and simply provide `**` as an alias for the case, when `vectorise` is included.

So, the claim is that integer types should only

[2020-03-31 10:18] mouryarahul commented on #14
In fact, NumPy has implemented all these kinds of functions with verbal names rather than using symbolics intentionally to keep it clear,  such as numpy.power, numpy.multiply, numpy.matmul, etc.

In fact, I did the implementation in `vectorise.c`, which is the exact copy of `arctan2` and replaced the final calculation by:

`*array_r++ = MICROPY_FLOAT_C_FUN(pow)(value_x, value_y);`

And this produc

[2020-03-31 10:40] mouryarahul commented on #14
A minimalistic equivalent of numpy.copy can be useful in many cases.  How do I perform in straight way:
`ulab.linalg.dot(A.transpose(), A)` ? because `transpose` is performed in-place. In Numpy, we can perform:

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

array([[ 66.,  78.,  90.],
       [ 78.,  93., 108.],
       [ 90., 108., 126.]])

whereas in ulab, it results into:

Trace

[2020-03-31 19:13] v923z commented on #14
This seems to be an inconsistency. Thanks for spotting it! I will open a new ticket.

You could always do something like this:
[code]
(The first is a bit cheaper.)

[2020-03-31 19:20] v923z commented on #14
That might be OK in certain cases, and it can be fatal in others. E.g., if you need the remainder of the powers of 3, when they are divided by 256, you can do that as

[code]
If you do the upcasting, you can no longer use the results. This might be a contrived example, but whenever bit manipulation is involved, you almost certainly need integers. `arctan2` is a no-brainer, because the result is al

[2020-03-31 19:22] v923z opened #71 "make `.transpose` consistent with `numpy`"
In `ulab`, the `transpose` method is an in-place operation, i.e., it doesn't return a new array, while `numpy` does.

@mouryarahul

[2020-03-31 20:30] v923z commented on #64
@Marius-450 do you want to keep this issue alive?

[2020-03-31 20:33] v923z commented on #71
Closing this, since this is identical to https://github.com/v923z/micropython-ulab/issues/19 .

[2020-03-31 20:33] #71 closed

[2020-03-31 21:51] mouryarahul commented on #14
I agree with you. So, I think if when we implement any numpy equivalent function, we should try to be compatible as much as possible but keeping in mind the memory constraint.

[2020-04-01 06:34] v923z commented on #14
A complete implementation of the `**` operator is already in the https://github.com/v923z/micropython-ulab/tree/power branch. As soon as it is reviewed, i can merge it.

[2020-04-01 13:20] mouryarahul opened #72 "Ambiguity in Comparison operators"
I was trying to implement numpy.linalg.norm in the pythonic way, e.g., L0-norm, and got this when doing:
`>>> a`
`array([1.2, 0.0, -1.3, 0.25, 1.45, -0.35, 2.0], dtype=float)`
`>>> a != 0.`
`True`
`>>> a[a != 0.]`
`Traceback (most recent call last):`
 ` File "<stdin>", line 1, in <module>`
`IndexError: too many indices `
I see that there isn't any mention of `!=` comparision in the documenation. I

[2020-04-01 15:25] KaiJan57 opened #73 "ssize_t is not portable"
https://github.com/v923z/micropython-ulab/blob/ac3f03c3bad9a40417f94be095c8337d1fc9c109/code/ndarray.c#L254

Might give compilation errors on other platforms. I think it would be a good idea to change the type or at least to add `#include<unistd.h>`

[2020-04-01 16:28] mouryarahul opened #74 "Minor inconsistency in accessed the one element from ndarray"
I'm not sure if this is intentional:
`>>> a = np.array([[1,2,3],[4,5,6],[7,8,9]])`
`>>> a[1,1]`
`array([5.0], dtype=float)`
`>>> a[1][1]`
`5.0`
why in the first case we get an array while in second case a numeric value? In numpy, both result into a numeric value rather in array container.

[2020-04-01 20:15] v923z commented on #74
This shouldn't be so. I thought I had sorted this out, but this is obviously not the case. Thanks!

[2020-04-01 20:18] v923z commented on #73
Might, or does? Which platforms could potentially be problematic?

I have absolutely nothing against including unistd.h, if that solves the problem, thanks for the suggestion! But in order to be able to test the hypothesis, we would have to know on which platform we have to compile.

[2020-04-01 20:24] v923z commented on #72
I think this happens, because indices must be either slices, single integers, or a list of Booleans, and `a != 0` returns a single Boolean. But you hit the nail on the head, `!=` is not implemented, so I would suggest that we keep the issue open for now.
Do you happen to know if in `numpy` the equality is implemented in the strict sense, or the values have to be only close?

[2020-04-01 20:34] v923z commented on #14
Closing the issue: feature request should have their own threads.

[2020-04-01 20:34] #14 closed

[2020-04-01 20:36] v923z opened #76 "Feature requests"
If you find that you would need a `numpy` function that is not implemented in `ulab`, please, open a new issue for each function you want to have implemented. This issue is locked, and cannot be appended to.

[2020-04-01 20:43] mouryarahul opened #77 "Certain malfuction in numerical.sort function"
I'm not sure, is this happening only in my testing! I'm running test on:

The numerical.sort function is corrupting a certain element in the matrix:
`>>> a`
`array([[6.058420993051577, 2.018588295338188, 6.307303740008193, 6.743567296659661],
         [3.760399477657426, 1.501626760992716, 1.020398368879967, 1.903483081086812],
         [5.20075447514754, 0.7655233559988428, 0.2730999062713479, 5.

[2020-04-01 21:06] v923z commented on #77
Something is definitely wrong in the function. That is also obvious from the fact that you get `4.550686286587561e-314`. I will have to check this out. Sorry for the trouble.

[2020-04-01 21:48] v923z commented on #77
I have found the glitch. https://github.com/v923z/micropython-ulab/pull/79 should be a fix. If you are satisfied, please, close the issue.

[2020-04-01 22:56] mouryarahul commented on #72
@v923z Comparing to zero has always been tricky. I'm not sure, how do they implement the `==` or `!=` in Numpy or Python itself. But, can't we call the same function from the micropython and operate it elementwise to have similar behaviour. In fact, both numpy and math have a function like `isclose`, whose precision can be controlled by the user. Maybe we can also implement `isclose` function too

[2020-04-02 06:33] v923z commented on #72
That will be slow: the whole idea behind `ulab` (and `numpy` for that matter) is that you detach _numerical_ operations from the type-agnostic (micro)python implementation, and that is how you gain speed. Also, (micro)python has no notion of the numeric C types, so you can't just iterate over an array, and call the (micro)python functions with the items. First you would have to convert the element

[2020-04-02 07:59] v923z commented on #14
@mouryarahul see https://github.com/v923z/micropython-ulab/pull/80, and a short comment on the performance and subtleties in the docs: https://micropython-ulab.readthedocs.io/en/latest/ulab.html#initialising-by-passing-arrays I hope this is a satisfactory solution.

[2020-04-02 08:59] KaiJan57 commented on #73
The compilation error occurs indeed, namely when ulab is integrated into [this](https://github.com/Omega-Numworks/Omega) project, which is a calculator operating system that supports micropython. I could only manage to fix this error by adding said include statement.

[2020-04-02 09:02] v923z commented on #73
Thanks for the comments! I will add the include, then.

[2020-04-02 09:06] KaiJan57 commented on #73
Thank you very much!

[2020-04-02 09:06] #73 closed

[2020-04-02 09:07] v923z commented on #73
@KaiJan57 Jan, I have merged a fix into master. https://github.com/v923z/micropython-ulab/pull/81
Let me know if this is an acceptable solution.

[2020-04-02 09:11] v923z commented on #73
I have overlooked your comment on this. Can we do something upstream that would make your life easier? It would benefit everyone, if `ulab` were a plug-and-play module.

[2020-04-02 09:32] mouryarahul commented on #72
I think Python and numpy.equal use the same operator from C, i.e.,  `==` and `!=`. I think we should also use the same to compatible with them. However, as I suggested, we should also provide the `isclose` function where users can choose their precision.

[2020-04-02 09:36] v923z commented on #72
But the question, what you operate on: if you compare two ndarrays, then you compare the objects, not the contents. On the other hand, what you will is comparison of contents.

Your point is taken. Should `isclose` be part of the core, or some module?

[2020-04-02 09:54] mouryarahul commented on #72
I guess `numpy.equal` and `==`  compares the component of the array:
`>>> a = np.array([1.543645274878272])`

`>>> b = np.array([1.543645274878271])`

`>>> np.equal(a,b) `

`array([False])`

`>>> a == b`

`array([False])`

I think we can implement `==` and `!=` in the core and `isclose` in the numerical module.

[2020-04-02 10:03] KaiJan57 commented on #73
I think you have done everything you could. The last change made everything compile successfully and the "hassle" I was talking about originates from Omega's build system, so I'm quite sure we're good with what we have right now.

[2020-04-02 12:49] mouryarahul commented on #14
Great! I think this will serve the purpose of `numpy.copy`.

[2020-04-02 13:56] #34 closed

[2020-04-02 21:26] mouryarahul commented on #77
@v923z is this intentional? Shouldn't be `axis = None` by default when not provided by user?
`>>> ulab.__version__`
`'0.39.1'`
`>>> b`
`array([[1, 2, -5, -4, 0],`
`         [0, -3, 0, 2, -3],`
`         [4, -5, 4, 3, -5],`
`         [0, 1, -1, 0, 0]], dtype=int16)`
`>>> ulab.numerical.sort(b)`
`array([[0, 1, 2, -5, -4],`
`         [0, 0, 2, -3, -3],`
`         [3, 4, 4, -5, -5],`
`         [0, 0,

[2020-04-03 06:08] v923z commented on #77
Yes, it is intentional: https://docs.scipy.org/doc/numpy/reference/generated/numpy.sort.html
-1 is just short for last axis.

[2020-04-03 06:47] v923z commented on #72
I am not trying to re-implement `numpy`: that assumes practically unlimited resources that a microcontroller doesn't have. So, one has to be selective in which functions should be implemented.

Again, all operations that involve two operands are expensive. You can either resolve the C types in both arrays separately, https://github.com/v923z/micropython-ulab/blob/034cdaf7e3ff50b8659fc462e8eb33f181

[2020-04-03 08:33] mouryarahul commented on #77
Great! I missed to see this in NumPy. I guess now we can close this issue.

[2020-04-03 08:33] #77 closed

[2020-04-03 16:49] mouryarahul commented on #72
Well, I do not agree totally with you. Operators such as `==` and `!=` are very basic in most of the programming languages and numerical libraries because there are many situations where you literally have to compare objects for equality/non-equality.
I agree that binary operations are expensive and their implementation consume ROM/Flash memory, but if I've to achieve the same in pythonic way:
`[[

[2020-04-03 20:29] v923z commented on #72
That is an error in the implementation, and I hadn't yet time to fix it. Sorry.

That is definitely true, but there is already a fast workaround, namely, your original solution:

[code]
All I am claiming is, if there is already a solution, and there is not too much to gain by implementing a different approach, then one has to think twice. I don't see the point in a hackish implementation, and base

[2020-04-06 07:15] v923z commented on #72
@mouryarahul I think https://github.com/v923z/micropython-ulab/pull/84 should fix this issue.

[2020-04-06 07:17] v923z commented on #64
@Marius-450 In https://github.com/v923z/micropython-ulab/pull/84, operator testing is moved outside the for loop, hence it should be faster now.

[2020-04-06 09:17] mouryarahul commented on #72
@v923z Great! Thanks!

[2020-04-06 10:00] mouryarahul opened #85 "Out of curiosity about using CMSIS library"
@v923z Hi, I was wondering if there exists already optimized Math and DSP library for ARM uController and found that there is one provided by ARM itself called [CMSIS](https://github.com/ARM-software/CMSIS_5), I guess you may be aware of it. I see that Micropython does use the only device driver part from CMSIS library from ST in the port stm32. I was wondering will it be possible to include CMSIS

[2020-04-06 13:32] jepler opened #87 "argmin/argmax of iterable: results differ from ndarray and numpy"
[code]
but
[code]
and
[code]

[2020-04-06 20:07] v923z commented on #87
This is sort of OK, and intentional: argmax and similar functions will work with one-dimensional iterables only: https://github.com/v923z/micropython-ulab/blob/280f04660e4ee7b56117c21bfe87a0274429e965/code/numerical.c#L151
We should probably throw an exception, if this is not the case. The same applies to the other numerical functions: https://github.com/v923z/micropython-ulab/blob/280f04660e4ee7b

[2020-04-06 22:22] jepler commented on #87
No, I don't have a strong opinion. I looked at this code because there was an unused argument diagnostic nearby. The behavior isn't actually anyone to the best of my knowledge.

[2020-04-06 22:55] mouryarahul commented on #85
I think CMSIS is not just abstraction but contains [numerical/mathematical functions](https://github.com/ARM-software/CMSIS_5/tree/c4c3480075295f226774bf134c00e91441aef1aa/CMSIS/DSP/Source) optimized for ARM Cortex M and others using available SIMD and Hard Floating Point instructions, which cannot be always achieved by generic math library and the compiler. I see it as the BLAS & LAPACK library f

[2020-04-07 07:30] v923z commented on #85
That would be the maintenance hell. At the moment, the single assumption of `ulab` is that `micropython` works. I do not want to work at the hardware level, however tempting that is.

https://github.com/micropython/micropython :
Note that MicroPython is licenced under the MIT license, and all contributions should follow this license.

And what do you do, if ARM decides to change their licence cond

[2020-04-07 07:39] v923z commented on #87
I think at least 1D iterables should be supported, and the question really is how we prevent accidents like your example from happening. An easy way out would be to call `mp_obj_get_float`, and then compare numbers, instead of using `mp_binary_op(...)`.

And I have to go back on my earlier comment: `std`, `mean` and the like will not produce the error you found, because they do call `mp_obj_get_fl

[2020-04-07 09:30] mouryarahul commented on #85
Thanks! Well, at the moment, I'm following your guidelines on how to extend ULAB. If I've or I need any suggestion, I'll convey to you.

[2020-04-07 09:30] #85 closed

[2020-04-07 09:37] v923z commented on #85
If you think that the community would profit from your implementation, you can issue a PR.

[2020-04-07 18:45] mouryarahul opened #89 "Certain inconsistency in numerical.argsort function"
@v923z I'm not sure if this is intentional?

[code]
whereas the documentation of `ULAB` mentions: "Since during the sorting, only the indices are shuffled, argsort does not modify the input array...". The original array is flattened when `axis=None`. The `Numpy` behaves as the documentation of `ULAB` mentions.

[2020-04-07 20:37] v923z commented on #89
No it wasn't, thanks for reporting the issue. I think https://github.com/v923z/micropython-ulab/pull/90 should fix it.

[2020-04-07 21:10] v923z commented on #87
@jepler https://github.com/v923z/micropython-ulab/pull/91 is an attempt at a solution. If you agree, you can merge it, otherwise let me know if you have other suggestions.

[2020-04-09 19:29] v923z commented on #19
https://github.com/v923z/micropython-ulab/pull/92 should fix the issue.

[2020-04-09 19:29] #19 closed

[2020-04-09 19:31] v923z commented on #74
Duplicate: https://github.com/v923z/micropython-ulab/issues/17

[2020-04-09 19:31] #74 closed

[2020-04-11 03:22] yxdragon opened #93 "CNN extend for Numpy-like interface"
Hi, Glad to find this repo.
Numpy is the base of science analysis in python. So micropython-ulab is a meaningful repo.

And now CNN is very prevent everywhere. So we wrote [Planer](https://github.com/Image-Py/planer), Powerful Light Artificial NEuRon. It is a CNN framework based on pure Numpy-like interface (with out any kernel code, just use reshape, transpose, concadinate, dot, and + - * /). I t

[2020-04-11 05:01] v923z commented on #93
Thanks!

I don't think that you are going to run into problems with compilation etc., so I guess, the question really is, whether, if necessary,  `ulab` could be modified/extended. I would be more than happy to do that. I see that you want to have concatenate. At the moment, it is not in `ulab`, but I have been planning to include that. It's is relatively little work, so would be no problem.

[2020-04-12 17:41] v923z commented on #93
@yxdragon Since this is actually a question, rather than an issue, I am closing it now. Open a new ticket, if you run into an implementation glitch, or if you need modifications of any kind! Thanks!

[2020-04-12 17:41] #93 closed

[2020-04-12 17:43] v923z commented on #64
@Marius-450 I believe, this is all that I could do at this point, so I am closing the issue now.

[2020-04-12 17:43] #64 closed

[2020-04-13 12:36] mouryarahul commented on #17
@v923z Again, I'm not sure if this is intentional:
[code]
I see that you've put this issue at "low priority", but I guess this should be considered as a "serious" bug. This has created a bit confusion when I'm trying to use ULAB.

[2020-04-13 14:42] v923z commented on #17
No, it is not, and this is why it is registered as an issue.

I certainly understand your frustration, but you have to keep in mind that `ulab` is an open-source project that we develop in our _free_ time. We fix bugs as our time permits, and unfortunately, we can't overcome the 24-hours-per-day limitation that everyone has. You can't expect that everything will work right away. I find such demand

[2020-04-13 17:27] mouryarahul commented on #17
Please don't take my comments as a "demand". I do understand that `ulab` is an open-source project and you devote quite a time into it. This is highly appreciable work you've been doing.

I'm very much interested to contribute to the project. In fact, I've been going through your other repo `micropython-usermod` user guide. But, I guess I will take some more time to contribute to the codes of `ula

[2020-04-13 20:31] v923z commented on #17
No offence was taken, I simply wanted to explain, why things don't go as fast as you (or I, for that matter) would like.

Let me know, if you bump into a particular difficulty! I would actually think that contributing to `ulab` is probably easier than going through the user guide, because `ulab` contributions concern implementations of mathematical algorithms, and you don't have to care too much a

[2020-04-13 20:33] #87 closed

[2020-04-13 21:53] mouryarahul opened #94 "Bug in ulab.linalg.dot function"
@v923z `linalg.dot` seems to have a certain bug:
[code]
whereas the correct result from Numpy is:
[code]
Seems that it has something to do with way the elements are stored in the array!
Can you reproduce the same at your end?

[2020-04-13 22:29] mouryarahul commented on #17
I mean a document something like [NumPy Reference](https://numpy.org/doc/1.18/reference/index.html). At the moment, I don't how it's produced/maintained and I've never use sphinx too. But, such a document will be very handy for the `ulab` contributors such as yourself. I would suggest that if we want `ulab` be easier (useful) for the users, we must implement it with exactly the same input/output b

[2020-04-14 06:31] v923z opened #95 "reference document"
@mouryarahul I have opened a new issue for the documentation.

The continuation of the conversation in https://github.com/v923z/micropython-ulab/issues/17

[2020-04-14 06:35] v923z commented on #17
Since the topic of this conversation diverted quite considerably from the original subject, I opened a new ticked in https://github.com/v923z/micropython-ulab/issues/95

[2020-04-14 06:37] v923z commented on #95
OK, it's clear now. I am working on it, but I am not quite done yet. It didn't make sense to release a complete document before the internals are sorted out.

We haven't implemented anything un-numpythonic, and we made a point of it. From the users' standpoint, `ulab`'s behaviour is identical to `numpy`'s, with missing implementations. (E.g., the `convolve` function won't take all possible keyword

[2020-04-14 07:09] v923z commented on #94
Indeed, there was in indexing error in the function implementation. I have fixed it in https://github.com/v923z/micropython-ulab/pull/96.

[2020-04-14 07:09] #94 closed

[2020-04-14 07:10] #89 closed

[2020-04-14 07:10] #72 closed

[2020-04-17 20:35] PaintYourDragon opened #97 "Feature request: clip()"
Feature request: an equivalent to numpy’s clip() function. Sure, same operation can be done in a couple lines of Python, but the speed of occurring entirely in ulab space would be a big plus. Thanks.

[2020-04-18 04:48] rprr opened #98 "Failure to compile"
Cannot seem to get it to compile for an ESP32. On both Linux (Ubuntu) and Mac OS X. Here is the failure. The same error seems to occur when building for the PYBV11 as well.

[code]

[2020-04-18 06:01] teuler commented on #98
I ran into the same problem. Compiling ulab produces a lot of warnings that (with default setting) are treated as errors. Try removing the flag `-Werror` in `~/micropython/ports/esp32/Makefile` (see `CFLAGS_COMMON`). This should not be a permanent solution, of course. It would be better to fix the ulab code such that these warnings are treated.

[2020-04-18 06:31] v923z commented on #97
Noted. Give be a couple of days!

[2020-04-18 06:43] v923z commented on #98
No, it should not be. I am working on a solution. Sorry for the trouble.

[2020-04-18 07:15] v923z commented on #98
@rprr Thanks for reporting the issue! It crept in unnoticed via an upstream change in `micropython`: https://github.com/micropython/micropython/commit/def76fe4d9bbc2c342594dc05861b24d7165d274

https://github.com/v923z/micropython-ulab/pull/99 should fix it. I tested it on the `stm32` port. If you still have difficulties, let me know, otherwise, you can close the issue.

@teuler Thomas, thanks for

[2020-04-18 07:29] rprr commented on #98
It builds and loads. On my esp32 with PSRAM. Thank you for your quick response. I pulled the latest.

[code]

[2020-04-18 07:29] #98 closed

[2020-04-18 07:46] teuler commented on #98
Thanks for taking action that quickly

[2020-04-18 09:37] teuler opened #100 "Does not compile when using most current MicroPython"
After the fix https://github.com/v923z/micropython-ulab/issues/98 concerning the warnings (see there), I thought it might be also a good idea to use the newest MicroPython code. Unfortunately, compiling ulab now throws a lot of errors. The list below is just the beginning. Looks like a systematic issue.

CC ../../../modules/ulab/code/ulab.c
In file included from ../../py/mpstate.h:35:0,

[2020-04-18 09:40] teuler commented on #100
P.S.: I am referring to the ESP32 port
[code]

[2020-04-18 09:53] v923z commented on #100
@teuler Thomas, could you, please, roll back your `micropython` to a previous version that still compiles? I am not set up for compiling for the ESP32 at the moment. I have tested https://github.com/micropython/micropython/commit/28833690bb9701cc9c381d0fd71f3a94d67f9c2f  on the unix and stm32 ports without issues. It would help, if we could find out, which `micropython` commit triggers the errors.

[2020-04-18 10:17] teuler commented on #100
Sure, I can do that for my stuff. I just wanted to report it because at first, it did not look like a port specific issue but rather that it systematically cannot find a specific set of macros.
Hmm, if other ports work fine then I could be ESP32 specific ...

[2020-04-18 10:20] teuler commented on #100
Before updating, I used a commit from last week. I just saw that 4 days ago, the ESP32 port was updated to using IDF v3.3.2. I'll post if I find out more

[2020-04-18 10:48] v923z commented on #100
I am pretty sure this is a port-specific issue, I just don't see what it could be. E.g., here is the my unix prompt

[code]

The ESP32-related commits appear to be quite innocent. I will also set up my ESP32 environment, and try to find out, what's going on here.

[2020-04-18 10:57] teuler commented on #100
Wait with that for a minute. I think I found the problem. Hang on ...

[2020-04-18 11:00] teuler commented on #100
Now it compiles. The issue was the recent switch from IDF v3.3.1 to IDF v3.3.2. Somehow just updating the environment was not sufficient. I setup the whole chain again and now it works. Sorry for the inconvenience.

[2020-04-18 11:00] #100 closed

[2020-04-18 11:02] v923z commented on #100
Absolutely no problem, and thanks for the feedback! I also forgot to point out that
[code]
is probably required.

[2020-04-20 13:01] lhargrove opened #102 "Does not compile on PBD_SF6"
I noticed a few recent issues on ulab not compiling for the newest version of Micropython. I am having a similar issue. There seem to be lots of errors/warnings.

lhargrove@lhargrove-VirtualBox:~/micropython/ports/stm32$ sudo make BOARD=PYBD_SF6 USER_C_MODULES=../../../ulab all
Use make V=1 or set BUILD_VERBOSE in your environment to increase build verbosity.
Including User C Module from ../../../

[2020-04-20 14:10] v923z commented on #102
Thanks for reporting the issue! I will look into it.

[2020-04-20 20:37] v923z commented on #102
@lhargrove Again, thanks for bringing this up! These errors are caused by https://github.com/micropython/micropython/commit/30840ebc9925bb8ef025dbc2d5982b1bfeb75f1b. I will try to fix it as soon as possible, but till then I would recommend roll back `micropython` to the state prior, https://github.com/micropython/micropython/commit/f31f9a8b70db03cbcbcf39b493f959d0e284962a. I have tried that, that

[2020-04-20 21:09] v923z commented on #102
@lhargrove https://github.com/v923z/micropython-ulab/pull/104 fixes the issue, I could compile `ulab` for the PYBD-SF6 board.

[2020-04-20 21:09] #102 closed

[2020-04-21 21:31] v923z commented on #97
@PaintYourDragon @ladyada see https://github.com/v923z/micropython-ulab/pull/106 (it is actually more than what was requested).

[2020-04-21 21:31] #97 closed

[2020-04-23 19:34] v923z opened #107 "feature request: implement interp"

[2020-04-24 20:16] 95Fox commented on #107
thanks for your help,  moving from the other thread to here to follow this.

[2020-04-26 19:46] v923z commented on #107
@95Fox https://github.com/v923z/micropython-ulab/pull/109 adds the required feature. It would be great, if you could respond to the request there.

[2020-04-27 22:29] v923z opened #111 "better separation of core and user functions"
Currently the `extras` module is meant to be a user module, yet, contains the implementation of `spectrogram`. Such a mingling of user and core code makes updating from git difficult.

Two alternatives could be to either
1. move `spectrogram` to a core module (`fft` would make sense here), thereby emptying `extras`

or

2. leave everything as it is, and add an empty `user` module, which would then

[2020-04-27 22:34] tannewt commented on #111
Why do you need a user module at all? Couldn't they just make their own outside of ulab?

[2020-04-27 22:38] v923z commented on #111
Because the module still has to be bound at the top level: https://github.com/v923z/micropython-ulab/blob/cf61d728e70b9ec57e5711b40540793a89296f5d/code/ulab.c#L97

If there is a user module, they don't have to touch anything in the core, they can implement their functions separately.

[2020-04-28 06:24] teuler commented on #111
In my view, the extras module is quite useful to add a bit of own functionality while using all the infrastructure of ulab. Still, I agree that extras should be empty except maybe a small example function as a starting point for users. This would also be better than having the example code only in the documentation, where it needs to be kept up to date in addition to the version in extras

[2020-04-28 06:48] v923z commented on #111
Actually, I realised that something was off, when I saw your code. If we add anything to `extras`, you'll have difficulties.

[2020-04-28 09:13] teuler commented on #111
I agree that I "misuse" extras currently. I am testing by how much I can speed up my MicroPython code by strategically replacing bits with C code; these bit currently may not be of general use - either because they feature no thorough type checking or because they consider special cases. I am still experimenting. An your library is a great playground.

In general, my thinking was that extras could

[2020-04-28 09:39] v923z commented on #111
No, actually, this was the original idea behind `extras`, and then I accidentally placed `spectrogram` into that module. That was the mistake.

At the moment, there is no easy way of sub-classing at the C level, so the customisation that you envision is probably not doable. It would be great, in fact, if that was the case, then you would only need what is in `ndarray.c`, nothing more. But I don't

[2020-04-28 12:59] dhalbert commented on #111
I won't try to speak for @jepler, but CircuitPython doesn't try to be pedantic about `static`. If a function is useful, it could be called from elsewhere.

In CircuitPython, the Python bindings and the argument validation is done in `shared-bindings/<modulename>/<submodule_or_Class>.c`. Then the actual implementation is done in either `shared-module/<modulename>/<submodule_or_Class>.c` (for port-i

[2020-04-28 20:47] v923z opened #112 "factor out algorithms in a re-useable form"
The issue came up in a different context here: https://github.com/v923z/micropython-ulab/issues/111, and in particular in the comment https://github.com/v923z/micropython-ulab/issues/111#issuecomment-620483197, and asks for some re-factoring of the code, so that functions could be re-used in the user modules.

It should still be discussed, how exactly the decoupling should happen, and which functi

[2020-04-28 20:48] v923z commented on #111
@dhalber, @teuler thanks for the comments! Since this developed into a separate issue, I have opened a new ticket: https://github.com/v923z/micropython-ulab/issues/112

[2020-04-28 22:54] dhalber commented on #111
@dhalbert not @dhalber

[2020-04-29 09:32] v923z commented on #111
Indeed. Sorry for the noise!

[2020-04-29 11:26] teuler commented on #112
A possibility here would be to do it the way I did it with `transpose` (unfortunately, I haven't yet pushed the respective code to the repository for here to show): To use ulab elements (i.e. `ndarray`) to pass data but keep all micropython related code and the type checking in the "interface" - assuming that new user functions that offer a micropython interface do their own respective checking.

[2020-04-29 20:28] v923z commented on #112
Could you compile a list of functions that would be useful for you? Before turning the whole library upside down, we could try to do the decoupling for the functions that you actually need. That could also serve as a test bed. We might have to iterate a couple of rounds before we find a working solution, and I would rather do that on a small sample.

[2020-04-30 19:36] v923z commented on #112
I think, `transpose` is not a good example: it is in `ndarray.c` with the assumption that it is a method of the array itself, so absolutely no type checking takes place: https://github.com/v923z/micropython-ulab/blob/cf61d728e70b9ec57e5711b40540793a89296f5d/code/ndarray.c#L960
It is also exposed in the header file: https://github.com/v923z/micropython-ulab/blob/cf61d728e70b9ec57e5711b40540793a8929

[2020-05-01 01:57] DeqingSun opened #113 "Feature requests: ability to adjust "PRINT_MAX""
ulab has a fixed PRINT_MAX, and this makes print array inconvenient in the debugging process.

numpy.set_printoptions can do it. And the default value is larger in Numpy

[2020-05-01 04:49] teuler commented on #112
Sorry for the delay. My daytime job ...
You are right about transpose.

[2020-05-01 06:46] v923z commented on #113
I think this is relatively easy to fix, I can do that. I would, however, only support the `threshold`, and perhaps the `edgeitems` keyword arguments in the first round. I hope that is OK.

[2020-05-01 10:04] v923z commented on #113
@DeqingSun Could you, please, look at https://github.com/v923z/micropython-ulab/pull/114? Just check out the print branch, and see if it does what it is supposed to. Thanks!

[2020-05-01 18:39] DeqingSun commented on #113
Awesome!
Here is my test:
[code]
output is
[code]

[2020-05-18 17:03] jepler opened #117 "Weirdness with "scalar * array""
This may be "*" only, "/", "-", and "+" seemed to work.

[code]

[2020-05-18 17:50] v923z commented on #117
Indeed, this is not correct. I will look into this. Thanks for reporting!

[2020-05-19 18:37] #117 closed

[2020-05-19 18:38] v923z commented on #117
@jepler https://github.com/v923z/micropython-ulab/pull/119 fixes the issue! It was a trivial (and embarrassing) mistake in the binary code.

[2020-05-19 18:46] #113 closed

[2020-05-19 19:18] v923z commented on #107
This function is available in the main via the `approx` sub-module, so closing now.

[2020-05-19 19:18] #107 closed

[2020-06-10 04:57] skylin008 opened #124 "compiling on openmv"
Hi, I had update the ulab in openmv platform,but some errors show as follow:
In file included from ../../extmod/ulab/code/fft.c:21:0:
../../extmod/ulab/code/fft.c: In function 'fft_fft_ifft_spectrum':
../../extmod/ulab/code/ndarray.h:33:22: error: implicit declaration of function 'MP_ERROR_TEXT'; did you mean 'MP_ROM_INT'? [-Werror=implicit-function-declaration]
 #define translate(x) MP_ERROR_TEXT

[2020-06-10 05:33] v923z commented on #124
@skylin008 Thanks for reporting the issue! This is caused by recent changes in `micropython` itself, and the culprit is the `translate` macro in https://github.com/v923z/micropython-ulab/blob/4a3c12e427d3a3fb64443b521a5fd15c3df792bd/code/ndarray.h#L33 which expands into the original `micropython` definition in https://github.com/micropython/micropython/blob/29e258611ace8e4de51d810d5ff14364a5fbb950

[2020-06-11 01:10] skylin008 commented on #124
@v923z Thanks for your kindly advice.I will be try.

[2020-06-11 15:28] iabdalkader commented on #124
Hello, yes we're using MicroPython 1.9.4 and older ulab. There's no plan to update any time soon as things are stable.

No I set the board name, so you'd have check for all boards. Maybe it's better to check for MicroPython version if possible, or I could just add that macro to misc.h until we update.

[2020-06-11 17:15] v923z commented on #124
I think that won't work: this change was committed on the 14th of April, but `mpconfig.h`, where the `micropython` version is defined,  was not modified around that time

https://github.com/micropython/micropython/commits/246f3f640dd635f67269bfdbebe23408f77cd2b0/py/mpconfig.h

It seems to me that the `micropython` version is updated only, if user-facing modifications (the python API) are implement

[2020-06-12 01:23] iabdalkader commented on #124
Why don't you just check if `MP_ERROR_TEXT` is defined ?
[code]

[2020-06-12 05:56] v923z commented on #124
@iabdalkader @skylin008 Could you, please, check, whether you can compile with https://github.com/v923z/micropython-ulab/pull/125 (https://github.com/v923z/micropython-ulab/tree/openmv-fix)? Thanks!

[2020-06-12 05:59] v923z commented on #124
@iabdalkader We have fixed a number of smaller bugs recently, so you might want to update `ulab`.

[2020-06-12 18:56] iabdalkader commented on #124
This fixes the `MP_ERROR_TEXT` issue, but there's a lot of other errors, for example we're missing  is_bool and mp_obj_slice_indices, and the ulab_user_cmodule has been changed from const to non const. I think 1.9.4 is just not compatible with the latest ulab. I'll make sure to update the submodule when updating micropython. @skylin008 can probably get this building with some modifications in the

[2020-06-12 19:54] v923z commented on #124
@iabdalkader I can try to look into this. Could you please, tell, where to bind `ulab` to `openmv`?

[2020-06-12 20:19] iabdalkader commented on #124
Just clone the repo recursively, it will pull all the dependencies:

https://github.com/openmv/openmv.git

You'll find ulab in src/micropython/extmod/ulab

If you want to pull the latest, in ulab `git fetch origin && git pull` or try `git pull origin master`

[2020-06-12 20:25] v923z commented on #124
OK, thanks!

[2020-06-13 02:32] skylin008 commented on #124
@v923z  @iabdalkader  Yes,I'm here 。I had update the lasted ulab. Rebuild the firmware, Any Error as show:
#define translate(x)   x
#endif
"micropython/extmod/ulab/code/ndarray.h" 149L, 6461C written
phonelink@phonelink-Ubuntu:~/Desktop/openmv/openmv/src$ make
Use make V=1 or set BUILD_VERBOSE in your environment to increase build verbosity.
Warning: FROZEN_MPY_DIR is deprecated in favour of FROZE

[2020-06-13 09:13] v923z commented on #124
I have tried to dig a bit deeper, and here is what I've found:

1. objslice.c has gone through some major re-work since 1.9.4. I think, this could be solved by defining the required functions ourselves (I can, at least, compile the code, if I do that)

2. in ulab.c, I had to change the declaration of `ulab_user_cmodule` like so

[code]
3. in ndarray.h, I had to add

[code]

With these modification

[2020-06-13 09:40] v923z commented on #124
Oh, I see, the make fragment is not used at all. I had to modify `Makefile` in `openmv/src' as

[code]
and then `extmod.mk` in `openmv/src/micropython/extmod` as

[code]
With that I get a piece of firmware that I can't test, since I haven't a board:
[code]

@skylin008 In addition to what I had written in the last post and this, you also have to add a function to `ndarray.c`:

[code]
just before `s

[2020-06-13 14:58] skylin008 commented on #124
@v923z ,Thank you for your support .The issue be solved.

[2020-06-13 15:02] v923z commented on #124
@skylin008  Thanks for the feedback, I am glad it worked out! I would re-open the issue, so that @iabdalkader has a chance to comment on the `openmv`-specific remarks. I believe, with a bit of work, we could make the code `openmv`-compatible.

[2020-06-14 15:46] khashdroid opened #126 "Question: IIR filters?"
Hi there!
Great library!
I'm working with a nrf52840 board and I need to do some basic filtering. say I have a precomputed IIR filter and I want to apply it to a signal. I was wondering if ulab offers a function to apply an IIR filter to a signal (since you have more advanced functions such as FFT).
Thanks!

[2020-06-14 17:56] v923z commented on #126
At the moment, there is only convolution in the `filter` sub-module. You can find a great example under https://learn.adafruit.com/ulab-crunch-numbers-fast-with-circuitpython/fir-filter-example-pulse-rate-estimation, and https://learn.adafruit.com/ulab-crunch-numbers-fast-with-circuitpython/filter-example-measuring-barometric-pressure

If you need something more advanced, we could definitely add t

[2020-06-14 20:40] khashdroid commented on #126
Thanks a lot for the swift response!
Would be awesome to see the ulab version of the "**sosfilt**" function from scipy. It would match exactly what I'm looking for.
i.e. []((https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.sosfilt.html#scipy.signal.sosfilt))

[2020-06-14 21:29] iabdalkader commented on #124
Hi, yes I can update the Makefiles and add `mp_obj_slice_indices` to py/objslice.c, also can export OPENMV in CFLAGS. Any reason why ulab_user_cmodule should not be const ? Also all the other modules in mpconfigport.h are declared like this:
[code]
I don't know why `struct _mp_obj_module_t` is used instead of the typedef `mp_obj_module_t`, probably old code that never got updated.. But it should b

[2020-06-15 05:23] v923z commented on #126
I don't know this particular filter, so I would have to look into how it actually works. But I see that it could be useful.
@jepler is it OK, if we stick this into the filter module?

[2020-06-15 05:28] v923z commented on #124
I was thinking that I could add `mp_obj_slice_indices` to a local file that we include only for `openmv`, so that we wouldn't mess up your side.

That would be great, thanks!

I don't know. I don't care, as long as it compiles. @jepler Jeff, is it OK, if we change the function signature here?

We can definitely add a tag. People usually take the latest code, and compile it into their firmware with

[2020-06-15 20:23] iabdalkader commented on #124
It's okay, I'll add it and when I update MicroPython will fix conflicts..

const keeps it in flash, like all the other micropython modules, otherwise it goes into initialized ram and we're tight on ram.

[2020-06-15 20:59] v923z commented on #124
I think https://github.com/v923z/micropython-ulab/pull/125/files should fix it now. In addition, you'll need https://github.com/v923z/openmv/commit/f8261abd66f23653005c5718d433f21232c5e1ce, and a similar one in https://github.com/openmv/micropython/blob/19c2bc76e0e65371db21cc690652f139d82d97ba/extmod/extmod.mk#L233

I couldn't commit to that, because that is a sub-module, so here is the content:

[2020-06-16 16:23] iabdalkader commented on #124
Hi I tried adding `mp_obj_slice_indices` to objslice.c it depends on a missing function which in turn depend on other missing functions. It's just becoming messy to update this way, I'll wait until we update MicroPython then all of this won't be necessary.

[2020-06-16 17:06] v923z commented on #124
That's right, but _your_ users might be of a different opinion;)

I could add the function to `ulab`, if you want...

[2020-06-16 17:13] iabdalkader commented on #124
Yes maybe it's best this way, when you do please add a tag, I'll then update the submodule and fix the makefiles.

[2020-06-16 17:36] v923z commented on #124
If you define OPENMV somethere, you should be able to compile with the
https://github.com/v923z/micropython-ulab/tree/openmv-fix branch. If you succeed, let me know, so that I can merge the stuff into master, and add a release tag.

Also, please, ping me, when you update `micropython`, so that we can remove redundant code here. (Redundant code would also prevent you from compiling `ulab` on your s

[2020-06-16 17:49] iabdalkader commented on #124
No doesn't build, I'm getting a lot of errors about missing qstrs:

[code]
And this goes on.

[2020-06-16 17:53] v923z commented on #124
The only thing that is not in the PR above is the definition of

[code]
I have that at the top of `ndarray.h`, because I was lazy to find out how I could pass it to the makefile. Otherwise, I pulled your full repository yesterday night, and that is what I have been working. Here is my compile log:
[code]
skylin008 also seemed to be able to compile.

[2020-06-16 17:57] v923z commented on #124
Since I have no boards, I just ran `make` in `openmv/src/micropython`. Is that the difference?

[2020-06-16 18:09] iabdalkader commented on #124
Never mind it's building fine now, that's weird yeah probably didn't make clean. Okay so you can now merge and add the tag, I'll do the rest.

[2020-06-16 18:16] v923z commented on #124
I have merged the code with the PR https://github.com/v923z/micropython-ulab/pull/125
Here is the release tag:

https://github.com/v923z/micropython-ulab/releases/tag/0.50.2

[2020-06-16 18:16] #124 closed

[2020-06-17 20:29] v923z commented on #126
@khashdroid Could you, please, check out the `sosfilter` branch (https://github.com/v923z/micropython-ulab/tree/sosfilter), and see if it does what you want? I have tried a couple of combinations, and tested it against `scipy`. It appears to be OK.

Actually, it would be fantastic, if you could provide a test script along the lines https://github.com/v923z/micropython-ulab/tree/sosfilter/tests

If

[2020-06-18 11:36] khashdroid commented on #126
oh many thanks!
Actually, one minor change is needed. The input argument 'Zi' is also required (to update the state of the filter).
So, basically, to give you an idea of what kind of functionality is needed, it can be described as the following (in pure circuitpython code):
`def sosfilt_2d_py(sos,X,zi,axis=-2):
    ''' pure python fallback for second-order-sections filter in case scipy isn't avail

[2020-06-18 20:25] v923z commented on #126
@khashdroid Could you, please, check out the latest code? This works now
[code]
Let me know, if you find glitches.

[2020-06-22 07:54] khashdroid commented on #126
so, for quick testing, I built on a unix system (Raspberry pi 3A+) and tested it against the scipy one. it works great. Seems to match the functionality of the scipy version. If I understand correctly, it works under a few assumption(s) such as:
- the input value of axis is always -1
- X must be 1d (which actually implicitly implies that axis=-1).
so for an MxN matrix, the filter must be called M

[2020-06-22 17:55] v923z commented on #126
Thanks for the feedback! You are right, this works for 1D arrays only. If needed, we can extend this to higher dimensions later. Also, since the array is one-dimensional, the axis keyword makes no difference, so I haven't implemented that.
I will just merge this into master for now.

[2020-06-22 17:55] #126 closed

[2020-06-23 06:33] mz3-andrey opened #128 "Slicing inconsistency with ndarrays"
Was doing slicing on ulab version 0.26 and noticed something
I create a list with:
`test = [x for x in range(10)]`
and do a slice to give every third value:
`test[0::3]`
This returns as expected:
`[0, 3, 6, 9]`
However when doing the same slice to the equivalent ndarray i get a different result:
`np.array(test, dtype=np.int8)[0::3]`
returns
`[0, 3, 6]`
Doing both in python 3.6 with lists and np.nd

[2020-06-23 06:40] #128 closed

[2020-06-23 06:41] mz3-andrey commented on #128
Sorry just noticed #50, any hints on updating an openmv's firmware to include the most recent version?
Thanks.

[2020-06-24 05:22] v923z commented on #128
You can take a look at https://github.com/v923z/micropython-ulab/issues/124, where we discussed at length, how you can compile `openmv` with `ulab`. I also modified my side of the code, so that Ibrahim could easily include it on the `openmv` side. You should raise an issue over there.

[2020-06-24 06:05] mz3-andrey commented on #128
Great! Thank you so much for your support.

[2020-06-29 01:56] mz3-andrey opened #129 "50.2 argmax, argmin, min, max weird behaviour int8 and uint8 datatypes"
Am running 50.2 on my openmv's now, but my code started doing weird things.
I looked further into it and noticed min, max, argmin and argmax were the culprit.
Issue #2984 mentions a fix as they weren't working for int16's before, but now only int16s seem to work.

My test:

`print(min, max, argmin, argmax)` of a given array.
dtypes of float, and uint16 and int16 work exactly as expected.
But for:

[2020-06-29 06:04] v923z commented on #129
Thanks for reporting the issue! Something is clearly wrong here, I will look into it.

[2020-06-29 19:53] v923z commented on #129
@mz3-andrey https://github.com/v923z/micropython-ulab/pull/130 fixes the issue.

@jepler Jeff, could you, please, pull this into `circuitpython`? You can use the https://github.com/v923z/micropython-ulab/tree/0.51.1 tag.

[2020-06-29 19:54] #129 closed

[2020-06-29 23:40] mz3-andrey commented on #129
Great thanks! I appreciate it.

[2020-06-30 04:24] mz3-andrey opened #131 "Array operations not commutative"
Very small thing, but I thought I might mention it.
I just noticed that `np.ones(3) * 3` works, but `3 * np.ones(3)` doesn't. Same goes for other operations.
I assume this is to do with micropython but I'm not sure.

[2020-06-30 05:51] v923z commented on #131
Exactly. This is a relatively recent change in `micropython` itself. I think it was implemented sometime around January, or perhaps even later. `openmv` is based on v.1.9.4, which is more than two years old now. If you want commutative operators, you would have to convince Ibrahim to get the required code from upstream `micropython`.

[2020-06-30 05:51] #131 closed

[2020-07-13 04:50] rcolistete opened #132 "Error building/linking ulab with double precision float (FP64/DP)"
Using source code of ulab v0.51.1 & MicroPython v1.12-623-gf743bd3d2 2020-07-13, compiling on Manjaro Linux v20.0.3 + arm-none-eabi-cpp 8-2019-q3-update 8.3.1 20190703.
Error building/linking ulab with double precision float (FP64/DP) :
[code]
While building ulab with single precision float (FP32/SP) works.

[2020-07-13 06:35] v923z commented on #132
Thanks for bringing this to the fore! I think I know, where to dig for a solution. I will try to patch this up tonight, when I have a computer on which to compile the code.

If you feel adventurous, or pressed for time, here is a hint: https://github.com/micropython/micropython/pull/5789 . Most probably, we will have to push the issue upstream.

[2020-07-13 20:42] v923z commented on #132
@rcolistete I have issued a PR in https://github.com/micropython/micropython/pull/6242.

[2020-07-14 08:31] rcolistete opened #133 "ulab not compatible with enabling '_thread' module from the make command"
Using source code of ulab v0.51.1 & MicroPython v1.12-623-gf743bd3d2 2020-07-14, compiling on Manjaro Linux v20.0.3 + arm-none-eabi-cpp 8-2019-q3-update 8.3.1 20190703.

Building ulab with thread enabled in MicroPython :
`$ make -j8 CFLAGS_EXTRA='-DMICROPY_PY_THREAD=1' BOARD=PYBV11 USER_C_MODULES=../../../ulab all`
builds a firmware with '_thread' module but without 'ulab' module, because 'CFLAGS_

[2020-07-14 08:42] rcolistete commented on #132
Thanks !

[2020-07-14 10:52] v923z commented on #133
Thanks for reporting the issue! Since you have already figured out the solution, do you want to fix it yourself? By doing so, you would get credit: https://github.com/v923z/micropython-ulab/graphs/contributors ;-)

[2020-07-14 14:00] rcolistete commented on #133
Done, I've made a PR :
[fixed incompatibility when enabling '_thread' module from the make command #134](https://github.com/v923z/micropython-ulab/pull/134)

[2020-07-14 19:34] v923z commented on #133
@rcolistete Many thanks! I have merged your PR.

[2020-07-14 19:34] #133 closed

[2020-07-15 22:11] rcolistete opened #135 "Incompatibility between gcc-arm 10.1 and ulab+MicroPython"
Due to a bug/incompatibility between gcc-arm 10.1.0 and ulab+MicroPython, it gives a link error :
[code]
Without ulab, the firmware building works ok.

For example, using :
- Manjaro/Arch Linux package 'arm-none-eabi-gcc v10.1.0-1' from official repository;
-  'gcc-arm-none-eabi-10-2020-q2-preview-x86_64-linux.tar.bz2' from [official ARM download site](https://developer.arm.com/tools-and-software/

[2020-07-16 06:03] v923z commented on #135
It seems to me that only two sub-modules, namely, `extras`, and `vectorise` cause the problem, so my feeling is that it could be solved. I am running ubuntu, and I think I installed the arm compiler separately, so I can't really comment on the issue.

[2020-07-16 06:12] v923z commented on #135
@rcolistete I believe, I found the error: `ulab_extras_module` and `ulab_vectorise_module` are not declared `extern` in `extras.h`, and `vectorise.h`. Could you, please, see whether you still have the issue, if you add `extern` to the declaration, as e.g., in `linalg.h`? If that is the fix, let me know, if you still want to collect brownie points, or I should change the code ;-)

[2020-07-16 06:35] rcolistete commented on #135
Thanks !
Yeah, it worked, now 'gcc-arm-none-eabi-10-2020-q2-preview' can compile ulab + MicroPython.
I'll made a PR.

[2020-07-16 06:47] rcolistete commented on #135
[PR#136](https://github.com/v923z/micropython-ulab/pull/136) made.

[2020-07-16 06:51] v923z commented on #135
Thanks! Merged.

[2020-07-16 06:51] #135 closed

[2020-07-16 07:04] rcolistete opened #137 "Add numpy.trapz"
Please, add :
[numpy.trapz](https://numpy.org/doc/stable/reference/generated/numpy.trapz.html).

[2020-07-16 07:30] v923z commented on #137
Could be done, the only question is, which sub-module should hold the function. I would offer two candidates: `numerical` (it is already a bit heavy), and `approx`. I am open to other suggestions. Keep in mind that you had difficulties with the firmware size, so if you want to exclude sub-modules, then this function should be where it really belongs.

[2020-07-16 19:19] v923z commented on #137
@rcolistete Roberto, could you, please, check out the https://github.com/v923z/micropython-ulab/pull/138/ PR? This implements numerical integration for 1D ndarrays.

[2020-07-16 19:38] rcolistete commented on #137
Sub-module approx was a good choice, IMHO.

[2020-07-16 19:42] v923z commented on #137
@rcolistete I have run a couple of tests, and compared the results against `numpy`, but it would be great, if you could also verify the behaviour of the code.

[2020-07-16 20:32] rcolistete commented on #137
Ok, I'll do in the following hours.

[2020-07-16 20:36] v923z commented on #137
It's not so urgent. I am going to sleep now, anyway:)

[2020-07-17 06:42] v923z commented on #137
Actually, you can always do this:

[code]
This delivers  the same results as `trapz`. I haven't measured the execution times. The approach with the slices is probably faster (the array type is resolved at the beginning of the calculation, and the `for` loop just adds the numbers, while `trapz` calls a function repeatedly to retrieve the values of the array), but requires more RAM (because you have

[2020-07-18 22:54] rcolistete commented on #137
Took more time to better test. Using the branch 'trapz' I've compiled ulab v0.52.0 + MicroPython v1.12 with single precision, without threads.

About the above question, answer is no, as trapz is a lot faster and uses a lot less RAM than the solution with slice+sum+diff :+1:
`
import time
import gc
import os
import ulab as np
from ulab import numerical
gc.collect()
print('MicroPython {}, {}, with

[2020-07-18 22:55] rcolistete commented on #137
Anyway, 'trapz' importance is to have an useful feature (almost) compatible with NumPy.

[2020-07-18 22:57] rcolistete commented on #137
Sugestion fror 'ulab.approx.trapz()' :'
- accept 'scalar-valued iterable (ranges, lists, tuples containing numbers)', not only ndarrays.

Some tests from NumPy documentation for 'trapz' :
`import ulab as np
np.approx.trapz([1,2,3])
    Traceback (most recent call last):
    File "<stdin>", line 1, in <module>
    TypeError: wrong operand type
y = np.array([1,2,3]); y
    array([1.0, 2.0, 3.0], dty

[2020-07-18 23:15] rcolistete opened #139 "Add numpy.arange()"
Suggestion to add 'ulab.arange()' because ['numpy.arange()'](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) is a lot popular, so it is easier for new ulab users to migrate from NumPy.

I prefer 'numpy.linspace()' in many situations, but 'numpy.arange()' is everywhere and the translation to 'numpy.linspace()' syntax takes a little bit of time.

[2020-07-18 23:31] rcolistete commented on #43
Thumbs up to have 'ulab.linalg.cross()'.

[2020-07-19 14:47] v923z commented on #43
I haven't touched this, because the cross-product is really nasty. It is a lot of case-checking, and I am not sure the speed gain is worth the trouble: https://numpy.org/doc/stable/reference/generated/numpy.cross.html. I am more inclined to yank this now. If someone need it, it should probably be implemented in python.

[2020-07-19 14:58] v923z commented on #139
This function would have to be added at the top level (https://github.com/v923z/micropython-ulab/blob/master/code/create.c, https://github.com/v923z/micropython-ulab/blob/fbe8151f50797952a17a235ffa442dac83255d67/code/ulab.c#L75-L78), meaning that this would always be included. (I guess, it would add 300-500 bytes to the firmware.) On the other hand, the function itself is not quite safe:

_For flo

[2020-07-19 15:05] rcolistete commented on #43
[Perfect is the enemy of good](https://en.wikipedia.org/wiki/Perfect_is_the_enemy_of_good)...

My suggestion is to implement only some features of 'numpy.cross', the most useful. For example :
- only vector cross-product;
- only vectors with the same size (2 or 3, as numpy.cross);
- so no 'axisa', 'axisb', 'axisc', 'axis' arguments, accepting only 2 arguments : a, b;
- compatible with 1st, 3rd and

[2020-07-19 15:09] v923z commented on #137
I can add that.

I understand this. I am working on overhauling `ulab`, so that it could treat tensors of arbitrary dimensions. I wouldn't like to invest too much time into implementing something that will automatically become obsolete in two months' time. But I promise to do this properly in the upgraded version. For the time being, you can take a slice, and pass the 1D array to `trapz`.

[2020-07-19 15:10] v923z commented on #137
Thanks, this is a convincing argument.

[2020-07-19 15:10] rcolistete commented on #139
Yes, it would be in top.level, 'ulab.arange()'.

The 'not safe' is a feature of float point numbers. Behaving like NumPy is not a problem, even when it is a limitation.

I also prefer 'numpy.linspace()', but 'arange' is very popular.

Another option, not optimum, is to describe in 'ulab.linspace()' docs how to convert 'numpy.arange()' syntax to 'ulab.linspace()' .

[2020-07-19 15:12] rcolistete commented on #137
The 1st one is more important. I don't use the 2nd feature, but some few others can.

[2020-07-19 15:21] v923z commented on #137
I remember now, why I didn't implement this: if both `x`, and `y` can be iterables, then you'll have four cases (both are iterables, one of them is an iterable, or both are `ndarray`s. So, you would have to implement everything 4 times. The alternative, that you use the iterator object, thereby factoring out the four cases in a single pass, will be slow, because the iterator returns an `mp_obj_t`,

[2020-07-19 15:26] rcolistete commented on #137
Ok, so it is harder than universal functions with only 1 argument.

Yes, casting with 'ulab.array(<iterable>)' is ok. I've commented just for the sake to be more compatible with 'numpy.trapz'.

But MicroPython and its modules can't be like Python 3.x and its modules due to RAM constraints, firmware size, etc.

[2020-07-19 15:27] v923z commented on #43
That's right, but we have limited resources... (in time, RAM, and flash).

This could be a reasonable compromise. Do you want to try your hand at it?

[2020-07-19 15:29] v923z commented on #137
The complexity scales quadratically with the number of arguments.

It will eat into your RAM;)

[2020-07-19 15:33] v923z commented on #139
OK, I will look into it.

@jepler Jeff, could we add this generally, or you think it's not worth it? If the latter case, we could switch off the function for `circuitpython`. I think you've mentioned that on some platforms you are very tight with flash now, so I am a bit cautious with throwing in random functions.

[2020-07-19 16:08] jepler commented on #139
I think ulab is disabled on all of the "nearly full" ports, I wouldn't worry about it

[2020-07-19 16:31] rcolistete commented on #43
Not at the moment. I need to practice writing natice C modules for MicroPython, with simple functions of 1 argument, etc. Then I could contribute with code to ulab.

[2020-07-19 17:30] v923z commented on #43
OK. Thanks for the feedback! You might find hints under https://micropython-usermod.readthedocs.io .

[2020-07-19 17:31] v923z commented on #139
Thanks for the feedback! I will then try to add this in the next couple of days.

[2020-07-19 17:32] v923z commented on #137
@rcolistete Apart from the fact that `trapz` won't work with generic iterables, are you satisfied with the code? If so, I would like to merge it.

[2020-07-19 17:42] rcolistete commented on #137
Yes, tested it a lot, it works very wel.
Thanks.

[2020-07-19 17:44] v923z commented on #137
OK, done.

[2020-07-19 17:44] #137 closed

[2020-07-19 20:23] v923z commented on #139
@rcolistete https://github.com/v923z/micropython-ulab/tree/arange contains a draft implementation. I still have to figure out, how the potentially missing `start` argument should be treated. For now, you can do
[code]
i.e., the number of arguments must be at least 2.

[2020-07-20 16:32] v923z commented on #139
@rcolistete Roberto, I have just pushed my most recent changes to the `arange` branch. Could you, please, check, whether it does what it is supposed to? Thanks!

[2020-07-20 18:07] rcolistete commented on #139
Ok. I've tested 'arange()' from arange branch of ulab in ports/unix. Output is Indented :
[code]
Nice to have 'arange()' with all features (1 to 3 arguments, etc).

We see that when there is a step argument as integer (as well start and stop as integers), the output is an integer array.
But without the 3rd argument, with start as integer, or start and stop as integers, the output is a float array.

[2020-07-20 18:13] v923z commented on #139
Thanks for the feedback!

[2020-07-20 18:22] v923z commented on #139
@rcolistete I think this is fixed now. Let me know, whether we can merge this.

[2020-07-20 18:36] rcolistete commented on #139
Now the default is integer, even when start, stop and set are floats, but dtype=np.float outputs a float array :
``
import ulab as np
np.arange(3)
    array([0, 1, 2], dtype=int16)
np.arange(3.0)
    array([0, 1, 2], dtype=int16)
np.arange(3, dtype=np.float)
    array([0.0, 1.0, 2.0], dtype=float)
np.arange(3.0, dtype=np.float)
    array([0.0, 1.0, 2.0], dtype=float)
np.arange(3, 7)
    array([3,

[2020-07-20 18:37] v923z commented on #139
Did you pull the very latest code?

[2020-07-20 18:44] rcolistete commented on #139
After the commit 'found and fixed small bug in dtype assignment' :
[code]
Seems it is 100% ok.

[2020-07-20 18:47] v923z commented on #139
Many thanks for sticking with it till the very end! I will merge this now.

[2020-07-20 18:48] rcolistete commented on #139
It is me to say thanks !

[2020-07-20 18:52] v923z commented on #139
https://github.com/v923z/micropython-ulab/pull/140 closes the issue.

[2020-07-21 06:32] v923z commented on #132
This has been solved upstream https://github.com/micropython/micropython/pull/6242, so I am closing now.

[2020-07-21 06:32] #132 closed

[2020-07-21 07:47] rcolistete commented on #139
There is a bug compiling with SP (single precision, FP32) :
[code]
While the DP (Double Precison, FP64) build is ok :
[code]

[2020-07-21 12:26] rcolistete commented on #139
@v923z, see the above bug, we forgot to test with ARM building.

[2020-07-21 15:41] rcolistete commented on #139
Sent [PR#141 "fix arange : missing MICROPY_FLOAT_C_FUN(ceil) in create.c"](https://github.com/v923z/micropython-ulab/pull/141).

[2020-07-21 20:59] rcolistete commented on #43
I've made a simple version of 'linalg.cross(a, b)'. See the [commit 'cross : implemented linalg.cross(a, b)'](https://github.com/rcolistete/micropython-ulab/commit/5e37ec37220eea775e3d6aa96951de51275ea2fd) in my ulab fork. With :
* only vector cross-product;
* only vectors with the same size/dimension, 3;
* no 'axisa', 'axisb', 'axisc', 'axis' arguments, accepting only 2 arguments : a, b;
* output

[2020-07-21 22:43] rcolistete opened #142 "Extend 'ulab.linalg.dot' to accept 2 vectors"
Suggestion to extend 'ulab.linalg.dot' to accept 2 vectors, so 'ulab.linalg.dot' becomes more similar to [`numpy.dot`](https://numpy.org/doc/stable/reference/generated/numpy.dot.html?highlight=numpy%20dot). So the 1st case will be accepted :
`- If both a and b are 1-D arrays, it is inner product of vectors (without complex conjugation).`
besides the 2nd one :
`If both a and b are 2-D arrays, it is

[2020-07-21 23:02] rcolistete commented on #142
I missed that there is also another form with 'ulab' to have the inner product of vectors :
[code]

[2020-07-21 23:08] rcolistete commented on #142
But a 'np.linalg.norm(vector)' would be a lot more practical then the last 2 input lines above. 8-)

[2020-07-22 06:11] v923z commented on #142
That could be right, but `norm` has at least 8 cases. https://numpy.org/doc/stable/reference/generated/numpy.linalg.norm.html
Most of these are either not very relevant, or aliases for functions that are already implemented.

[2020-07-22 06:17] v923z commented on #142
This is OK, could be merged. Thanks!

[2020-07-22 06:17] rcolistete commented on #142
I was thinking about norm with only 1 argument, vector x, doing the calculation `math.sqrt(np.numerical.sum(a*a))` but more optimized. I will implement one version and make a benchmark.

[2020-07-22 06:20] v923z commented on #142
But you have only a single un-optimised function call, `sqrt`. You can't by-pass `np.numerical.sum(a*a)`.

[2020-07-22 06:33] v923z opened #144 "add linalg.norm"
Taken from this conversation: https://github.com/v923z/micropython-ulab/issues/142, a partial implementation of https://numpy.org/doc/stable/reference/generated/numpy.linalg.norm.html should be included in `ulab`.

[2020-07-22 06:38] v923z commented on #142
https://github.com/v923z/micropython-ulab/pull/143 solves the issue.

[2020-07-22 06:38] #142 closed

[2020-07-22 08:05] rcolistete commented on #144
Made the PR#145 'added linalg.norm : for vector or matrix x'.
[](https://github.com/v923z/micropython-ulab/pull/145)

[2020-07-22 11:12] v923z commented on #144
I wonder, whether it would make sense to accept the `ord` keyword argument with a numerical value.

[2020-07-22 11:19] v923z commented on #43
I would have a couple:

1. I presume, speed is not an issue here (there only 3 elements in an array), so I would call the iterator function. If you do that, the following will be valid:

[code]

2. I would accept 2-component vectors/iterables, so that
[code]
doesn't throw an error.

3. When adding new function(s), don't forget to increment the version number in `ulab.c`, and insert an entry in htt

[2020-07-22 11:29] v923z commented on #144
Do you know, how much can be gained in speed with this, compared to just `sqrt(sum(a*a))`? The memory footprint is clear.

[2020-07-22 15:27] rcolistete commented on #139
Another difference from `numpy.arange`, error happens only on ulab :
ulab :
[code]
NumPy :
[code]

[2020-07-22 16:20] v923z commented on #139
This comes from the line that you fixed. I don't mean to say that your fixed screwed anything up, I am just saying that the problem is in https://github.com/v923z/micropython-ulab/blob/b3e76e1f0a7041e5f41e7e4df146e066cdcc1635/code/create.c#L197

I will fixed it later today.

[2020-07-22 16:36] v923z commented on #139
Has been fixed in https://github.com/v923z/micropython-ulab/pull/146, closing now.

[2020-07-22 16:36] #139 closed

[2020-07-24 06:38] v923z commented on #43
@rcolistete Do you want to work this out, or should I?

[2020-07-24 06:46] v923z commented on #111
Since we have replaced `extras` by the almost-empty `user` module (https://github.com/v923z/micropython-ulab/tree/master/code/user), I am going to close this issue. The one about the out-factoring of math functions (https://github.com/v923z/micropython-ulab/issues/112) stays alive for the time being.

[2020-07-24 06:46] #111 closed

[2020-07-24 06:48] rcolistete commented on #43
I will.
I am also spending time building MicroPython firmwares with ulab on Pyboard's (23 variants) and ESP8266.

[2020-07-24 06:50] v923z commented on #43
OK, thanks for the feedback!

[2020-07-28 08:47] yang8621 opened #155 "What's the difference between ulab and numpy?"
I know it's not fully compatible with numpy and not all functions are implemented. But Is there any place that details the difference between ulab and numpy?

2nd question: Is it possible to use minimal port with ulab?

[2020-07-28 09:01] mdaeron opened #156 "Compile for LoBo ESP32 MicroPython"
I googled a bit but couldn't find any reports of successfully compiling [LoBo MicroPython for ESP32](https://github.com/loboris/MicroPython_ESP32_psRAM_LoBo/wiki) with ulab. I'm planning to try as soon as I receive the [TinyPICO](https://www.tinypico.com) I ordered recently, but at least one potential [problem](https://github.com/loboris/MicroPython_ESP32_psRAM_LoBo/issues/263) has been reported.

[2020-07-28 09:06] teuler commented on #156
I haven't recently tried the LoBo code, but the TinyPICO port works well with ulab.
Here are my [notes](https://github.com/teuler/robotling/wiki/Adding-native-modules-to-MicroPython-(ESP32)#-adding-ulab-to-the-micropython-firmware).

[2020-07-28 13:08] v923z commented on #155
1. The number of functions implemented. Obviously, on a microcontroller, flash space is limited, as is RAM.

2. `ulab` is organised into sub-modules, so that you can easily remove functions that are not required, thereby saving flash space. https://github.com/v923z/micropython-ulab/#modules This also means that apart from the five top-level array-creation functions, you have to append the function

[2020-07-28 14:02] v923z commented on #156
@teuler Thomas, can you compile with the new code? We massively re-organised in the last couple of days. I think it shouldn't make much of a difference, though...

[2020-07-28 14:16] yang8621 commented on #155
Thanks for your explanation.

Yes. I compared dir(numpy) and dir(ulab), and there were many unimplemented functions. And I believe some are viable to implement, e.g. reshape.

I refer to "micropython/ports/minimal". It works under "micropython/ports/unix". But seems it's not built under "ports/minimal" with _make USER_C_MODULES=../../../ulab all_.

[2020-07-28 15:09] teuler commented on #156
I compiled it on June 27 for the last time. I can test this likely on the weekend.

[2020-07-28 16:22] v923z commented on #156
These are really recent changes (end of last week) that I am talking about.

[2020-07-28 16:25] v923z commented on #155
`reshape` is implemented: https://micropython-ulab.readthedocs.io/en/latest/ulab.html?highlight=reshape#reshape

Oh, I can't really comment on this. I have never used the minimal port. Actually, I don't even know how and what for I could use it.

[2020-07-28 16:29] mdaeron commented on #156
That's good to know, thank you. By "TinyPICO port", do you mean the ESP32 port, or is there a specific TinyPICO port in mainline MicroPython?

Context: I need both `ulab` and `DAC.write_timed()` on a TinyPICO. AFAIK only the LoBo port offers the latter on ESP32.

[2020-07-29 00:20] yang8621 commented on #155
Thank you.

[2020-07-29 00:40] yang8621 commented on #155
And take reshape as an example, seems it's not full compatible with numpy:

np.array(range(15)).reshape((3,5)) -- OK
np.arange(15)   -- OK
np.arange(15).reshape(3,5)  -- not supported

[2020-07-29 04:51] teuler commented on #156
I was talking about the main ESP32 port of the official Micropython with the TinyPICO as target. I never used the DAC, therefore I don't know if it contains the functionality you need.

[2020-07-29 04:55] v923z commented on #155
Your last example is syntactically incorrect: you have to pass a `tuple` to `reshape`.

[2020-07-29 05:00] #155 closed

[2020-07-29 06:54] rcolistete opened #157 "Some ulab functions have limit of uint16_t (0-65535) for size of vectors"
Testing ulab on MicroPython boards with some MBytes (ESP32 4 MB PSRAM, etc), it is easy to observe that some ulab functions have limit of uint16_t (0-65535) for size of vectors, dimensions, etc :
- array.reshape;
- approx.bisect/fmin/newton;
- fft.*;
- linalg.linspace;
- poly.polyfit;
- etc.

But ulab.arange is ok, capable of creating large vectors (length > 65535).

It think it is a matter of rep

[2020-07-29 10:13] v923z commented on #157
That's right. I will fix it later today.

[2020-07-29 12:20] rcolistete commented on #157
It is important to revise all ulab functions using int/uint/int16/uint16 to confirm which ones have the 65535 limitation. My list above is problable not complete.

[2020-07-29 16:47] #157 closed

[2020-07-29 16:58] v923z commented on #157
Done.

This mostly concerns `maxiter`, and I don't think it would be wise to set that to `size_t`.

Done.

`linspace` is a top-level function, and can be found in `ulab_create.c`. But I fixed it all the same.

I changed it, as far as the length of the array is concerned, but left it as it was for the degree of the polynomial.

This is a bit vague ;o)

Well, I agree with the statement, but my resou

[2020-07-29 17:18] teuler commented on #156
After pulling the current versions of `micropython`, `micropython-lib` and `ulab`, I recompiled the standard Micropython EPS32 port targeted at the TinyPICO using the following makefile:

[code]
With the exception of two warnings (see below) it compiles and links fine. I haven't done any thorough checks but my current project, which uses `ulab` seems to run w/o obvious errors on the TinyPICO.

Her

[2020-07-29 17:19] teuler commented on #156
RE DAC in this firmware:
[code]

[2020-07-29 17:41] v923z commented on #156
Thanks for the feedback!

This seems to come from some ESP32 component, right? If there are warnings related to `ulab`, let me know, and I will try to sort it out.

[2020-07-29 17:43] v923z commented on #156
@teuler By the way, we removed the `extras` module; there is one `user`, which contains a dummy function, nothing more. You can move your `playground` there. Since we are not going to change anything in `user`, it should be easy to just pull `ulab`.

[2020-07-29 17:46] teuler commented on #156
RE warnings: yes you're right; these warnings are unrelated to 'ulab'; I just wanted to give the complete picture

[2020-07-29 17:54] v923z commented on #156
OK, thanks!

[2020-07-31 08:52] yang8621 opened #160 "Why not port from numpy?"
Hi

Is ulab created from scratch?
Is it possible to (Why not) port from numpy by some modifications to adapt micropython?
E.g. by removing the CPython dependencies.

Thank you.

[2020-07-31 09:58] v923z commented on #160
Yes.

Most probably not.

1. The most basic `ndarray` container would consume much more space, than is available on a microcontroller. If you strip all sub-modules of `ulab`, the code fits into around 20 kB. I would really be surprised, if `numpy` could be so much slimmed down.

2. I don't know, how, using `numpy`, we could have the module granularity (sub-modules) that I mentioned above. This is

[2020-07-31 12:34] yang8621 commented on #160
Thank you for your response.

Regardless of the RAM limitation, I'm not sure if it's possible to support all 13 data types on micropython? And to support numpy then?
For Fortran and Cython dependencies, maybe it should be rewritten at all.
Maybe at the last, most numpy will have been rewritten. :(

[2020-07-31 14:12] v923z commented on #160
The RAM issue can't just be dismissed.  We are talking about microcontrollers with 100 kB of RAM. That has to hold the `python` interpreter, and `numpy`. This is not a trivial task. `ulab` has been reported to run on a one-dollar microcontroller: https://gitlab.com/rcolistete/micropython-samples/-/tree/master/Pyboard/Firmware/v1.12_with_ulab/ I would challenge you to pull that off with `numpy`.

B

[2020-07-31 17:20] mdaeron opened #161 "Compilation of unix port on MacOS"
I used to be able to compile unix micropython with ulab following the instructions found [here](https://github.com/v923z/micropython-ulab#compiling), but somethings goes wrong now. Any idea what's happening here?

Below are the commands I type followed by the output of each command. The error is at the bottom.

+ `git clone https://github.com/v923z/micropython-ulab.git ulab`

[code]

+ `git clone

[2020-07-31 18:40] v923z commented on #161
Can you roll back to find out which commit brought it this error? I am groping in the dark here, since I'm using linux...

[2020-07-31 21:40] mdaeron commented on #161
I'll try that as soon as I have a better network connection.

I think this should be as simple as running `git checkout <commit hash>` in the `ulab` directory before compiling. Does this sound right ? My git skills are limited.

[2020-08-01 06:21] teuler opened #162 "pi, degrees, radians"
Hi,
maybe I overlooked it, but it would be nice to have `pi`, and for code clarity also `degrees()` and `radians()` in `ulab`. The idea is that ideally, one would import `ulab` for all math instead of additionally having to import `math`.
Thanks

[2020-08-01 07:57] v923z commented on #162
I haven't included these, because, as you point out, they are either in the standard math module, or are trivial. On the other hand, I see your point.

[2020-08-01 07:58] v923z commented on #161
You have a complete local copy, so you don't need network.

That's correct.

[2020-08-01 09:51] v923z commented on #162
@teuler https://github.com/v923z/micropython-ulab/pull/163 implements the requested changes. The PR adds approx. 600 bytes to the firmware. I am a bit uncertain as to whether it is worth it for things that are already available.

@jepler Before merging, I would like to hear your opinion.

[2020-08-01 10:22] teuler commented on #162
@v923z Thanks for the quick response. I guess it comes down to the question how often 'ulab' can fully replace importing  'math'; then again, 'math' is already in the firmware.
I tend to say that the added memory load is not worth the convenience of not having to import 'math'.

[2020-08-01 10:25] teuler commented on #162
Background of my question: I have code that runs both in MicroPython and normal Python (w/ 'numpy'). Using 'import ulab as np' or 'import numpy as np' allows more elegant code :)

[2020-08-01 13:00] v923z commented on #162
That could be, but `ulab` is split into sub-modules, so, e.g., if you want to evaluate a polynomial, then you have to

[code]
which under `numpy` is simply

[code]

We defined sub-modules, so that partial firmware can be compiled for smaller systems: https://micropython-ulab.readthedocs.io/en/latest/ulab.html#customising-ulab If you are willing to forgo the modularity (i.e., want to compile all mo

[2020-08-03 07:53] yang8621 commented on #160
That makes sense.
Thank you for your response.

[2020-08-03 07:53] #160 closed

[2020-08-03 18:10] mdaeron opened #164 "ndarray.asbytearray() is gone?"
I tried old code that used to run fine with one of the first versions of `ulab`. After upgarding to `ulab` v.0.54.0, i get the following error: `AttributeError: 'ndarray' object has no attribute 'asbytearray'`. Is the `asbytearray()` method gone, or was it just moved somewhere else?

[2020-08-03 18:14] v923z commented on #164
It was removed, because `ndarray`s support the buffer protocol now, so it is not required. Here is a great example: https://learn.adafruit.com/ulab-crunch-numbers-fast-with-circuitpython/fft-example-waterfall-spectrum-analyzer

[2020-08-03 19:00] mdaeron commented on #164
OK, thanks.

[2020-08-03 19:00] #164 closed

[2020-08-04 11:07] mdaeron commented on #161
My bad, this was a mistake on my part. For future reference, here is a script which works on MacOS Catalina:

[code]

[2020-08-04 13:41] mdaeron commented on #161
I just created this [PR](https://github.com/v923z/micropython-ulab/pull/166) to get rid of the 4 instances of double parentheses which were causing errors when compiling for unix on MacOS.

[2020-08-04 17:48] v923z commented on #161
Many thanks, I merged your changes.

[2020-08-04 17:48] #161 closed

[2020-08-14 11:04] mdaeron opened #168 "Implement `numpy.array.round()`"
It would be useful to have an efficient way to round a `ndarray`, equivalent to `numpy.array.round()`, either returning a new rounded `ndarray` or rounding the original `ndarray` in place.

[2020-08-14 11:06] v923z commented on #168
Is https://micropython-ulab.readthedocs.io/en/latest/ulab.html#around not what you need?

[2020-08-14 11:50] mdaeron commented on #168
Duh. Yes, it is. I searched `round` in [readthedocs](https://micropython-ulab.readthedocs.io/en/latest/index.html) and it did not return that function. Thanks.

[2020-08-14 11:50] #168 closed

[2020-08-14 12:01] v923z commented on #168
@mdaeron

No problem.

`numpy` itself is a bit ambiguous: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.round.html

[2020-08-14 18:46] mdaeron opened #169 "`vector.floor()` and `vector.ceil()` return ndarrays of dtype `float`"
Both `numpy.floor()` and `numpy.ceil()` return integer ndarrays, but this is not the case in ulab. Is there a strong reason this is not the case? When computing a waveform to feed a `DAC()` or `I2S()` instance, I find myself doing awkward things in ulab, e.g.:

[code]

[2020-08-14 19:15] v923z commented on #169
I think this is not true. Output from `numpy`:

[code]
[code]

[2020-08-14 19:40] mdaeron commented on #169
Duh again. I seem to be spectacularly wrong tonight. I tried earlier, but somehow reached the wrong conclusion. I'll refrain from opening new issues for a while, until my brain reboots :) Thanks.

[2020-08-14 19:40] #169 closed

[2020-08-14 19:48] v923z commented on #169
Don't worry, if there is an issue, it should be brought up.

[2020-08-17 18:34] mdaeron opened #171 "Explicit `dtype` in functions"
This is a feature request/suggestion. I don't know how strictly we want to "map" `ulab` function signatures to `numpy` function signatures, but from a user perspective, it would be handy to let functions returning ndarrays specify a `dtype` argument, so that one could simply code:

[code]

instead of:

[code]

I agree that it's subjective whether this is simpler to write when coding, but I'm wonde

[2020-08-17 19:39] v923z commented on #171
As closely as possible. The following throws an exception in `numpy`:

[code]

I think, in most cases this wouldn't make too much sense. E.g.,

[code]
would just return a number of zeros, right, while the intent was obvious different? If we do this, the user really has to know what they are doing.

That is really the main problem: it would add too much to the firmware size. This could be done in t

[2020-08-17 20:06] mdaeron commented on #171
OK, it makes sense.

[2020-08-17 20:06] #171 closed

[2020-08-20 20:12] MauroDiamantino opened #172 "Incoherent FFT values"
Hello guys, I've been trying the FFT algorithm of the ulab library in a NodeMCU board (ESP8266) and I have got incoherent values, or I haven't been able to interpret them correctly. I built an array with the values of a sine wave with a frequency of 50 Hz and an amplitude of 1.0, which was sampled at 2.5mS (400 samples/s), I passed it to ulab.fft.spectrogram() but I got a value of ~4.0 for the poi

[2020-08-22 03:11] DeqingSun opened #173 "Singular Matrix criteria is not correct (det, inv)"
Hi, today I tried to do some perspective transformation, but ulab told me this matrix is singular. And no surprise, det of such matrix (N=4) is 0.

![Screen Shot 2020-08-21 at 11 02 52 PM](https://user-images.githubusercontent.com/1385273/90947313-da320480-e402-11ea-89ea-5d323fe79696.png)

I guess this triggered by:

https://github.com/v923z/micropython-ulab/blob/bbe39d9e41af5adb0292537777ea376813

[2020-08-23 14:43] DeqingSun opened #174 "Can not compile unix port"
Hi,
I tried to build ulab and fix some issues. But the unix port throw some error both under MacOS and ubuntu.

[code]

[2020-08-23 15:18] #174 closed, assigned to nobody

[2020-08-24 06:01] v923z commented on #173
Thanks for taking action on this, I really appreciate it! The PR looks OK.

[2020-08-24 18:17] #173 closed

[2020-08-26 13:34] water5 opened #176 "Is it possible build ulab on double FP?"
I try to build ulab with double FP using
`make BOARD=PYBV11 MICROPY_FLOAT_IMPL=double USER_C_MODULES=../../../ulab all`
but not success.

[2020-08-26 17:03] v923z commented on #176
But is this a `ulab` issue? I mean, what happens, if you drop the `USER_C_MODULES` variable?

And what do you mean by `no success`? How does failure manifest itself?

[2020-08-27 12:02] water5 commented on #176
When I build without USER_C_MODULES , the build process pass,
if included USER_C_MODULES, appear error below:

...
CC ../../../ulab/code/ulab.c
CC ../../lib/oofatfs/ff.c
CC ../../lib/oofatfs/ffunicode.c
CC ../../lib/littlefs/lfs2.c
CC ../../lib/littlefs/lfs2_util.c
CC build-PYBV11/pins_PYBV11.c
LINK build-PYBV11/firmware.elf
arm-none-eabi-ld: build-PYBV11/code/vector/vectorise.o: in function `vect

[2020-08-27 17:18] v923z commented on #176
OK, this brings us a bit closer to the solution. Apparently, `round` or `roundf` is not included in the compilation process. As a workaround, if you don't need the `around` function, you could comment that out the following lines:

https://github.com/v923z/micropython-ulab/blob/5c75f08118dc871bd3b6c143db6fbbd5ce4d1651/code/vector/vectorise.c#L111-L141

https://github.com/v923z/micropython-ulab/blo

[2020-08-27 17:30] v923z commented on #176
@water5 If I run
[code]
I get the firmware:

[code]

Did you pull the latest `micropython` source? This issue was actually fixed in https://github.com/micropython/micropython/pull/6242.

[2020-08-28 04:10] water5 commented on #176
Thanks for your answer, pull latest MicroPython source, build pass.

[2020-08-28 04:13] #176 closed

[2020-09-11 09:46] pidou46 opened #177 "Omega Arithmetic algorithm ?"
Accelerometer are easily available on mcu, it would be handy in many case to be able to get speed and even position from these acceleration signal.
This involve double integration of the signal, classic integration method does not give good result but "Omega Arithmetic" algorithm seems to give much better results.
Do you think it could be added to ulab ?

[http://prosig.com/wp-content/uploads/pdf/

[2020-09-11 17:40] v923z commented on #177
Your second example doesn't use anything beyond what is already available in `ulab`, right? You basically want a wrapper for that, I think. But if it so, wouldn't it be better to write the wrapper in python?

[2020-09-21 19:40] v923z commented on #156
@mdaeron I don't know, whether this is still pertinent, or we can close it.

On a different note, at one point you mentioned that you would be willing to help with testing on a macintosh. I have re-written `ulab` from scratch, and I was wondering, whether you could check out the https://github.com/v923z/micropython-ulab/tree/tensor branch, and try to compile it. Any fixes should be submitted again

[2020-10-05 11:09] mouryarahul opened #178 "Feature request: numpy.concatenate"
Hi,
I look through the documentation but didn't find any function to join/concatenate two or more arrays. Is there any workaround for such operation in current ULAB? Will you consider adding such a function in the future?

Cheers,
Rahul

[2020-10-05 18:15] v923z commented on #178
I am really close to wrapping up the `tensor` branch https://github.com/v923z/micropython-ulab/tree/tensor, which has a number of new features, like support for broadcasting, views, and tensor rank up to 4, and is highly customisable via pre-processor constants https://github.com/v923z/micropython-ulab/blob/tensor/code/ulab.h.

This latter statement also implies that we would no longer be bound by

[2020-10-05 20:49] mouryarahul commented on #178
Thanks for the advice. Tensor up to rank 4 will be really cool and usable in many applications.

[2020-10-05 20:51] v923z commented on #178
And it eats a lot of flash space;) With all currently included functions, 4 dimensions require around 100 kB of flash.

[2020-10-11 19:37] roger- opened #179 "Request: circular buffer"
Originally raised [here](https://github.com/v923z/micropython-ulab/issues/14):

[2020-10-12 16:50] v923z commented on #179
I am not against the idea, but we first should iron out how the buffer is supposed to work.

1. Should this be a property of the `ndarray`, or should it be a sub-class? Sub-classing is difficult at the C level, while making it a property of the `ndarray` results in a `numpy`-incompatible structure.
2. What is supposed to happen, if you call `argmax(circular_array)`?
3. Should the circular buffer b

[2020-10-13 18:27] v923z commented on #178
@mouryarahul Rahul, I have just looked at what is required for `concatenate`, and it seems to me that `numpy` upcasts the arrays. That is quite expensive. Based on my experience with the binary operators, I estimate `concatenate` to cost something between 2 and 3 kB for the four-dimensional case. I find that a bit too much for a single function.

Would it be OK, if we imposed a condition on the `d

[2020-10-13 21:20] mouryarahul commented on #178
@v923z to save the Flash memory, I think 2nd option seems to be viable. If a user wants to concatenate two tensors, he/she can first convert one of the tensors compatible with the other in python. This will serve most of the purposes.

[2020-10-14 10:08] loroka opened #180 "array.reshape for (1, x) (x, 1) shapes"
Array `reshape` method does not behave as expected.

From exmaple in the doc
[code]
this output differs from numpy where the output is `array([[1, 2, 3, ..., 14, 15, 16]], ...)`
[code]
this output is wrong as I would expect output to be:
[code]
For other shapes such as (2,8) or (8,2) method behaves as expected.

I think this issue might be somehow related to  #26.

[2020-10-14 17:47] v923z commented on #180
You are right, this is a consequence of what is mentioned in https://github.com/v923z/micropython-ulab/issues/26. There is no way to distinguish between a one-dimensional array, and a two-dimensional one with a single element. This, and a number of other related issues have been addressed and fixed in https://github.com/v923z/micropython-ulab/tree/tensor. Apart from a couple of minor glitches, the

[2020-10-14 17:47] #180 closed

[2020-10-14 17:49] v923z commented on #178
But that is the first option, isn't it?

[2020-10-24 01:44] street-grease-coder opened #183 "sklearn functions?"
Functions to cluster data on faster platforms would be something that I would guess, be useful to many people. This includes some techniques easily accessible though ulab, like pca through the linalg module methods, but others, like t-sne or UMAP remain very inaccessible (to my, limited, perception, anyway).

Would it be a suitable feature request to port some well performing functions from sklear

[2020-10-24 07:12] v923z commented on #183
We have considerably re-worked `ulab` (https://github.com/v923z/micropython-ulab/tree/tensor), and I would like to release the new version in the next couple of days. That branch supports higher-dimensional tensors, proper views, broadcasting etc.

Once we are done with that, I would have time to consider new functions. In fact, one important feature of the new version is that it is configurable v

[2020-10-24 21:07] mouryarahul commented on #178
Yeah, I think we can close this issue.

[2020-10-24 21:07] #178 closed

[2020-10-26 08:01] street-grease-coder commented on #183
Amazing @progress, thanks so much, everyone who is involved!

Unfortunately I don't code a lot in python, mostly MATLAB. What is useful is one thing, but what can be run in reasonable speed, on a current micropython board is another of course.

This should be an open debate with real experts, but from data science point of view, UMAP ([link to python code](https://github.com/lmcinnes/umap)) seems

[2020-10-26 20:32] v923z commented on #183
If I understood the post correctly, the training took place on a PC, with the help of `sklearn`, and only the trained model was compiled into the arduino firmware.

`eigenvector` is already supported, and `covariance` should not be hard to add.

This seems to be more involving, and I think, here we would have to tread a bit more carefully. But if you are familiar with the subject, you can, perhaps

[2020-10-26 21:21] street-grease-coder commented on #183
yes, a raspberry pi would be better suited for these tasks, however, it's limited by its size. PCA will be the easiest to start with (and I think, SVM).

In terms of feasibility on the given platforms, I think if the algorithms can run on a ring buffer / continuous data stream

[2020-10-27 17:32] v923z commented on #183
Do you mean it is too big (mechanically)? Actually, the raspberry pi zero is not significantly larger than an adafruit feather board. https://www.raspberrypi.org/products/raspberry-pi-zero/?resellerType=home You can also buy the compute module, which is smaller than the standard raspberry pi, but exposes more IO pins.

As you have already seen in https://github.com/v923z/micropython-ulab/issues/17

[2020-10-28 09:36] street-grease-coder commented on #183
You are totally right about the size of the boards - I was more thinking about the minimalistic size of the standard ESP32 chip itself - it's quite small to bring 2 cores, bluetooth and wifi to the table.

After reading more about this topic ([here's a great intro explaining the importance](https://www.youtube.com/watch?v=FcIubL92gaI)), what is really needed is a queue element, that allows some fo

[2020-10-28 10:27] street-grease-coder commented on #179
I might be wrong here, but I think most user needs would be satisified by implementing a queue function as exists in python https://docs.python.org/3/library/queue.html

[2020-10-28 14:42] mouryarahul opened #187 "Feature Request: adding equivalent to numpy.diag()"
This function is useful in linear algebra, and I guess it won't take much of the flash memory. I think it should go to Linalg module.

[2020-10-28 18:05] v923z commented on #179
First, that is a `python` function, and it has nothing to do with `numpy`, and `queue` has already been implemented in `micropython`.

But the more important question is, and I tried to articulate the difficulties above, what should happen with a circular buffer? How should array operators operate on them? To underline the seriousness of the problem, I am all but convinced that it is absolutely no

[2020-10-28 18:09] v923z opened #188 "add numpy.com"
https://numpy.org/doc/stable/reference/generated/numpy.cov.html

Starting point based on https://github.com/v923z/micropython-ulab/issues/183

[2020-10-28 18:11] v923z commented on #187
Do you mean this: https://numpy.org/doc/stable/reference/generated/numpy.diag.html ?

You are right, it is relatively cheap, and doable. I can see to it, once 1.0 is out.

[2020-10-28 18:13] v923z commented on #156
This issue seems to be stale, so closing now.

[2020-10-28 18:13] #156 closed

[2020-10-28 20:52] mouryarahul commented on #187
Yeah, Thanks!

[2020-10-28 21:39] mouryarahul opened #189 "Feature request: adding equivalent of numpy.median()"
We already have some of the basic Statistical functions, e.g., `mean, std`, ..., I think adding `median` equivalent to [numpy.median](https://numpy.org/doc/stable/reference/generated/numpy.median.html) will be useful in many applications.

[2020-10-28 21:51] mouryarahul opened #190 "Feature request: exposing the datatype of an Array"

[2020-10-28 21:52] #190 closed

[2020-10-28 22:05] mouryarahul opened #191 "Feature request: exposing the datatype of an array"
We can already get the different attributes of an array, e.g., `shape`, `itemsize`, ... Will it be possible to expose somehow the **datatype** of an array element? Something like this:
On CPython (NumPy)
`>>> import numpy as np`
`>>> X = np.array([1,2,3], dtype=np.int8)`
`>>> X.dtype`
`dtype('int8')`

Knowing the `itemsize` of an array, we cannot distinguish between datatype _int8_, or _uint8_ !

[2020-10-28 22:43] mouryarahul opened #192 "Possible glitch in indexing and modifying the element of an array"
Is this intentional or some limitation?
In
`>>> ulab.__version__`
`'0.54.5'`

While accessing an element:
`>>> import ulab as np`
`>>> X = np.array([[1,2,3],[4,5,6],[7,8,9]])`
`>>> X[0][0]`
`1.0`
`>>> X[0,0]`
`array([1.0], dtype=float)`

While modifying the element:

`>>> X[0][0] = 10`
`>>> X`
`array([[1.0, 2.0, 3.0],`
`         [4.0, 5.0, 6.0],`
`         [7.0, 8.0, 9.0]], dtype=float)`
`>>> X[0,

[2020-10-29 20:41] v923z commented on #191
We could do that, though it is a bit trickier than you would think. I assume you want to "copy" the `dtype` like so

[code]

[2020-10-29 20:42] v923z commented on #192
In version 0.54, `ulab` simply creates a copy, because it has no notion of views. That is what version 1.0 is about.

[2020-10-29 20:44] v923z commented on #189
The `median` assumes that your data are already ordered along the axis. However, it is doable. But where would it be useful?

[2020-10-29 20:46] v923z commented on #187
This would actually have to go into the `create` module, because it creates a new array. Also `linalg` is a sub-module, which you have to import even in `numpy`, and `diag` is not part of `linalg` in `numpy`.

[2020-10-30 11:50] mouryarahul commented on #189
Well, we already have `numerical.sort`, so implementing `median` shouldn't take much. Like `mean`,  `median` is also used in many instances.

[2020-10-30 11:57] mouryarahul commented on #191
Yeah, I was temporarily (until we will have in ULAB) implementing `numpy.diag` and needed to create an output array with the same datatype.

[2020-10-30 12:00] mouryarahul commented on #187
I agree with you: it should be in the `create` as in Numpy.

[2020-10-30 15:46] v923z commented on #191
If you can post the code, we could move faster...

[2020-10-30 20:04] mouryarahul commented on #191
What I mean was that I was implementing it in Pythonic way, which is a bit crude not with all the options as in the Numpy:
Sorry, some part of the code are unformatted.

def diag(a: ulab.array) -> ulab.array:
    assert isinstance(a, ulab.array), "Input should be of type ulab.array!"
    m, n = a.shape()
    itemsize = a.itemsize()
    if itemsize == 1:
        dtype = ulab.int8
    elif itemsize

[2020-10-30 20:28] v923z commented on #191
I think I can release 1.0 now, so I should be able to implement a function for getting the `dtype` by the beginning of next week at the latest.

[2020-10-30 21:29] street-grease-coder opened #193 "Docu request"
Hi... sorry for the very silly question, but somehow I seem to not be able to just 'import ulab' `(ImportError: no module named 'ulab')` Is it possible that ulab is not contained in the standard bundle of micropython at install? I didn't find this here in the help or on micropython docu... sorry again for the probably extremely obvious question - i.e. likely user error and not an actual issue with

[2020-10-30 21:38] v923z commented on #193
`ulab` is not part of `micropython` itself, and that has many reasons. But you still have a couple of options. You can try Roberto Colistete's repo, where he uploads compiled firmware for a large number of platforms on a regular bases. Or you can try to compile it yourself. Here are the instructions: https://github.com/v923z/micropython-ulab/tree/master#firmware

[2020-10-30 22:21] street-grease-coder commented on #193
this is more complicated than anticipated, wow. I guess there's no way to just upip install ulab onto my ESP32. I guess there's no way around compiling the whole thing yourself if you want advanced features. I don't know what the differences are from 1.12 and 1.13 micropython, but Roberto's Gitlab page is still on 1.12. I'll try that first... then, under windows, I fully anticipate the compilation

[2020-10-30 22:34] v923z commented on #193
The issue is really complicated: `ulab` adds to the firmware. Some platforms don't have enough space, so you would have to compromise, what you are willing to sacrifice. You want to have `ulab`, or `threading` support etc. This is partly what Roberto is trying to do, but it is a very difficult problem.

Second, Damien George wants to have full control of the `micropython` firmware in the sense tha

[2020-10-30 22:42] street-grease-coder commented on #193
thanks for the kind and patient explanations, I hope I can contribute to this project someday, in some way to return the favor.

[2020-10-30 22:42] #193 closed

[2020-10-30 22:57] v923z commented on #192
Version 1.0.0 is out, so the issue should be resolved.

[2020-10-30 22:57] v923z commented on #15
This issue is fixed in the latest version.

[2020-10-30 22:57] #15 closed

[2020-10-30 22:58] v923z commented on #26
This issue is fixed in the latest version.

[2020-10-30 22:58] #26 closed

[2020-10-30 22:58] v923z commented on #17
This issue is fixed in the latest version.

[2020-10-30 22:58] #17 closed

[2020-10-30 22:59] v923z commented on #95
I believe, this should be resolved in https://micropython-ulab.readthedocs.io/en/latest/.

[2020-10-30 23:00] v923z commented on #162
This, and a lot of other features have been added in version 1.0.0. Closing the issue now.

[2020-10-30 23:00] #162 closed

[2020-10-30 23:02] v923z commented on #179
@roger- How do you want to resolve the issue? I think there are a couple of questions that should be clarified before we embark on implementing the circular buffer, but I don't know what your opinion is.

[2020-10-30 23:03] v923z commented on #43
@rcolistete `cross` has been added to the latest version. Closing the issue now.

[2020-10-30 23:03] #43 closed

[2020-10-31 11:44] mouryarahul commented on #191
Magnificent work! Congratulation...

[2020-10-31 18:27] roger- commented on #179
@v923z
One use case I have in mind is streaming sensor data into a buffer and processing it, where the buffers are too large to have multiple copies in memory. This would only be beneficial for reduction or in place operations though (`mean()`, `argmax()`, etc.), as most others return copies/views.

Don't think this can be done as a drop in replacement for `ndarray`, but it would be good to have a

[2020-10-31 20:20] v923z commented on #179
The main problem is that loops are linear. This doesn't matter for `mean`, `max`, `sum`, and the like, which do not care about the order of the data. But `argmax` is already problematic, and there are many more. Even more serious is the problem with `view`s: these are all based on the assumption that elements can be accessed via a linear combination of indices: https://micropython-ulab.readthedocs

[2020-10-31 20:59] v923z commented on #95
@mouryarahul, I think I would like to close the issue. Since the docs are published now, specific problems could be addressed with concrete references.

[2020-10-31 21:00] v923z commented on #187
@mouryarahul I have just merged a commit resolving the issue. Could you, please, create a test script, and add that to https://github.com/v923z/micropython-ulab/tree/master/tests? Thanks!

[2020-11-01 11:18] mouryarahul commented on #95
Great Work!

[2020-11-01 11:43] mouryarahul opened #195 "Compilation error when #define ULAB_MAX_DIMS 4"
I got compilation error when `#define ULAB_MAX_DIMS                   4`, while it compiles without error when `#define ULAB_MAX_DIMS                   3`.
I am using `MicroPython v1.13-dirty on 2020-11-01`.

The error msg is the following:

_make BOARD=PYBD_SF6 USER_C_MODULES=../../../micropython-ulab all
Use make V=1 or set BUILD_VERBOSE in your environment to increase build verbosity.
Including

[2020-11-01 19:56] v923z commented on #195
This was a copy-paste error in the last line of the loop. Thanks!

[2020-11-01 23:56] mouryarahul commented on #195
Now, it does compile successfully, but many of the existing tests fail in the case when `#define ULAB_MAX_DIMS  3 or 4`.
The test msg:

FAIL  tests/00smoke.py
pass  tests/argminmax.py
FAIL  tests/cholesky.py
pass  tests/compare.py
FAIL  tests/constructors.py
FAIL  tests/linalg.py
pass  tests/operators.py
pass  tests/poly.py
pass  tests/slicing.py
pass  tests/slicing2.py
10 tests performed (1084 in

[2020-11-02 11:57] mouryarahul commented on #187
`numpy.diag` works both ways: if it gets a 1D array, it returns a square matrix with those elements on its diagonal and if it receives a matrix, it returns a 1D array with the diagonal elements of the matrix. However, the current  `ulab.diagonal` implementation works in 2nd way only with some bugs. The bug is:

array([[1.0, 2.0, 3.0],
       [4.0, 5.0, 6.0]], dtype=float)

array([1.0, 5.0, 1.59537

[2020-11-02 18:51] v923z commented on #187
OK, this can be added, no problem.

This is indeed an error. I re-open the issue.

[2020-11-02 21:33] v923z commented on #187
@mouryarahul I think the latest commit fixes the issue. Let me know, if you still find a glitch in it!

[2020-11-02 21:34] #187 closed

[2020-11-02 21:52] v923z commented on #195
@mouryarahul  We should re-open the issue, this is serious.

[2020-11-02 21:59] mouryarahul commented on #187
@v923z Thanks, I did test it, so far no bug :+1:

[2020-11-02 22:05] v923z commented on #195
@mouryarahul  I believe, this is fixed in the latest, so I am closing the issue for now. Open a new ticket, if this is still wrong.

[2020-11-02 22:05] #195 closed

[2020-11-03 00:14] mouryarahul opened #200 "Bug in Array Creation Module"
There is an error in array creation module, I guess, which is also reflected in Linalg module too. See below:

`MicroPython v1.13 on 2020-11-02; linux version`
`Use Ctrl-D to exit, Ctrl-E for paste mode`
`>>> import ulab as np`
`>>> np.__version__`
`'1.1.3-2D-numpy'`
`>>> x = np.array([1,2,3])`
`>>> x.shape()`
`(0,)`
`>>> np.linalg.norm(x)`
`Traceback (most recent call last):`
`  File "<stdin>", l

[2020-11-03 08:10] v923z commented on #200
@mouryarahul Oh, bollocks, these are actually trivial errors, (It is still bad, that they are there.) so if you want to, you can fix them yourself. I won't have time till the evening.

`norm` fails because of a false condition. In https://github.com/v923z/micropython-ulab/blob/41320fc1b3a03373c3f05c8d6a2475af68bbdf17/code/linalg/linalg.c#L491 you should have
[code]

As for the `shape`, the problem

[2020-11-03 08:48] mouryarahul commented on #200
Thanks! I'll try fixing it.

[2020-11-03 11:27] mouryarahul commented on #200
I implemented your suggestions. This seems to fix the `shape` bug, but the `linalg.norm` is not fixed yet. I get following:

(3,)

Segmentation fault (core dumped)

I do not want to dig into the code, so I wait until you fix it.

[2020-11-03 12:49] v923z commented on #200
Well, this is quite embarrassing, sorry for the trouble! In https://github.com/v923z/micropython-ulab/blob/41320fc1b3a03373c3f05c8d6a2475af68bbdf17/code/linalg/linalg.c#L504-L505 the two indices are swapped. One should have

[code]
instead. But if you don't feel like fixing it, I can take care of it later today.

[2020-11-03 14:20] mouryarahul commented on #200
I will try your suggestion again, let you know. Thanks!

[2020-11-03 17:27] #200 closed

[2020-11-03 18:54] fbtoc opened #202 "labelling in linalg:eig example is reversed"
In the eig example in the linalg module, x should be labelled eigenvalues and y eigenvectors.  Right now they are reversed.

[2020-11-03 18:59] v923z commented on #202
You mean this https://micropython-ulab.readthedocs.io/en/latest/ulab-linalg.html#eig, don't you?

[2020-11-03 20:09] v923z commented on #189
@mouryarahul I believe, this issue is resolved.

[2020-11-03 20:37] v923z commented on #202
@fbtoc Thanks for pointing out the error! When cleaning up the docs, I also found a small bug int the code itself, so your comment was doubly useful.

[2020-11-03 20:37] #202 closed

[2020-11-03 20:59] v923z commented on #191
I have a working implementation of `dtype` now, but I still need a bit of time to figure out, how it could be incorporated into `circuitpython`. They have a notion of properties, while `micropython` doesn't, hence the holdup.

[2020-11-04 01:05] mouryarahul opened #205 "Small glitch in ulab.sum and ulab.mean"
Is this intentional?

MicroPython v1.13 on 2020-11-04; linux version
Use Ctrl-D to exit, Ctrl-E for paste mode

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NotImplementedError: operation is not implemented for flattened array

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NotImplementedError: operation is not implemented for flattened array

[2020-11-04 07:30] v923z commented on #205
Well, if it is not implemented, it can't be erroneous, can it?

The default value of `axis` is `None`, and that corresponds to the flattened array. Indeed, that case is not implemented. The problem is, it is not difficult, but not very cheap (in code size), either, and there are at least two and a half ways of achieving what you want. You can flatten your array, before you pass it to `sum` (this w

[2020-11-04 15:04] mouryarahul commented on #205
First, let mention that what you have been doing for the Micropython Community is really magnificent work. Almost all the functions implemented in ULAB are especially useful for anyone building applications based on numerical computing, e.g., in my case Signal processing applications. In my opinion, basic linear algebra, statistics, and some signal processing like FFT, are sufficient for ULAB. Any

[2020-11-04 17:04] v923z commented on #205
Definitely, and I really appreciate your comments. The thing is, I can't possibly foresee all use cases, and that means that I can't possibly test for all kinds of scenarios. In fact, I think one should never test alone.

I will look into that. I can also add the case for the flat array. It is really not that difficult.

[2020-11-04 23:13] #189 closed

[2020-11-05 15:03] mouryarahul commented on #205
I think, `ulab.sum` without any further argument should be the default method. So, it will be good to add it.

[2020-11-06 18:44] v923z commented on #205
@mouryarahul I think I have fixed the issue.

[2020-11-08 12:15] mouryarahul commented on #205
Now, `ulab.sum`, `ulab.mean` and `ulab.median` seem to work well. So, I think we can close the issue.

[2020-11-08 17:17] v923z commented on #205
We should keep this open, because the flat array is still not treated in `sum`.

[2020-11-09 10:41] mouryarahul opened #208 "Array creation glitch: while creating an array from another array"
I'm still testing and writing test scripts. Meanwhile, I find some glitch in array creation module. I guess it is something to do with the casting. See below for the probable glitch:

`>>>MicroPython v1.13 on 2020-11-08; linux version`
`Use Ctrl-D to exit, Ctrl-E for paste mode`
`>>> import ulab as np`
`>>> np.__version__`
`'1.2.3-2D-numpy'`
`>>> print(np.array(np.array(range(5), dtype=np.uint8),

[2020-11-09 11:58] mouryarahul commented on #192
I guess the issue is still not solved yet.
Indexing a single element of an array returns an array of a single element. See below:

`>>> a`
`array([[1.0, 2.0, 10.0],
       [4.0, 5.0, 6.0],
       [7.0, 8.0, 9.0]], dtype=float)`
`>>> a[0,0]`
`array([[1.0]], dtype=float)`
`>>> a[0][0]`
`array([[1.0, 2.0, 10.0]], dtype=float)`

What will be a possible way to get a single element of an array?

[2020-11-09 12:21] mouryarahul commented on #192
Moreover, I find a small glitch in slicing an array:

array([0.0, 0.0, 0.0]], dtype=float)

array([[],
       [],
       []], dtype=float)

While in `Numpy`, it returns with an empty array single dimension:

array([], shape=(3, 0), dtype=int64)

array([], shape=(0, 3), dtype=int64)

So, I think the glitch is in the first case.

I'm still writing/testing other cases and other modules.

[2020-11-09 12:21] mouryarahul commented on #192
Moreover, I find a small glitch in slicing an array:

array([0.0, 0.0, 0.0]], dtype=float)

array([[],
       [],
       []], dtype=float)

While in `Numpy`, it returns with an empty array single dimension:

array([], shape=(3, 0), dtype=int64)

array([], shape=(0, 3), dtype=int64)

So, I think the glitch is in the first case.

[2020-11-09 20:06] v923z commented on #205
https://github.com/v923z/micropython-ulab/pull/209 implements the treatment of `axis=None`, so closing now.

[2020-11-09 20:06] #205 closed

[2020-11-09 20:20] v923z commented on #208
Right. Thanks for reporting the issue! This should be fixed in https://github.com/v923z/micropython-ulab/pull/210

100 is the type code for float (ASCII `d`, which is `double` in `python`), so this is not a glitch, this is a cheap way of having `dtype`. Although `dtype` has been implemented for `micropython`, I would probably still keep this as an acceptable workaround (you notice the difference t

[2020-11-09 20:20] #208 closed

[2020-11-09 20:36] v923z commented on #192
When you say `a[3][2][1][0]`, you have only a single index, 0. The rest are producing views of your array, and as such, you can't just say that you want to have only `a[i,j]`, and forgo `a[i][j]`. Both should work.

[2020-11-09 20:45] v923z commented on #208
@jepler Jeff, I have opened a ticket at `micropython`, but I think `circuitpython` is the same,
[code]
will produce a seg fault.

[2020-11-09 22:51] mouryarahul commented on #192
Well, if we follow `Numpy` style, then both should work, otherwise, in languages e.g., Matlab, there is only one way:
`a(i,j,k,...)`. But, let stick to `Numpy` style.

[2020-11-09 23:06] mouryarahul commented on #208
I'm fine with it, but do we need to expose it? In `Numpy`, `np.int8`, `np.int16`, `np.float32` are also implemented as callable functions, which convert a scalar to its type and convert a numeric list to an array of its datatype.

[2020-11-10 18:56] v923z commented on #192
a(i,j,k,...).

`matlab` should have absolutely no relevance in this case. But I hope this https://github.com/v923z/micropython-ulab/pull/211 fixes it.

[2020-11-10 18:56] #192 closed

[2020-11-10 19:02] v923z commented on #208
Is it correct, that these cases are really nothing but another way of writing

[code]
If you want, I can add a wrapper for these, and then we could simply call the creation array operator. That would be cheap, because we pay for the `QSTR`.

[2020-11-10 19:04] v923z commented on #191
@mouryarahul See the comments https://github.com/v923z/micropython-ulab/issues/208#issuecomment-724255578 and thereafter.

[2020-11-10 20:35] #95 closed

[2020-11-10 22:30] mouryarahul opened #212 "A glitch with transpose method"
In `ULAB`, we get the following:

`MicroPython v1.13 on 2020-11-10; linux version`
`Use Ctrl-D to exit, Ctrl-E for paste mode`
`>>> import ulab as np`
`>>> np.__version__`
`'1.2.6-2D-numpy'`
`>>> x = np.array([1,2,3])`
`>>> y = np.array([[1],[2],[3]])`
`>>> z = np.array([[1,2,3],[4,5,6],[7,8,9]])`
`>>> x.transpose()`
`array([], dtype=float)`
`>>> y.transpose()`
`array([[1.0, 2.0, 3.0]], dtype=floa

[2020-11-10 23:20] mouryarahul commented on #208
I think it is not necessary.

[2020-11-11 17:02] #212 closed

[2020-11-11 18:34] v923z commented on #191
https://github.com/v923z/micropython-ulab/pull/216 implements the requested feature, so I am closing now.

[2020-11-11 18:34] #191 closed

[2020-11-11 18:39] v923z commented on #177
@pidou46 I think I would close the issue, because the integration can be done using `trapz` in the `approx` sub-module. I have improved its accuracy in a recent commit.

[2020-11-11 18:39] #177 closed

[2020-11-11 18:44] v923z commented on #179
@roger- Can you show an example of how you would use a circular buffer? I am trying to understand what you want to achieve.

[2020-11-11 22:21] street-grease-coder commented on #179
I think here you could find some examples and implementations that might to be relevant for makers https://github.com/andriyadi/MagicWand-TFLite-Arduino/tree/master/src

[2020-11-12 18:21] v923z commented on #179
I think what you linked to concerns the machine learning discussion https://github.com/v923z/micropython-ulab/issues/183. We should not mix subjects, because we will lose track of what is going on.

The question is not really how to implement a circular buffer. That is almost trivial. But the buffer has to go into various functions, and there are no `numpy` examples as to what should happen then.

[2020-11-12 18:42] roger- commented on #179
I envision them just moving points, so the size of the array could get larger or smaller (up to a max).

Yeah that's a good point. I guess ultimately if the underlying driver / hardware supports circular buffers then this would work with `tobytes()`. I was assuming that this was happening at the Python level though (which I guess is slow enough to make this all moot).

Here's a made up example:

[

[2020-11-12 18:42] v923z commented on #112
@teuler Thomas, https://github.com/v923z/micropython-ulab/pull/217 implements some of the changes that you requested. If you see other functions that could be good candidates for out-factoring, let me know.

You also wanted to have `numpy` compatibility, math constants exposed in `ulab` itself, and `radians` and `degrees`. These can all be switched on in versions past 1.0.0.

[2020-11-12 18:42] #112 closed

[2020-11-12 20:14] v923z commented on #179
But if you have to reserve new space each time you add a datum, then `roll` is not any worse.

Actually, `fft`, `var`, and the like are not too bad, because they  do not care about the order of items (as long as they come after each other). The phase of an `fft` will change, but if you care about the spectrum only, that doesn't matter.

The problem is that there are some functions that are not so

[2020-11-12 20:20] roger- commented on #179
I'm assuming there's a maximum size then gets allocated regardless.

Not the best example, but assume I'm doing windowing or something too.

Agreed, making an ndarray drop-in will be hard.

[2020-11-15 23:55] mouryarahul opened #218 "List of probable minor glitches"
Below is the list of some minor glitches present in recent version. Though I've not printed the outputs, but you can easily figure out the error if compare the results with Numpy.

# List of Glitches

1.
a = np.array([1,2,3], dtype=np.float)
a **= np.array([4,5,6], dtype=np.uint16)
print(a)

2.
a = np.array([1,2,3], dtype=np.float)
a /= np.array([4,5,6], dtype=np.uint16)
println(a)

3. Minor glitc

[2020-11-15 23:56] mouryarahul commented on #218
I have almost completed the scripts for testing ULAB. I'll do a pull request soon.

[2020-11-16 16:50] kbrenner21 commented on #218
@mouryarahul , have you noticed any issues with just trying to splice/index an np array? I am using the PYBD-SF6W and have noticed that I cannot access the actual integer/float entries within a given np array. Here is an example:

array([[0.0, 0.0, 0.0],
[0.0, 0.0, 0.0],
[0.0, 0.0, 0.0]], dtype=float)

array([[0.0, 0.0, 0.0]], dtype=float)

array([[0.0, 0.0, 0.0]], dtype=float)

[2020-11-16 18:50] mouryarahul commented on #218
@kbrenner21 I guess you are using a bit older version of the firmware. This problem is rectified in the current version:
`>>> np.__version__`
`'1.3.1-2D-numpy'`
Here is the output on current version:
`>>> a = np.zeros((3,3))`
`>>> a`
`array([[0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0]], dtype=float64)`
`>>> a[0]`
`array([0.0, 0.0, 0.0], dtype=float64)`
`>>> a[0][0]`
`0.0`

[2020-11-16 19:16] v923z commented on #218
@mouryarahul Thanks for the extensive list. I will try to fix these in the coming days.

As for the test scripts, it might make sense to commit and PR them one by one, but since I don't see how you organised them, it might not be the case.

[2020-11-16 20:43] v923z commented on #218
@mouryarahul

I have just checked, this indeed returns `array([5], dtype=uint8)`. However, `numpy`'s help is not very clear: https://numpy.org/doc/stable/reference/generated/numpy.clip.html

In any case, I will fix it, so that it conforms to `numpy`'s code, and not the documentation.

[2020-11-17 18:34] v923z commented on #218
@mouryarahul I have added checkboxes to your list, so that we can keep track of what is going on.

# List of Glitches

- [x] 1.
a = np.array([1,2,3], dtype=np.float)
a **= np.array([4,5,6], dtype=np.uint16)
print(a)

Fixed in https://github.com/v923z/micropython-ulab/pull/224

- [x] 2.
a = np.array([1,2,3], dtype=np.float)
a /= np.array([4,5,6], dtype=np.uint16)
println(a)

Fixed in https://github

[2020-11-17 18:40] v923z commented on #218
@mouryarahul As for issue 6, your problem is that

[code]

results in

[code]
and you don't like the long 714.0000000000001 and similar numbers, right? I believe, this is a problem with the resolution of floating point numbers, and I am not sure there is too much we can do about it. In any case, the printout comes from `micropython`, so we might have to raise the issue there. You can see this here

[2020-11-18 19:33] v923z commented on #218
@mouryarahul I have opened a ticket here: https://github.com/micropython/micropython/issues/6632 It turns out, you don't even need an operation for the odd-looking printout, a single float will do.

[2020-11-19 11:36] kazuma-kawahara opened #232 "Raising "Segmentation fault", when use full(), ones() and zeros() method at 3-dimensions mode."
Hi, thank you for your develop the ulab.

I'm testing 3-dimensions mode.
[code]

I get "Segmentation Fault" when use the following methods.
　- full()
　- ones()
　- zeros()

example:
[code]

My environment is:
　Ubuntu18.04(micropython/ports/unix)
　micorpython v1.13  (commit 817b80a102a413b6458ea391bb2c463aff99672e)
　ulab v1.10 (commit 531345446fcbace61f5549969a390534aea27e36)
　
Is that methods not s

[2020-11-19 12:28] v923z commented on #232
Thanks for the report! This is caused by a trivial error in the code (remnants of the old two-dimensional implementation). I will fix it later today.

[2020-11-19 18:25] v923z commented on #232
https://github.com/v923z/micropython-ulab/pull/233/ should fix the issue. Here is my test:

[code]
and here is my output

[code]

Thanks for taking the time for reporting!

[2020-11-19 18:28] #232 closed

[2020-11-21 00:43] mouryarahul commented on #218
@v923z Unlike CPython, Micropython do not have `math.inf`, but have `math.isinf`. I am not sure if there is any way to create number `inf` in Micropython. Certainly, we do not have `ulab.inf`, but I noticed that some of the function in ulab can create an array with `inf` as elements, e.g.,

[2020-11-21 07:02] v923z commented on #218
We could add that, I think this is not hard.

[2020-11-21 07:10] v923z opened #249 "add `inf` and `nan` to class constants"
This feature request is inspired by the comment in https://github.com/v923z/micropython-ulab/issues/218#issuecomment-731476728

`numpy` reference: https://numpy.org/doc/stable/reference/constants.html?highlight=numpy%20inf#numpy.inf

[2020-11-21 07:22] v923z opened #250 "arrange functions into truly `numpy`-compatible structures"
Functions can now be called in a `numpy`-compatible fashion, or, following `circuitpython`'s convention, importing sub-modules, by appropriately setting the `ULAB_NUMPY_COMPATIBILITY` constant in https://github.com/v923z/micropython-ulab/blob/5f7092cec0fb79db4446b72ab3dca98ab83fb53e/code/ulab.h#L31

However, some of the functions are actually `scipy`-related. In order to make porting existing code

[2020-11-22 16:24] mouryarahul commented on #218
Inline to the above request, I think it will quite handy for users if they can create an ndarray of  `dtype=ulab.bool` similar to Numpy:

[2020-11-22 18:57] v923z opened #252 "add option to initialise Boolean arrays"
As pointed out in https://github.com/v923z/micropython-ulab/issues/218#issuecomment-731772500

[2020-11-22 18:57] v923z commented on #218
I am not sure Boolean lists are used too often in this way, but you can always open a new issue ;-0)

https://github.com/v923z/micropython-ulab/issues/252

[2020-11-22 19:51] mouryarahul commented on #218
@v923z Yeah sure, the examples I showed above are not frequently relevant, but the ability to create an array of boolean is useful in many cases, though the same can be achieved by creating an array of `0` and `1` using `dtype=uint8`.

[2020-11-23 20:47] v923z commented on #218
@mouryarahul I think all issues have been accounted for, for the two feature requests I have already opened new issues, so this could probably be closed.

[2020-11-23 21:53] #249 closed

[2020-11-23 22:14] mouryarahul commented on #218
I think this is a great achievement and Thanks! Most of the test scripts what I added didn't work for `circuitpython` (it was crashing at least on my local machine); I don't know actually reasons yet. I hope in the case of `micropython`, the current implementation of ULAB has no issue for now. If so we can close this for now.