[2020-11-24 07:01] v923z commented on #252
@mouryarahul  This is implemented in https://github.com/v923z/micropython-ulab/pull/266

[2020-11-24 07:01] #252 closed

[2020-11-24 07:02] #218 closed

[2020-11-25 19:46] v923z opened #267 "add frombuffer"
Allow array initialisation from buffer: https://numpy.org/doc/stable/reference/generated/numpy.frombuffer.html

[2020-11-27 20:48] dhalbert opened #268 "Minor sphinx doc warnings"
I get these warnings when building docs in CircuitPython with ulab:

[code]

[2020-11-30 19:30] v923z commented on #268
@dhalbert Thanks! I am about to re-organise the code a bit. I'll keep an eye out for this.

[2020-12-21 07:06] CallumJHays opened #269 "`array.dtype` stub & docs"
Hello and thank you very much for your work on this project.

I think the `array.dtype` stub is missing from the pyi comments.
I've added it in locally so that I can continue to rely on the stubs, and will submit a pull request shortly.

Also, I think that the current `latest` docs for dtype are incorrect as it is stated to be a property whereas currently on master it is a regular method. I believ

[2020-12-21 07:17] CallumJHays opened #271 "float-conversion compiler-error esp32 mpy1.13-103"
Hello and thank you again for your work on this project. I can't stress how important this is to my project.

I've run into a compiler error when compiling the firmware on master (@c71920e):

[code]

I've managed to fix the error by changing all "0.5"s to "0.5f"s, but I'm unsure if this is an adequate or necessary patch.

EDIT: I'm compiling micropython [v1.13-103 found here](https://github.com/mi

[2020-12-23 20:20] v923z commented on #271
@CallumJHays Thanks for reporting the issue! I am not set up for compiling ESP32 at the moment, so I would like to ask you to either submit a patch, or list all your occurrences of this error, so that I can fix it on this side.

I would also like to suggest to raise an issue at expressif: 0.5 is supposed to be understood as a float, and if that is not the case, that means that they are not conform

[2020-12-23 20:21] #269 closed

[2020-12-23 20:27] v923z commented on #269
Many thanks, I have merged your changes!

There is a pending PR at https://github.com/micropython/micropython/pull/5648. The problem is that properties cannot be implemented in C in the current version of `micropython`. As soon as the issue is resolved, `dtype`, and many other things will become properties in `ulab`.

[2020-12-25 09:27] CallumJHays commented on #271
@v923z I've submitted a PR with the fix - this is the only occurrence of this issue in the code-base. I've also tried the `numpy-scipy` branch and the error pops up at the exact same location. Thanks for letting me know about it - I'll be working off that branch from now on.

I've also had a crack at reproducing the standard violation with the ESP32 compiler in a template project, but it appears t

[2020-12-25 13:41] v923z commented on #271
Thanks! I have commented on that. Let me know, how it goes.

Yes, I think separate issues are much easier to work with. I have a bit of time now, so you could just open a feature request for each function, and we could, in fact, work in parallel then. I would like to ask you to use the `numpy-scipy` branch.

[2020-12-27 11:01] #271 closed

[2020-12-30 08:53] pzg250 opened #273 "How to compile micropython-ulab for esp32 board ?"
Hi,
I am trying to use ESP32_Firmware_v1.12_with_ulab_ulab_v0.54.0_2020-07-29_Generic_PSRAM-4MB_flash-4MB_esp32-spiram_idf4_ulab_sp_thread_v1.12-663-gea4670d5a_2020-07-29.bin, but when I try to test fft, an error appeared.
Code:
`
x = np.linspace(-np.pi, np.pi, num=8)
`
Output:
[code]
I assume that I use the old version firmware.
Does anyone know how to compile micropython-ulab for esp32 board ? T

[2020-12-30 09:06] v923z commented on #273
@pzg250 `pi`, and `e` were added in version 1.0, so no wonder that `ulab` throws an error. You can still do something like this

[code]

[2020-12-31 00:59] pzg250 commented on #273
@v923z Hi, Thank you very much for your reply. And do we have a guideline that building for esp32? I'd like to use latest version if possible.

Regards,

[2020-12-31 03:01] pzg250 commented on #273
BTW， seems the pre-build micropython-ulab cannot use bluetooth.

[code]

[2020-12-31 09:53] v923z commented on #273
This is an issue for Roberto Colistete's repository, and has nothing to do with `ulab` per se.

[2020-12-31 09:54] v923z commented on #273
@pzg250, @mouryarahul was testing `ulab` on an ESP32, so you should ping him.

[2020-12-31 09:56] v923z commented on #273
@pzg250 You could also look at https://github.com/v923z/micropython-ulab/issues/156, and the references therein.

[2021-01-04 22:44] mouryarahul commented on #273
@pzg250 Sorry to say that I didn't compile for the ESP32 board. I'm using Micropython PyBoard-D-Series.

[2021-01-05 00:55] pzg250 commented on #273
Hi @mouryarahul , I think the the compile process is almost same. could you show me the compile steps and command lines ?
Thanks very much.

Regards,

[2021-01-05 09:01] v923z commented on #273
@mouryarahul My bad, sorry!

[2021-01-05 09:03] v923z commented on #273
@pzg250 Was https://github.com/teuler/robotling/wiki/Adding-native-modules-to-MicroPython-(ESP32)#-adding-ulab-to-the-micropython-firmware of no help? You could ping @teuler, if his notes are not complete.

[2021-01-05 09:08] mdaeron commented on #273
Back in August I was able to compile `ulab` on a TinyPICO (along with I2S, just comment out the relevant code lines) using this shell script:

[code]

Maybe this can help? I can't test if it still works right now, but I might be able to later in the week.

[2021-01-05 09:12] v923z commented on #273
@mdaeron @pzg250 If the script above works, would either of you care to update the https://github.com/v923z/micropython-ulab/blob/master/README.md? Thanks!

[2021-01-06 02:00] pzg250 commented on #273
@mdaeron Thanks very much

[2021-01-06 02:00] pzg250 commented on #273
Sure, I will try to figure it out first

[2021-01-08 03:01] CallumJHays commented on #273
Hey @pzg250 , If you are still having troubles, this is what I have written up for my personal ESP32 project:

## Building Firmware Manually

These commands assume to be run on linux with access to required dependencies. Please see [The MicroPython README for more information](https://github.com/micropython/micropython#external-dependencies).

### For ESP32

[code]

Choose an ESPIDF version from o

[2021-01-08 03:31] CallumJHays opened #274 "Add numpy.isinf() & numpy.isfinite()"
`np.isinf` https://numpy.org/doc/stable/reference/generated/numpy.isinf.html

`np.isfinite` https://numpy.org/doc/stable/reference/generated/numpy.isinf.html

[2021-01-08 03:36] CallumJHays opened #275 "Add numpy ndarray alias?"
Often in my code I check for numpy-arrays via:
[code]
Because in numpy, `np.array` isn't a class - it's an additional constructor function. `ndarray` is the class.

This is easy to patch in python code but I'm wondering if there'd be merit to exposing `ndarray` as an alias to `ulab.array`?

[2021-01-08 03:38] CallumJHays opened #276 "Add array.any() and array.all()"
`array.any()` https://numpy.org/doc/stable/reference/generated/numpy.ndarray.any.html

`array.all()` https://numpy.org/doc/stable/reference/generated/numpy.ndarray.all.html

[2021-01-08 03:47] CallumJHays opened #277 "Add array.__matmul__(), "@" operator"
My understanding is that this functionality is already provided with the `np.linalg.dot` function, but for compatibility's sake could this be supported?

[2021-01-08 04:00] CallumJHays opened #278 "Add numpy.r_[...] trick (RClass)?"
https://numpy.org/doc/stable/reference/generated/numpy.r_.html

I've managed to contort the original numpy code to get this (mostly) working in micropython, but I'm wondering if this would be worth providing a c implementation? (the numpy implementation is in python). Alternatively, would it be worth it to package a python module with this functionality, or just put it somewhere in the docs incase

[2021-01-08 07:54] v923z commented on #277
Yes. The code has to be re-organised a bit, but it is definitely doable.

[2021-01-08 07:57] v923z commented on #276
Do you want to have `ndarray.any`, or `numpy.any`? Even if the code has to be implemented only once, any new binding adds to the code size.

[2021-01-08 07:59] v923z commented on #275
Am I correct that you want to define a new class, `ndarray`, and attach all `array` properties and methods to it?

[2021-01-08 08:20] v923z commented on #273
@CallumJHays Thanks for chipping in! Can you, please, comment on https://github.com/v923z/micropython-ulab/pull/279? This applies to @pzg250, and @mdaeron, too.

[2021-01-08 09:50] CallumJHays commented on #275
No, I essentially just want `ndarray = array`

[2021-01-08 10:00] CallumJHays commented on #276
I would prefer `ndarray.any`, but it's actually just occurred to me that I can use python's `any()` and `all()` on ndarray instead for my purposes (my data is quite small, and I have no need for the `axis` arg).

Given the code size / compatibility dilemma in general, do you think it's worth implementing small features like this (even if they are behind an `#ifdef`)? Should a line be drawn?

[2021-01-08 10:01] v923z commented on #275
Would then
[code]
do, right after
https://github.com/v923z/micropython-ulab/blob/9484e846a36bc32253252feca6320c22a56a0839/code/numpy/numpy.c#L49?

[2021-01-08 10:06] v923z commented on #276
No, I don't think so. As long as it is customisable, it should be fine. We might have to add more documentation in the `ulab.h` header file itself, but that is OK.

As far as compatibility is concerned, we have tried to stick with `numpy`'s convention in the past. This doesn't mean that all features, keywords etc. must be implemented, but that `ulab` code should run in `CPython`. The sole exceptio

[2021-01-08 10:32] CallumJHays commented on #275
I suppose so? 😅 I'm still not that familiar with the C side of things

[2021-01-08 11:00] #273 closed

[2021-01-08 11:19] v923z commented on #275
Actually, I think the solution is in your first comment, which I sort of overlooked.

At the moment, `ulab.numpy.array` is an `ndarray` class. So, I think the solution is to change

[code]
to
[code]
and then bind `array` to the constructor, i.e., `ndarray_make_new`. Do you want to take a stab at it, or should I fix it?

[2021-01-08 13:03] v923z commented on #274
These two functions should be added to https://github.com/v923z/micropython-ulab/blob/master/code/compare/compare.c

[2021-01-08 13:04] v923z commented on #276
These two functions should be added to https://github.com/v923z/micropython-ulab/blob/master/code/compare/compare.c

[2021-01-09 00:54] CallumJHays commented on #275
I'll give it a go, looks like a good intro for me into the C code

[2021-01-09 07:54] v923z commented on #275
The PR looks OK, thanks a lot!

[2021-01-09 07:56] v923z commented on #275
The issue should be resolved by https://github.com/v923z/micropython-ulab/pull/280.

[2021-01-09 07:56] #275 closed

[2021-01-09 07:58] v923z commented on #179
Since there seems to be no activity on this issue, I am going to close it.

[2021-01-09 07:58] #179 closed

[2021-01-10 03:51] ubIQio opened #281 "Cant run unix .ipynb files in Jupyter Notebook"
Firstly thank you for sharing such an amazing code base

I'm trying to run the spectrogram example in the docs from ulab-fft.ipynb.

I can run it from the console (once ULAB_NUMPY_COMPATIBILITY  is turned off in ulab.h  so that the vector module is available (shouldn't this be the default ?????) but cannot get the ipynb  file to run (I'm using the unix build of micropython).

I'm using the the sta

[2021-01-10 06:07] ubIQio commented on #281
To answer my own question, spinning up a VM with Ubuntu's Multipass  and running Jupyter there solved the problem.

Closed

[2021-01-10 06:07] #281 closed

[2021-01-11 16:04] lhargrove opened #282 "Anomaly in .tobytes()"
I am working with ulab on a Pyboard D-Series SF6. When I use the .tobytes() function, the length seems to be off by a factor of 8. I suspect it is off by a factor of whatever the bytesize of the type is.

`

MPY: sync filesystems
MPY: soft reboot
MicroPython v1.13-268-gf7aafc062 on 2021-01-11; PYBD-SF6W with STM32F767IIK
Type "help()" for more information.

'1.6.0-2D-numpy'

1

MPY: sync filesyste

[2021-01-11 17:17] mdaeron commented on #282
Excellent timing! I was just now about to ask about the following results. I assume thus is not the expected outcome?
[code]

[2021-01-11 18:20] lhargrove commented on #282
I think that values are correct, but the returned array is half as large as it should be.

[2021-01-11 18:31] mdaeron commented on #282
I recompiled `ulab` after changing (in `ndarray.c`, `mp_obj_t ndarray_tobytes()`):

[code]

to:

[code]

This fixes `linspace(1,10,10, dtype = int16).tobytes()` but of course now `linspace(1,10,10, dtype = int8).tobytes()` returns wrong. Now how do I get the correct factor? It's not immediately obvious to me how to access `dtype` from here.

[2021-01-11 18:38] v923z commented on #282
@mdaeron, @lhargrove can you post the version number? I don't know which version/branch you are compiling.

[2021-01-11 18:42] lhargrove commented on #282
The version number I am working with is:
'1.6.0-2D-numpy'

[2021-01-11 18:43] v923z commented on #282
@lhargrove Thanks! I realised after posting my question that you had spelt that out in your original post, that's why I deleted mine. In any case, I will look into it. Thanks for reporting the issue!

[2021-01-11 18:49] v923z commented on #282
You don't need the `dtype` (although, it is available in the structure), but the `itemsize'. I think, if you change the return value to

[code]
then it should work. If you manage that, your PR would be welcome.

[2021-01-11 18:50] v923z commented on #282
@mdaeron @lhargrove I have just checked it, the suggestion above is the fix. Do you want to PR?

[2021-01-11 19:03] mdaeron commented on #282
Sure. If you give me a little time I'll look up how to do that.

[2021-01-11 19:04] v923z commented on #282
@v923z Thanks for the feedback!

[2021-01-11 19:31] #282 closed

[2021-01-12 18:23] mdaeron opened #284 "Unix compilation warnings"
Not critical, but I thought I'd point out the following observation: when compiling `ulab` 1.6.1 for unix on a Mac (macOS Catalina), I get two warnings:

[code]

I can suppress these warnings by appending `CFLAGS += -Wno-double-promotion` to `micropython/ports/unix/MakeFile`. The resulting binary appears to run just fine.

I don't know how to correct the underlying issue, but if someone addresses

[2021-01-12 18:34] v923z commented on #284
@mdaeron I believe, you can get rid of the warning by making the conversion explicit with `MICROPY_FLOAT_CONST(INFINITY)`. If that is the case, we should definitely patch up the code.

[2021-01-12 22:31] mdaeron commented on #284
Maybe I misunderstood but I replaced:
[code]
with:
[code]
and:
[code]
with:
[code]
And the warning is not affected.

[2021-01-13 05:58] v923z commented on #284
No, that is what I actually meant. I couldn't test it, not having a mac.

[2021-01-13 18:22] v923z commented on #284
@mdaeron I forgot to ask, do you get a similar warning, if you compile for other ports? If this is a generic issue, then we can add your fix to the make fragment in https://github.com/v923z/micropython-ulab/blob/master/code/micropython.mk.

[2021-01-13 18:29] mdaeron commented on #284
I didn't get that warning when compiling for TinyPICO a few days ago. I'll try to recompile for the pyboard now and report here.

[2021-01-13 18:30] v923z commented on #284
Then it is most probably specific to the `unix` port. I think we should keep the issue open.

[2021-01-13 18:41] v923z commented on #284
@mdaeron If you still feel like trying things out, what happens, if you have this:

[code]

[2021-01-13 18:46] mdaeron commented on #284
I get the following errors:
[code]

[2021-01-13 18:51] v923z commented on #284
This is really mean. On `linux` the code above compiles without errors.

[2021-01-13 20:59] lhargrove opened #285 "Issue with np.diff()"
I was working with the np.diff() function on the Pyboard D Series SF6. I noticed that the diff() function doesn't seem to be returning what I expect. I am using version 1.6.0-2D-numpy.  After I noticed the issue, I cut and paste values from the documentation and saw some errors as well:

`
MicroPython v1.13-268-gf7aafc062-dirty on 2021-01-11; PYBD-SF6W with STM32F767IIK
Type "help()" for more info

[2021-01-14 05:58] v923z commented on #285
@lhargrove Thanks for reporting the issue! I have just noticed this error, too. I am working on a fix, should be done later today.

[2021-01-14 18:43] #284 closed

[2021-01-14 18:44] v923z commented on #284
@mdaeron I think https://github.com/v923z/micropython-ulab/pull/286 solves this issue. Re-open it, if you still have difficulties!

[2021-01-14 19:18] v923z commented on #285
@lhargrove I think https://github.com/v923z/micropython-ulab/pull/287 should solve the problem.

[2021-01-14 19:18] #285 closed

[2021-01-14 21:06] mdaeron commented on #284
I confirm this fixes the problem.

[2021-01-14 21:07] v923z commented on #284
Thanks for the feedback!

[2021-01-15 15:49] v923z commented on #250
Can be closed, since v.2.1 implements the `numpy`-compatible interface.

[2021-01-15 15:49] #250 closed

[2021-01-15 15:50] v923z commented on #267
This feature is already implemented.

[2021-01-15 15:50] #267 closed

[2021-01-18 07:35] kazuma-kawahara opened #290 "numpy.array() can't create 3-dimensional array."
Hi, thank you for your develop the ulab.

I'm testing 3-dimensions mode.
[code]

I used numpy.array() to create 3-dimensional array, but error is ocurred.
[code]

Is that methods not supported at the 3-dimensions mode ?

Any help appreciated. Thanks.

[2021-01-18 17:21] v923z commented on #290
@kazuma-kawahara This is not spelt out in the manual, but direct initialisation from lists is supported only for 1 and 2D. You can do
[code]
but you probably want to have something more general.

In any case, we can look into adding what you need. It's is not terribly difficult.

[2021-01-19 02:38] kazuma-kawahara commented on #290
Thank you for your reply and your consideration.

As a side note, I use "reshape ()" or "concatenate ()" to generate 3D arrays.

Thank you.

[2021-01-22 19:33] teuler opened #292 "Activating the user modul fails"
Hi,
I am trying to include the standard user module (`user/user.c`) into ulab.
I set `#define ULAB_HAS_USER_MODULE` to `(1)` in `ulab.h` and recompiled, basically following the instructions in ulab-readme file. It successfully generates the firmware (`user.c` turns up in the list of compiled files) but when I try `from ulab import user` it throws an error (`ImportError: can't import name user`). A

[2021-01-23 07:14] teuler commented on #292
... I think I found the problem. More soon.

[2021-01-23 11:01] water5 opened #294 "ulab.numpy.array objects .shape not complete compatible numpy.array objects .shape"
ulab.numpy.array objects .shape -> <bound_method>
ulab.numpy.array objects .shape() -> <class 'tuple'>

numpy.array objects .shape -> <class 'tuple'>

[2021-01-23 16:03] water5 opened #295 "Add array.fill()"
[https://numpy.org/doc/stable/reference/generated/numpy.ndarray.fill.html](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.fill.html)

[2021-01-24 07:53] v923z commented on #295
Does `fill` offer extra functionality compared to `full`, which is already implemented?

[2021-01-24 08:15] v923z commented on #292
@teuler I merged your PR, I think we can close the issue now.

[2021-01-24 08:15] #292 closed

[2021-01-24 08:18] v923z commented on #294
The problem is that, as far as I know, defining properties is not implemented in `micropython`, so `.shape()` is really just a workaround. I will try to mount an effort, and get my PR concerning this issue accepted in `micropython` proper.

[2021-01-24 15:22] #295 closed

[2021-01-27 10:21] mtk11 opened #296 "ESP32 port speed deterioration"
W/o micropython-ulab:

Pystone(1.2) time for 500 passes = 465ms
This machine benchmarks at 1075 pystones/second

With micropython-ulab 2.1.3:

Pystone(1.2) time for 500 passes = 927ms
This machine benchmarks at 539 pystones/second

What can be causing the speed decrease ?

[2021-01-27 17:26] v923z commented on #296
@mtk11 Can you point out, where `pystone` would refer to `ulab`? I presume, you are using this https://github.com/micropython/micropython-lib/blob/master/pystone/pystone.py, but I don't see, where `ulab` would play any role here.

[2021-01-27 20:36] mtk11 commented on #296
@v923z Using pystone_lowmem:  https://github.com/micropython/micropython-lib/blob/master/pystone_lowmem/pystone_lowmem.py

In ulab.h, just left the following (apparently the minimum for compiling):

#define ULAB_NUMPY_HAS_ARGMINMAX        (1)
#define ULAB_NUMPY_HAS_MEAN             (1)
#define ULAB_NUMPY_HAS_SUM              (1)

Got some warnings during the building:

optimize.c:28:19: warning: '

[2021-01-27 20:56] v923z commented on #296
You should be able to disable functions arbitrarily. If that is not the case then some of the pre-processor switches are not in the code itself.

Here I assume that you removed basically all modules. These three functions are somewhat generic, and are used by many functions, that is why there is no #if/#endif clause around them, hence the warnings. I can fix it.

The `pystone` code that you linked

[2021-01-28 09:38] mtk11 commented on #296
@v923z

Removed some of the ESP32 port components, which decreased the total firmware size to 1314 kB and this restored the speed. Presume the latest ESP32 micropython port reached the flash size limitations.

[2021-01-28 09:39] #296 closed

[2021-01-29 15:32] v923z commented on #290
@kazuma-kawahara I think https://github.com/v923z/micropython-ulab/pull/297 should address your question. I am closing the issue, if you run into difficulties, please, open a new one.

[2021-01-29 15:33] #290 closed

[2021-01-29 21:43] v923z commented on #274
@CallumJHays Cal, would https://github.com/v923z/micropython-ulab/tree/isinf do? I have also added some documentation here: https://github.com/v923z/micropython-ulab/blob/isinf/docs/manual/source/numpy-functions.rst.

It would be really great, if you could add some tests in https://github.com/v923z/micropython-ulab/tree/isinf/tests. If you drop your test script under `tests/numpy`, and run the `bu

[2021-01-30 00:09] CallumJHays commented on #274
@v923z thanks! I was just about to get onto these. I'll try to get them done tomorrow

[2021-01-30 07:25] v923z commented on #277
@CallumJHays Cal, do you want an implementation that resolves the `dtype`s? At the moment, for reasons of firmware size, `linalg.dot` always returns a `float`, irrespective of the input types. In this regard, the code is not completely `numpy`-compatible, but doing this properly is expensive.

[2021-01-30 08:58] CallumJHays commented on #277
@v923z I don't think it's necessary. At least for my purposes, floats are the main usecase.

[2021-01-30 21:33] #2 closed

[2021-02-01 16:49] water5 opened #301 "Constructed array using ulab.numpy.ndarray()"
[https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html)

Refer numpy.ndarray(shape), its parameter is shape, although arrays should be constructed using array(), arange(), zeros() ... and ulab.numpy support 2D array currently, but I think compatible numpy.ndarray() will be a good idea.

Currently:
`ulab.numpy.ndarra

[2021-02-01 16:53] water5 opened #302 "Add numpy.where()"
[https://numpy.org/doc/stable/reference/generated/numpy.where.html](https://numpy.org/doc/stable/reference/generated/numpy.where.html)

It's a useful function.

[2021-02-01 18:27] #274 closed

[2021-02-01 18:27] v923z commented on #302
This could be added. The implementation is not completely trivial, but doable.

[2021-02-01 18:57] v923z commented on #301
This is correct, but I don't see at the moment, where the problem is. I am afraid, it might have to do with how `micropython` is implemented. I will look into this, though.

[2021-02-01 22:26] CallumJHays commented on #301
Was this solved by #280? That push results in the following code:
[code]

[2021-02-01 22:33] CallumJHays commented on #301
Ah, looks like I didn't read the spec properly for #280 :sweat_smile:
I'll try to get a fix out by tomorrow.

[2021-02-02 05:58] v923z commented on #301
@CallumJHays OK, thanks! I think you are right, one can catch this in the constructor function, or in `ndarray_make_new`.

[2021-02-02 15:05] water5 opened #304 "ulab.numpy.zeros((0, n)) will cause MicroPython crash."
Test environment: MicroPython 1.13, ESP32.

-----------------------------------------------------

Although it has nothing implication, but it should be check before run it.

`np.zeros((0, 3))`

[2021-02-04 17:19] v923z commented on #304
While it is definitely a corner case, I think this still has implications, and should be caught. You might not know beforehand, what the shape of your tensor is.

[2021-02-04 20:15] water5 commented on #304
Append, on CircuitPython does not cause CircuitPython crash, but array values incorrect.
Test environment: CircuitPython 6.1.0 Release, STM32F405RGT6.

`ulab.zeros((0, 3))`
array([1.10114e-19, 3.99414e-34, 3.99417e-34], dtype=float32)

[2021-02-06 06:35] ubIQio opened #306 "frombuffer byte order"
I have a buffer of data from an ADC, which i am trying to access as an ndarray

The 1024 byte buffer is organised in 'frames' of 8 bytes, the bytes of interest in each frame  being 1 through 6, being three pairs of 16 bit samples.

If I ignore the last byte of the buffer, I can get the buffer as an ndarray uising

[code]
but the result is byteswapped values e.g

[code]

dtype = np.>uint16 causes a

[2021-02-06 08:58] v923z commented on #306
I am not sure, I see the problem here. First, this is the `numpy` behaviour:

[code]

Second, the `frombuffer` method is relatively primitive in the sense that it doesn't do anything. It simply grabs the buffer's pointer, and attaches a small header to it, so that later on the interpreter would know how the bytes are to be interpreted. It does not swap bytes, or re-arrange them in any way. There a

[2021-02-06 09:33] v923z commented on #306
@ubIQio I think the cleanest solution is the `byteswap` array method: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.byteswap.html, so you could then do something like this:

[code]
This would still break strict `numpy`-compatibility, because in `numpy`, `a` is a read-only array.

[2021-02-06 14:07] v923z commented on #304
I think both examples just show that the array is uninitialised, though the shape is incorrect

[2021-02-06 15:05] ubIQio commented on #306
Thanks for the quick response, and also for creating a landmark piece of open source software for the microcontroller world.

The [Numpy docs on byteswapping](https://numpy.org/doc/stable/user/basics.byteswapping.html?highlight=byte%20order) give an overview of the problem.

I am in the case 'Data and dtype endianness don’t match, change dtype to match data'.

So in Numpy I would just use  dtype='

[2021-02-06 17:07] v923z commented on #306
If you mean that we have to operate on the RAM, then the statement is correct, but it doesn't imply that we would have to use a lot of RAM: you can swap the two bytes in-place. Also, while `dtype = '<i2'` leaves the underlying array alone, the burden of the byte swapping is simply transferred to the readout function.

I agree, and I also see that this is going to be a recurring issue. The only que

[2021-02-07 03:05] jepler commented on #306
Ignoring the problem of possibly moving an element past the end of the buffer, I think "offset=1" is wrong but looks plausible much of the time.

Plausible:
[code]

clearly incorrect:
[code]

If the underlying buffer is immutable according to python (e.g., item assignment would raise an exception) then I doubt ulab shold go modifying it.

Adding 4 more data types seems like it's not good for firmw

[2021-02-07 04:05] ubIQio commented on #306
Hi Zoltán,

Indeed; I'm far from being a compiler expert but since at least [Tensilica Xtensa ISA](https://0x04.net/~mwk/doc/xtensa.pdf) and [CortexM0 ISA]( https://developer.arm.com/documentation/dui0497/a/the-cortex-m0-instruction-set/general-data-processing-instructions/rev--rev16--and-revsh) have byte swaps, and that the ndarray may be in PSRAM, then _in the general case_, I would think it wou

[2021-02-07 04:45] ubIQio commented on #306
@jepler yes the offset is a bit of a hack in order to align the bytes of interest from the hardware, not part of the byte swap issue.  (I pad the capture buffer by 1 at the end to allow for this, so a 8096byte buffer of 1024*8 bytes is passed to frombuffer as a 8097 byte buffer.

ie

[code]
results in

[code]

[code]

[2021-02-07 12:16] v923z commented on #306
The problem is not necessarily where the swapping happens, but that you still have to treat both cases. As Jeff pointed out above, what you are, in effect, asking for is 3 extra data types, and that is expensive. To put this in perspective, the firmware size for many of the functions, and all binary operators scales with the square of the number of data types. Currently we have 5, which means 25 p

[2021-02-07 14:07] v923z commented on #306
@jepler

I think this is a `numpy` feature, but I am not sure.

It is definitely a no-go.

What we could do is add the reversed byte order only in `frombuffer(...)` as an option, and return a copy of the buffer in the native format. On the other hand, in `ndarray(...)`, we could add the `buffer` keyword, and that would return only a view. In this way, we would implement everything in a `numpy`-com

[2021-02-07 16:32] ubIQio commented on #306
Sounds good, it will be interesting to see what the time penalty will be for the byte swapped buffer copy.

It is a shame that many ADCs and worst of all [I2S](https://web.archive.org/web/20070102004400/http://www.nxp.com/acrobat_download/various/I2SBUS.pdf) use bigendian data, as the data is arriving fast (for a microcontroller) _and_ is in the wrong format _and_ has a real-time requirement.

Of

[2021-02-07 16:37] v923z commented on #306
It is next to impossible to predict. Results from https://github.com/thiagofe/ulab_samples scatter a great deal, even if you normalise by the clock rate.

[2021-02-07 17:33] ubIQio opened #307 "How to perform vector 2-norm?"
I have a set of 3-D acceleration vectors that I'd like to convert to single values(ie the square root of the sum of squared acceleration in x, y, and z ) so that I can compute a spectogram of the total acceleration

In numpy I can do
[code]
to get

[code]

What would be the recommended way to do this in ulab since linalg.norm does not take keyword arguments?

[2021-02-07 18:56] v923z commented on #307
You simply need the square root of the sum of the squares, right? Would this work?

[code]

[2021-02-07 20:40] ubIQio commented on #307
Well it works, but not in my application  :(

[code]

yields

[code]

At the rate the data is arriving, I just don't have the time budget for that.

And the 1024-point spectrogram that follows only takes 3ms; I'm afraid I am spoilt by ulab.

Using np.linalg.norm(a) only takes ~1ms, but then only 1 sqrt()...

As a test,  I modified np.linalg.norm() to do the MICROPY_FLOAT_C_FUN(sqrt)(dot) on every

[2021-02-08 06:24] caxefaizan opened #308 "installing 'ulab': (-17040, 'MBEDTLS_ERR_RSA_PUBLIC_FAILED+MBEDTLS_ERR_MPI_ALLOC_FAILED'), packages may be partially installed"
I'm new to Micropython and want to use this library for some calculations. I tried to install the library in uPyCraft V1.1 using the command `upip.install("ulab")` . But am facing this error! I  am using ESP32 for a project. Am i doing it wrong?

[2021-02-08 06:35] v923z commented on #307
We can add the `axis` keyword argument, if you need it. What makes your code run slow is the huge number of function calls. Depending on which platform you are on, a single call can take tens of microseconds, which then adds up to the 200 ms that you mentioned.

However, in the meantime, I _believe_, you can still do something like this:

[code]
(You have to work out the exact math.) These are thr

[2021-02-08 06:37] v923z commented on #308
I think, with `upip`, you can install only `micropython` packages. If you want `ulab` to be part of your firmware, you have to compile from the source: https://github.com/v923z/micropython-ulab/#firmware

[2021-02-08 06:51] caxefaizan commented on #308
makes sense... can you hook me up with a tutorial on how to do that? i'm a newbie in this case

[2021-02-08 06:56] v923z commented on #308
You should simply follow the steps in that section of the readme.

[2021-02-08 08:17] caxefaizan commented on #308
Okay so i downloaded the `firmware`  `ESP32_Firmware_v1.12_with_ulab_ulab_v0.54.0_2020-07-29_Generic_flash-4MB_esp32_idf3_ulab_sp_thread_v1.12-663-gea4670d5a_2020-07-29` for my Adafruit Huzzah 32  from gitlab. and now i can `import ulab` in the terminal. however i am getting the error `AttributeError: 'module' object has no attribute 'ndarray'` when i run the command `a = ulab.ndarray([1, 2, 3, 4,

[2021-02-08 08:31] caxefaizan commented on #308
Okay!!! Got it .... used `dir(ulab)` to find out the methods available and found it to be `a = ulab.array([1, 2, 3, 4, 5], dtype=ulab.uint8)` !!! Thanks

[2021-02-08 08:31] #308 closed

[2021-02-08 08:42] v923z commented on #308
This is a very old version, a lot of things have since changed.

Well, you have found the solution yourself.

[2021-02-08 17:23] v923z commented on #276
@CallumJHays Cal, do you think you could add test scripts? The PR is here: https://github.com/v923z/micropython-ulab/pull/309

[2021-02-08 18:47] v923z commented on #304
@water5 Can you link an overview of empty arrays in `numpy`?

[2021-02-08 22:29] CallumJHays commented on #276
@v923z ok I'll try to get it and #305 done this afternoon

[2021-02-09 17:59] v923z commented on #307
@ubIQio The latest version implements the `axis` keyword for `linalg.norm` https://github.com/v923z/micropython-ulab/pull/312. Do you think you could update the test script in https://github.com/v923z/micropython-ulab/blob/master/tests/numpy/linalg.py? People, who contribute, usually get brownie points: https://github.com/v923z/micropython-ulab/graphs/contributors :wink:

[2021-02-10 04:57] ubIQio commented on #307
Wow!

The test below works, IF the tolerance is worse than 1E-7

[code]
however if the tolerance is greater, eg 1E-9, the test seems to fail if  a resulting array element  is above 10, in this case a[1]

But this is excellent progress, and fyi the execution time on my platform is 3ms for 1024 3D vectors.

I am sorry I am not sure how to integrate this into your test scripts.

Thank you so much

[2021-02-11 10:54] jgpeiro opened #315 "possible bug in...ulab dot/transpose??"
I am trying to implement the kalman filter [https://github.com/zziz/kalman-filter](url) and I have seen some strange behavior in the libraries that I cant explain.
When I perform the multiplications inside the kalman.predict method the results are different from what I obtain in the "real numpy" version. However, when I perform the operations outside this function the results are correct.
At first

[2021-02-11 11:01] v923z commented on #306
@ubIQio I think I made a mistake here: both `frombuffer`, and `ndarray` produce a _view_ of the buffer, without the option of copying its content. What we could do is add [byteswap](https://numpy.org/doc/stable/reference/generated/numpy.chararray.byteswap.htm) without keyword arguments (assuming `inplace = False`). I believe this should fulfil your requirements.

[2021-02-11 11:06] v923z commented on #315
@jgpeiro Do you think you can separate the `ulab` code from your class? It is a bit hard to understand what is going on, if we have to deal with an extra layer of abstraction. A minimal example demonstrating the issue would be great. Something like

[code]
[code]

Thanks!

[2021-02-11 11:51] jgpeiro commented on #315
I know. I post with kalman code cause I wasent sure where the problem comes from... but here is a clear version:

[code]
Output:
[code]

This is the code on "real numpy"
[code]
Output:
[code]

[2021-02-11 15:10] ubIQio commented on #306
That would be awesome!

[2021-02-11 18:58] water5 commented on #304
@v923z Empty arrays? how?
Like this?
`np.zeros((0, ))`

`np.zeros((0, 0))`

[2021-02-12 07:43] v923z commented on #304
@water5 In `numpy`, `zeros((0, 3))`, your original example, produces an empty array `array([], shape=(0, 3), dtype=float64)`. What is not clear to me, what this means. What happens, if you operate on such an array? E.g.,

[code]
[code]
but
[code]
[code]
and
[code]
[code]

What is the rationale here?
How is broadcasting resolved, whether you can matrix multiply  two empty arrays, and if you can, wh

[2021-02-12 17:36] v923z commented on #307
https://github.com/v923z/micropython-ulab/pull/314 fixes the issue, so closing now.

[2021-02-12 17:36] #307 closed

[2021-02-12 17:55] v923z commented on #315
@jgpeiro I see that you have to define `np_dot`, because in `numpy` `dot` is at the top level, and not in the `linalg` module. Is that correct? I don't even remember, why I added the function to `linalg`...

[2021-02-12 19:53] jgpeiro commented on #315
Yes, I saw this and I thought that maybe in some numpy version dot came inside linalg module...so I simply copy to retain code more understandable... but I knto that move from one package to another will be an easy task.
I open the issue cause Im worried about transpose function. This is clearly a problem somewhere, or Im wrong?
(For know I fix with "b.transpose()+0" that I think forces new array

[2021-02-12 20:15] v923z commented on #306
@ubIQio Could you, please, check out https://github.com/v923z/micropython-ulab/pull/317, and see if does, what it is supposed to, and if the performance is acceptable. You can now do something like

[code]
I haven't yet had time to write up the docs.

Do you think you could whip up a small test suite? If you do that, then request a pull against that branch! Thanks!

[2021-02-12 20:29] v923z commented on #315
Oh, I see. Indeed, the `.transpose()` method simply re-writes the `ndarray` header, but does not create a copy, it creates a view only: [views versus copies](https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html?highlight=view#views-vs-copies). You can see that in `numpy`:

[code]
In `ulab`, you have to do it a bit differently:

[code]
What you have to look at is the `data pointer:`

[2021-02-12 21:54] v923z commented on #277
@CallumJHays Is the @ operator simply an alias for `numpy.dot`, or are there small nuances that we have to keep in mind?

[2021-02-13 03:18] CallumJHays commented on #277
@v923z I'm not well aware, but [a quick stack-overflow search reveals](https://stackoverflow.com/a/34142617/1266662)

matmul differs from dot in two important ways.
1. Multiplication by scalars is not allowed.
2. Stacks of matrices are broadcast together as if the matrices were elements.

The last point makes it clear that dot and matmul methods behave differently when passed 3D (or higher dimensi

[2021-02-13 07:42] v923z commented on #277
@CallumJHays You do realise that implementing the generic case is going to be expensive, don't you? Since I am not using this function/method frequently, you have to choose the case that might be most relevant.

[2021-02-13 08:48] jgpeiro commented on #294
But micropython DOES support properties, right?( I wanted to show you a repo that I remember about how to implement them in C...but its yours too!) [https://github.com/v923z/micropython-usermod/blob/master/snippets/properties/properties.c](url)

[2021-02-13 08:52] jgpeiro commented on #315
Ok, I understand the difference between view and copy and why b.transpose()+0 or b.transpose().copy() can fix my issue...
But what is the reason to needed it in my last example? I mean, why np_dot takes b "original" values instead "transposed" values?

[2021-02-13 09:26] v923z commented on #315
@jgpeiro I think I have found the error, which was in `dot`: the `transpose` re-writes the strides, which was not correctly resolved in `dot`. Could you, please, check out https://github.com/v923z/micropython-ulab/pull/319, https://github.com/v923z/micropython-ulab/tree/dot-fix, and see if your code works now.

Thanks for bringing up the issue, by the way!

One more question: do you think you woul

[2021-02-13 09:45] v923z commented on #294
@jgpeiro The repo that you link to discusses a simple case, but here we would need something more complex: https://github.com/micropython/micropython/pull/5648

[2021-02-13 20:45] ubIQio commented on #306
Truly awesome.

fyi on my platform (ESP32 w. SPIRAM) a raw 8093byte frombuffer takes 1.1ms, and with inplace byteswap it's only 1.9ms.

(I was surprised that the inplace ran faster than the copy which is about 4.5ms)

You may be interested to know that the entire graph
[code]
takes 9ms, which is absolutely amazing.

Thanks v.much Zoltán, I'll go generate a test suite for that.

[2021-02-13 22:34] ubIQio opened #320 "einsum support"
Hi Zoltán,

I was wondering if you had any intention of supporting [einsum](https://numpy.org/doc/stable/reference/generated/numpy.einsum.html) in the foreseeable future?

Asking for a friend :)

[2021-02-14 07:04] jgpeiro commented on #315
@v923z Nice!. Ok, I will check the branch and review test scripts to improve them. Thanks

[2021-02-14 07:32] v923z commented on #320
This goes a bit in the direction of symbolic computations, but the real question is, whether `einsum` offers anything beyond defining aliases. If so, wouldn't it make more sense to implement this in `python`?

A somewhat similar question was raised in https://github.com/v923z/micropython-ulab/issues/278, and I came to the conclusion that we should, perhaps, add snippets, and collect such things th

[2021-02-14 08:50] v923z commented on #306
Well, that is the overhead of allocating that much extra memory. However, `frombuffer` shouldn't have taken that long. I found out that this was the result of an implementation glitch. I have fixed that, and merged everything into master. I believe, if you check out the latest version, you should be able to save approx. 1 ms.

I am glad it worked out for you, and especially that I could prove you

[2021-02-15 07:00] jimmo opened #323 "FYI - ESP32 port moved to CMake"
https://forum.micropython.org/viewtopic.php?f=18&t=9820

This will mean that to build ulab with ESP32 you will need to checkout the v1.14 tag of MicroPython. Hopefully a cmake-compatible equivalent of the user c modules functionality will be added soon (to support both ESP32 and Raspberry Pi).

[2021-02-15 11:03] jgpeiro commented on #315
@v923z I verified that np.dot( a, b.transpose() ) works correctly in dot-fix branch:

[code]

[code]

About improve tests, I checked the commits to transform.c but I didnt catch how it works, I mean that I can only suggest this test case (np.dot( a, b.transform() )... I also saw that "ab = np.dot(a.transpose(), b)" is already on tests/numpy/linalg.py and that was added 3 months ago... so I dont kn

[2021-02-15 18:00] v923z commented on #323
@jimmo Many thanks for bringing this up, Jim! I have updated the readme, is this section OK now? https://github.com/v923z/micropython-ulab/blob/master/README.md#esp32-based-boards

[2021-02-15 21:01] v923z commented on #306
https://github.com/v923z/micropython-ulab/pull/325 completes the implementation.

[2021-02-15 21:01] #306 closed

[2021-02-15 21:35] ubIQio commented on #306
I like to think that it was my hunch that was wrong, not me 😉

The buffer is mutable in this case; it is created once and repeatedly fill in FIFO sized chunks by I2C.readfrom_mem_into using memoryview, until a complete frame is gathered (it's actually an accelerometer, used as a  vibration sensor)

On the speed front, the 'implementation glitch' fix  has made a dramatic improvement on my platform:

[2021-02-15 21:46] ubIQio commented on #320
That sounds like the way to go; it seems to me that this feature would greatly facilitate the migration of deep learning projects to edge devices.

[2021-02-15 23:15] ubIQio commented on #323
@jimmo thanks indeed; esp-idf is moving at a much faster pace than micropython/esp32 has traditionally,  so once user modules are supported, we can all  think about newer devices...   hopefully someone at Espressif will have the foresight to send an ESP32-S3 with vector extensions to team ulab sooner rather than later???

[2021-02-16 05:59] v923z commented on #320
@ubIQio Do you want to take a stab at it?

[2021-02-16 15:26] ubIQio commented on #320
OK,  I'll have a look!

[2021-02-16 15:51] v923z commented on #320
@ubIQio The difficulty is that you want to have the same namespace (`numpy`).

[2021-02-17 09:54] v923z commented on #188
@street-grease-coder If you look at the notes section of https://numpy.org/doc/stable/reference/generated/numpy.cov.html, isn't everything you need already implemented in `ulab`?

[2021-02-17 10:07] street-grease-coder commented on #188
if there's a covariance function this should work indeed, sorry if I missed this! I will check it out but a bit short on time at the moment... sorry

[2021-02-17 17:33] v923z commented on #188
@street-grease-coder  What I meant is that you can calculate the covariance matrix in 5 `numpy` statements

[code]

We might have to implement the `keepdims` keyword, though. Since the implementation of this function is in `python` even in `numpy`, I don't see, why we should move to C.

Two similar issues have been raised in https://github.com/v923z/micropython-ulab/issues/320, and https://github.

[2021-02-17 17:38] v923z commented on #278
@CallumJHays I thought that I commented on this issue, but obviously, this is not the case. I would definitely like you to move this piece of code to a more visible place. I was thinking that we could create a `snippets` directory for functions that are implemented in `python`, and this definitely belongs there.

[2021-02-17 19:39] adamnpeace commented on #320
Hi there @v923z,

I'm just taking a look at this and also interested in getting support for `einsum`. I'm not sure I follow when you say that it's similar to `np.r_[]`, since in vanilla NumPy, `einsum` actually calls the `numpy/core/src/multiarray/einsum` C implementation which includes the parser and the loops that the `einsum` string specify.

Would it be possible for us to integrate this into `

[2021-02-18 08:04] v923z commented on #320
@adamnpeace

Yeah, you are right. Sorry, I totally tanked it. So, as far as I see, in `numpy`, this is a bit of a mix of `python`, and `C`. Do you think we have to do that, or you want to implement everything in C? Also, I would like to know, what the `optimize` keyword does. The documentation is a bit sketchy on this subject.

[2021-02-18 11:46] adamnpeace commented on #320
@v923z As far as I am aware, `optimize` is a newer concept in NumPy 1.12 that allows the caller to specify a way of preprocessing more complex operation strings at the Python layer (by executing inner parts of the einsum first to reduce the total number of flops), but by default NumPy will just pass the args straight to `c_einsum` and execute the string left-to-right at the C layer.

I think it's

[2021-02-18 17:52] v923z commented on #320
@adamnpeace

The `numpy` implementation is here
https://github.com/numpy/numpy/blob/5cae51e794d69dd553104099305e9f92db237c53/numpy/core/src/multiarray/einsum.c.src#L769, but it makes heavy use of a number of `numpy` facilities, so porting is not gonna be straightforward.

Of course, the first question is, whether you want to have complete `numpy` compatibility. You might have noticed that most of

[2021-02-19 04:05] dhalbert opened #328 "1.7.2: ndarray_get_buffer() thinks `->array` is a python object"
ulab 1.7.2 still defines the routine `ndarray_get_buffer()`. This code calls `mp_get_buffer(self->array, ...)`. However, my understanding from reading `create_zeros_ones_full()` is that `self->array` is the raw array of values. It is not a Python object. `mp_get_buffer()` expects its first arg to be a Python object, so bad things happen.

https://github.com/v923z/micropython-ulab/blob/743d86487c83

[2021-02-19 15:27] v923z commented on #328
That's right. `mp_get_buffer()` is leftover of the original code, when the `ndarray` was derived from `micropython`'s own `array` object, which I bid farewell to with version 1.0. I somehow overlooked that. Sorry for that, and thanks for pointing out the problem!

I think @jepler has already sorted this out in https://github.com/v923z/micropython-ulab/pull/329. The long-term question is, however,

[2021-02-19 15:33] dhalbert commented on #328
I saw `frombuffer` but I thought that was doing the reverse of what I wanted, which is to, say, copy an `ndarray` to a `bytearray`. I was look for `tobuffer`. Maybe I'm confused.

[2021-02-19 16:39] jepler opened #331 "[BUG] np.eye(dtype=bool)"
**Describe the bug**
np.eye(dtype=bool) returns all elements `False`.

Occurs at:
 - micropython-ulab legacy branch at 8d156616bf0ad1993e76357612623f59fdc9153c
 - micropython unix port as built by ./build.sh at v1.13-268-gf7aafc062

[code]

**To Reproduce**

[code]

**Expected behavior**
Standard Python/numpy prints
[code]

[2021-02-20 07:43] v923z commented on #328
I don't know, whether `tobytes` would do: https://github.com/v923z/micropython-ulab/blob/f4604d208b9d92d4fa8869b74a54ebb71a6ed101/code/ndarray.c#L1549-L1558

`mp_obj_new_bytearray_by_ref` should produce a buffer that you can use, but I am not 100% sure.

One more note on this subject: as the comment states, the `tobytes` function is not `numpy`-compatible, because it doesn't produce a copy. I opte

[2021-02-20 11:38] v923z commented on #315
@jgpeiro Sorry, this issue has somehow flown off my radar.

But to answer your question about improving the tests, you have demonstrated that the function failed, but passed the tests, which means that the tests were not adequate. So, as a bare minimum, we should definitely add this, or something similar to the test suite. Once that is done, we can close the issue.

[2021-02-20 12:36] jgpeiro commented on #315
I tried to add this code to linalg.py:
...
if use_ulab:
    a = np.array( [[1,2],[3,4]] )
    b = np.array( [[5,6],[7,8]] )

    print( np.dot( a, b ) )
    print( np.dot( a.transpose(), b ) )
    print( np.dot( a, b.transpose() ) )
    print( np.dot( a.transpose(), b.transpose() ) )
    ...

and linalg.py.exp:
array([[19.0, 22.0],
       [43.0, 50.0]], dtype=float32)
array([[26.0, 30.0],
       [

[2021-02-20 12:52] v923z commented on #315
@jgpeiro Oh, you can't do that directly. Here are the steps:

1. create a fork from `micropython-ulab`. This will be a copy on github that you can write to.
2. clone that to your local computer
3. add the test script, and run `.build.sh`: the section [Testing](https://github.com/v923z/micropython-ulab/#testing) might be useful at this point.
4. once you are done with adding the tests to your local

[2021-02-20 12:55] v923z commented on #331
@jepler https://github.com/v923z/micropython-ulab/pull/332 is a fix for this, and a couple of related bugs. I might have to do that for `linspace`, too.

[2021-02-20 19:21] dhalbert commented on #328
Fixed by #329 for my original problem. IO will close, but @v923z, if you want to create a new issue for the tail of the discussion, sounds like a good idea.

[2021-02-20 19:21] #328 closed

[2021-02-21 16:52] v923z opened #335 "[FEATURE REQUEST] support buffer protocol?"
@dhalbert, @jepler

`ulab` version 2.0 removed the `ndarray_get_buffer()` C function, and with that the support for buffer protocol. The rationale was that the explicit `frombuffer/tobytes` `python` functions should handle interaction with buffers, and at the time, `ndarray_get_buffer()` appeared to be duplication of functionality.

However, based on the comments in https://github.com/v923z/microp

[2021-02-21 16:56] v923z opened #336 "[FEATURE REQUEST] backport `byteswap`"
@dhalbert, @jepler Do you want me to backport this function? Here is the broader context: https://github.com/v923z/micropython-ulab/issues/306

[2021-02-21 19:29] jepler commented on #336
If the original requestor of the feature was using CircuitPython, then probably yes.  Otherwise, not necessarily.

[2021-02-21 19:39] v923z commented on #336
No, he wasn't. However, you are guaranteed to run into the endianness problem, if you try to pipe data from a peripheral device into a numerical array. On the other hand, at one point `circuitpython` is also going to switch to the `master` branch, so if you say that this is not a burning issue for you, I am not going to complain.

[2021-02-21 19:56] jepler commented on #335
I think that you need this function, as it is used in two ways:
 * from Python code, it makes a regression (compared to legacy branch and compared to standard python) in which `memoryview(ndarray)` will not work, unless there's something I'm overlooking.
 * internally, code which wants to treat an ndarray as a bunch of memory will use the `mp_get_buffer` and `mp_get_buffer_raise` functions (this i

[2021-02-21 19:59] v923z commented on #335
I think these are quite pressing reasons, so I will add then this to the master branch.

[2021-02-21 20:55] v923z commented on #335
This issue is fixed in https://github.com/v923z/micropython-ulab/pull/338, closing now.

[2021-02-21 20:55] #335 closed

[2021-03-03 09:25] pumelo opened #341 "Support for dtypes uint32 and int32"
**Describe the solution you'd like**
Support dtypes int32 and uint32.

**Additional context**
I do get an array of int32 from other hardware (i2s microphone). I did currently not find an efficient way to use this data with ulab than iterating over the array and converting it to an array of floats. This seems cumbersome and slow. So it would be nice to have int32 directly supported.

This is what I

[2021-03-03 09:51] pumelo commented on #341
Just found an "easy" way to get a performance boost (overally I'd still consider this slow 😸):

putting the conversion into its one function speeds the convertion up by approximatly a factor of two. I think this is mostly due to the attribute access and lookup which is not present. (data.arr[i] vs. input[i]). I think this is mentioned somewhere in the micropython docs..

[code]

[2021-03-03 17:45] v923z commented on #341
@pumelo

I think the short answer is no. If you want to know the reason, you can read more about the problems here: https://github.com/v923z/micropython-ulab/issues/306#issuecomment-774664893

However, if I understand your problem correctly, you do not want complete support, you only want to pass an `int32` array into a `numpy` function. This is a subtle, but significant difference.

Here are two

[2021-03-03 19:24] v923z commented on #341
@pumelo It would be great, if you could comment on https://github.com/v923z/micropython-ulab/pull/342 The PR is not complete yet. You can do something like this:

[code]
which then turns the `bytearray` into two floats.

The `offset`, `count` from `frombuffer` are supported, as well as the `byteswap=False` keyword argument for the case, when the endianness of the peripheral device causes problems.

[2021-03-04 19:09] pumelo commented on #341
@v923z wow, thank you very much for the fast reaction and the solution provided in #342. I'll go and test this.

👍 okay got the reason for not implementing int32. But just to mention, the esp32 family of chips is very bad at floating point operations. esp23-s2 does not even have an fpu. The esp32 is also reported to have very low flops (esp32-s3 should come with more support for flops). Which mean

[2021-03-04 19:19] v923z commented on #341
@pumelo

Many operations produce floating point results. Standard deviations, mean, all of the vectorised mathematical function, FFT, just to name a few. I understand that one could move the FFT to the integer domain, but you would still have difficulties with the other examples. So, I believe, it is practically impossible to get rid of the floats. Adding two new types would significantly increase

[2021-03-04 21:25] pumelo commented on #341
Just posting this here without further investigation:

Your examples in the doc work on the esp32-s2.

but If I use a larger buffer like 4096 bytes long like so:

[code]
the device crashes with
```Write operation at address 0x40020000 not permitted.```

Backtrace is this one here:
[code]

[2021-03-04 21:48] pumelo commented on #341
see comment in pull request. this seems to be the issue for the error.

Now working with the data from the mic is okay 💐

Conversion which previously took about 45ms happens now within 0.8 ms 😺  nice speedup

Thank you!

[2021-03-05 07:31] v923z commented on #341
I have fixed that.

Great, thanks for the feedback!

I have moved the `if` close one level up, so for the case, when you don't swap bytes, the code should run faster. The difference is probably not significant, though.

Do you think you could write a small test script for this function? If so, here is some help: https://github.com/v923z/micropython-ulab#testing

[2021-03-08 08:08] v923z commented on #341
https://github.com/v923z/micropython-ulab/pull/342 adds the requested functionality.

[2021-03-08 08:08] #341 closed

[2021-03-08 08:10] v923z commented on #336
Closing the issue.  A new issue should be opened, if the functionality is required in `circuitpython`.

[2021-03-08 08:10] #336 closed

[2021-03-08 17:46] v923z commented on #315
@jgpeiro https://github.com/v923z/micropython-ulab/pull/344 adds the requested tests. Closing the issue.

[2021-03-08 17:46] #315 closed

[2021-03-08 18:09] v923z commented on #331
@jepler https://github.com/v923z/micropython-ulab/pull/343 and https://github.com/v923z/micropython-ulab/pull/345 implements the fix on both relevant branches, closing the issue.

[2021-03-08 18:09] #331 closed

[2021-03-13 17:15] v923z commented on #276
https://github.com/v923z/micropython-ulab/pull/348 should close the issue.

[2021-03-13 17:15] #276 closed

[2021-03-15 17:12] thalesmaoa opened #349 "[BUG] Can't compile ulab for ESP32"
**Describe the bug**
Can't compile ulab using README instructions. It seems that something is missing.

[code]

**To Reproduce**
Follow ESP32 compilation instructions from README

**Expected behavior**
Compile elf file.

[2021-03-15 17:31] v923z commented on #349
@thalesmaoa Can you run a `make clean` before anything else?

[2021-03-15 17:35] thalesmaoa commented on #349
Yes. I did. Result is the same. I also made in a fresh new folder.

[2021-03-15 17:36] v923z commented on #349
Can you compile for the `unix` port, or is this issue related to the ESP32 only?

[2021-03-15 17:38] v923z commented on #349
Oh, I might know what the problem is: you are still pinning the `micropython` version to 1.14, right? We have added the `cmake` fragment: https://github.com/v923z/micropython-ulab/blob/master/code/usermod.cmake. Can you unpin the `micropython` version, and try to compile again (starting with `make clean`)?

[2021-03-15 18:28] thalesmaoa commented on #349
Sure. I'm doing a fresh install here. Will let you know soon.

[2021-03-21 08:56] v923z opened #350 "make frombuffer conform to numpy"
@jepler

The creation of `ndarray`s from buffers should conform to `numpy`'s behaviour, i.e., if the buffer is mutable, `frombuffer` should produce a view, otherwise, a copy. Background can be found in https://github.com/adafruit/circuitpython/pull/4403#issuecomment-803468553

[2021-03-21 09:00] v923z commented on #349
@thalesmaoa Sorry, I haven't seen your edits. You should always open a new section in the thread, otherwise, I don't get notifications.

Have you read https://github.com/v923z/micropython-ulab/issues/323? I am not set up for ESP32 at the moment, but I will try to install the dependencies, and see what can be done.

What happens, if you delete the `cmake` fragment https://github.com/v923z/micropyth

[2021-03-21 17:53] #349 closed

[2021-03-21 17:54] v923z commented on #349
@thalesmaoa The issue has automatically been closed by https://github.com/v923z/micropython-ulab/pull/351. I could compile the firmware with the updated instructions. If you still have difficulties, re-open the issue!

[2021-03-21 19:44] thalesmaoa commented on #323
I saw that you've updated some instructions. The difference from the presented ones and they way I was doing it the root directory. I will follow it again.

[2021-03-23 17:19] v923z commented on #302
@water5 Do you think you could add a test script to https://github.com/v923z/micropython-ulab/pull/353? If so, here are the instructions: https://github.com/v923z/micropython-ulab/#issues-contributing-and-testing. Thanks!

[2021-03-23 18:29] v923z commented on #349
@thalesmaoa Here is a script that should compile for the ESP32 port: https://github.com/v923z/micropython-ulab/tree/master/build
simply download the file (`ulab` will be cloned automatically), and run the script.

[2021-03-23 18:57] thalesmaoa commented on #349
Perfect. Thanks.
-
Thales Alexandre Carvalho Maia

Em ter., 23 de mar. de 2021 às 15:30, Zoltán Vörös ***@***.***>
escreveu:

[2021-03-25 14:23] jrmoserbaltimore opened #355 "[FEATURE REQUEST] Add numpy.polynomial.polynomial.Polynomial.roots()"
**Describe the solution you'd like**
`ulab` already has `polyfit()`, but not `Polynomial`.

I would like to see `Polynomial` implementing `Polynomial.fit()` and `Polynomial.roots()`, as well as `Polynomial.coef` as in `numpy`.

**Additional context**
For certain sensors, particularly Hall effect sensors, the reading is a function of the square of the distance to an object, or some other polynomial

[2021-03-25 18:05] v923z commented on #355
@jrmoserbaltimore Just to make sure that we are on the same page, you mean some of the functions from this package: https://numpy.org/doc/stable/reference/routines.polynomials.package.html

As far as I understand, you want to fit a quadratic polynomial, right? But you can find the roots of that via a closed formula. I wonder, whether the following snippet would actually address the issue

[code]
F

[2021-03-27 00:56] jrmoserbaltimore commented on #355
True. Part of this is just looking at cross-platform compatibility, writing code to function in both without writing wrappers around `ulab` to replace `numpy` functions that are called on CPython.  `polyfit` is deprecated in `numpy` and all.

If you did implement it, it would be viable to just raise an exception if finding the root with order `n>2` or whatever you think is too complex for the poor

[2021-03-27 09:21] v923z commented on #355
@jrmoserbaltimore

OK, I haven't known about this, and this is definitely a valid point. But this would simply mean that we would have to re-label the `python`-facing functions, and we can keep the implementation. So this would not be too much of an overhead. Adding a module as in `numpy` would have the benefit that extra functions (like differentiation, integration etc.) could be added later. The

[2021-03-27 13:44] jrmoserbaltimore commented on #355
[It's considered old API](https://numpy.org/doc/stable/reference/generated/numpy.polyfit.html) but I may be misreading.  On a closer look it looks like they just [moved the location](https://numpy.org/doc/stable/reference/routines.polynomials.polynomial.html), but it's the same function.  I want to say I'm a politician, not a programmer, but it's more accurate to say I'm just a *bad* programmer 😄

[2021-03-27 14:39] v923z commented on #355
OK, so we could simply re-package the functions that we already have, and add the roots for `n <= 3`. `n = 4` is already ugly, beyond that is possible only numerically (no closed formula). But if we do this, then you don't get the `Polynomial` class. Is that OK?

But you still can't avoid the difficulty of having complex roots of a real polynomial. Something like this:

[code]

`polynomial.polyroo

[2021-03-27 15:18] jrmoserbaltimore commented on #355
Fair enough.  I didn't find the roots function in `ulab`, have to look further.  Didn't realize it didn't do degree-2 polynomials either.

I'll think on this some more; lots of stuff I didn't consider or realize here.

[2021-03-27 15:20] v923z commented on #355
No, it is not there, so don't look for it!

[2021-03-31 18:52] v923z commented on #278
@CallumJHays Cal, is this OK, or do you want to change something here: https://github.com/v923z/micropython-ulab/pull/358?

[2021-03-31 18:56] v923z commented on #323
I think https://github.com/v923z/micropython-ulab/pull/354, and the extended build instructions in the [readme](https://github.com/v923z/micropython-ulab#esp32-based-boards) address the issue at hand, so closing now.

[2021-03-31 18:56] #323 closed

[2021-04-04 03:06] CallumJHays commented on #278
Merged in with #358

[2021-04-04 03:06] #278 closed

[2021-04-13 07:47] JamesTev opened #363 "[FEATURE REQUEST] `linalg.eig` for asymmetric matrices (and SVD?)"
I need to be able to find eigenvalues on an asymmetric square matrix (as offered by [numpy](https://numpy.org/doc/stable/reference/generated/numpy.linalg.eig.html)), although it seems that `ulab.linalg.eig` only works on symmetric square matrices at the moment. Is there a reason for this? I assume it's for computational reasons.

Also, is implementation of SVD and/or QR factorisation in the pipeli

[2021-04-13 17:12] v923z commented on #363
@JamesTev

That was the simplest case to implement. To be honest, you are the first, who has asked a question about `eig`, so I wasn't even sure, whether people use it at all, and there seemed to be no reason for investing too much time into something that is useless.

The snag is, each type of matrix has its own numerical difficulties, and if you look at serious numerical packages, different meth

[2021-04-13 17:18] v923z commented on #268
@jepler @dhalbert I think, Jeff fixed this in https://github.com/v923z/micropython-ulab/pull/362. Is that correct?

[2021-04-14 07:40] JamesTev commented on #363
I see - that makes sense.

I'm not too familiar with your particular `eig` implementation but do you think handling asymmetric matrices would be difficult? Perhaps Schur decomp (see [here](https://github.com/scipy/scipy/blob/master/scipy/linalg/decomp_schur.py)) could be an alternative? It works for arbitrary square matrices. I'm not too familiar with it but I believe it can be solved using QR fac

[2021-04-14 17:03] v923z commented on #363
I actually use Jacobi rotations, but that is off the point. I think QR would be relatively straightforward. Give me a couple of days. But that might not take you to the finish line.

I forgot to mention yesterday that one of the reasons for sticking with symmetric matrices was that their eigenvalues are real, and I didn't want to deal with complex numbers. (I have nothing against them, but they ad

[2021-04-14 18:36] v923z opened #364 "[FEATURE REQUEST] support for complex dtype"
I would like to discuss the ramifications of adding support for complex arrays in `ulab`.

At the beginning, the Fourier transform was the single function that would have required complex arrays, but it was possible to just pass and return two real arrays that stood for the real and imaginary parts. This was not very elegant, but still acceptable. However, there have been at least two feature requ

[2021-04-14 18:40] v923z commented on #363
@JamesTev Here is a new issue, you could comment on the specific questions there: https://github.com/v923z/micropython-ulab/issues/364

[2021-04-14 18:40] v923z commented on #355
@jrmoserbaltimore Here is a new issue, you could comment on the specific questions there: https://github.com/v923z/micropython-ulab/issues/364

[2021-04-14 19:01] jepler commented on #364
In CircuitPython, we enable complex values on any "full build", but never enable the cmath library.  My gut tells me that users of CP don't need complex ulab arrays.  When it comes to FFT, spectrum is more useful than the complex fft values themselves.

Since you bring up code size increase, it's worth remarking that the current CI of your master branch is not able to check whether additions to ul

[2021-04-14 19:02] jepler commented on #268
I think these particular warnings aren't occurring at the moment.

[2021-04-14 19:02] #268 closed

[2021-04-14 19:09] CrakeNotSnowman commented on #364
I'm not the most familiar with circuit pythons inner workings, but would this kind of proposal make more sense as a library/module proposal rather than adding another dtype into Circuit Python? I'm initially seeing it as sort of the same way Numpy has a different set of dtypes than Python does.

[2021-04-14 19:12] v923z commented on #364
But this is something that I can't possibly check on this side: I have no idea, which (extra) modules you compile into `circuitpython`. Or have I misunderstood you?

[2021-04-14 19:15] v923z commented on #364
That's right, but the `dtypes` that `numpy` defines are internal to `numpy`. There are no extra libraries that implement extra `dtypes`. Also, the question was raised in a very general context. I called out to a couple of `circuitpython`-related people, but that doesn't mean that the discussion concerns `circuitpython` only.

[2021-04-14 20:00] CrakeNotSnowman commented on #364
I see what you mean by saying it's hard to decouple from the core and especially ulab's functions--with the emphasis that completely real input can generate complex output. But the increase in size by adding a complex dtype is really large. Maybe it's worth it though for these use cases.

Looking at the libraries which do 'heavy' math in the python ecosystem--a majority of them use Numpy to recast

[2021-04-14 20:31] v923z commented on #364
But `numpy` already supports `complex`. In fact, `numpy` supports some 13 `dtype`s. I understand what you are saying, e.g., that `pandas` is built on top of `numpy`, but all those libraries are just wrappers around `numpy`, defining their own data container, but not the numerical types. `numpy` supports such definition of [custom containers](https://numpy.org/doc/stable/reference/arrays.dtypes.htm

[2021-04-16 20:37] CrakeNotSnowman commented on #364
Ah this is extremely clarifying, thank you. I feel I'm beginning to understand the core of this issue. I wish I could more rapidly come to speed, but that's how it goes. Also thank you for linking me to the source examples, and taking the time to organize it all.

And the problem of real numbers generating complex results is an important issue. At the same time I agree full numpy parity isn't poss

[2021-04-17 10:16] v923z commented on #364
Not at all. Discussions are useful, when the points are clearly articulated. Besides, having a sounding board is really beneficial, especially, in _complex_ cases like this (pun intended).

You want to sort of sub-class the present definition of the `ndarray`, and add the option of extending it via an extra library. As far as I know, this is not possible at the C level, at least, not on the cheap.

[2021-04-18 15:47] nonix opened #365 "README correction for ESP32"
**Describe the bug**
Just a small README.md correction.
In section [ESP32-based-boards](https://github.com/v923z/micropython-ulab#esp32-based-boards)
"Finally, build the firmware:"

- ESPDIF env. variable needs to be set to ../../esp32/esp-idf
- mpy-cross needs to build first:
     cd ../../mpy-cross
     make
     cd -

[code]

**To Reproduce**
I've just followed the steps ...

**Expected behavio

[2021-04-18 18:03] v923z commented on #365
True, thanks for pointing that out!

But that is the very first step in that section, after cloning the repositories.

By the way, you can simply take the build script https://github.com/v923z/micropython-ulab/blob/master/build/esp32.sh.

[2021-04-20 16:22] v923z commented on #364
I have opened a draft under https://github.com/v923z/micropython-ulab/pull/366. Implementation-specific details should probably be discussed there.

[2021-04-20 16:24] v923z commented on #363
@JamesTev I have opened a draft under https://github.com/v923z/micropython-ulab/pull/366. With that, we should be able to insert a generic eigenvalue solver in `linalg`. Could you, please, spell out once more, what exactly you need? Matrix manipulations in linear algebra are really a huge topic, and we shouldn't squander resources on an implementation that is of no interest to anybody.

[2021-04-20 16:28] v923z commented on #355
@jrmoserbaltimore I have just opened a draft under https://github.com/v923z/micropython-ulab/pull/366. With that, we should be able to support the `roots` function. I don't know, what exactly you want to do with the results, so it would be great, if you could comment on what exactly you need afterwards. Finding the roots is one thing, but I assume that you want to use the results somewhere.

Also,

[2021-04-20 16:53] JamesTev commented on #363
@v923z Awesome, thank you! I agree that it's important to focus resources on the most useful functionality. To this end, a generic eigenvalue solver would be useful for countless algorithms and applications. My need (to perform CCA for EEG analysis) is just one. Although dimensionality reduction type problems are often fine because covariance matrices are symmetric, I've encountered several proble

[2021-04-24 06:11] teuler opened #372 "Switch to `cmake` on the ESP32 port?"
Is there a plan to enable including ulab into MicroPython >1.14 for the ESP?
Thanks!

[2021-04-24 06:41] v923z commented on #372
@teuler I am not against it, but I don't have the resources at the moment. Do you think you could update the README, and the [build script](https://github.com/v923z/micropython-ulab/blob/master/build/esp32.sh)?

[2021-04-24 07:56] teuler commented on #372
Unfortunately, not sure if I know enough about cmake ...

[2021-04-24 15:38] v923z commented on #372
The [cmake fragment](https://github.com/v923z/micropython-ulab/blob/master/code/micropython.cmake) is already in `ulab`, the question is, whether the rest of the [build script](https://github.com/v923z/micropython-ulab/blob/master/build/esp32.sh) is correct.
The raspberry pico is known to work with `cmake`: https://github.com/v923z/micropython-ulab/blob/master/build/rp2.sh

[2021-04-25 06:56] teuler commented on #372
This is my take on that:

The following procedure builds the MicroPython firmware for ESP32 microcontrollers based on the latest version of MicroPython (currently 1.15) and includes `ulab`.

It has been tested with Ubuntu 20.04 installed in the Linux subsystem of Windows 10 (64 bit).

_Note: The only limitation I noticed is that deploying the firmware seems not to work with the standard baud rate

[2021-04-25 10:14] v923z commented on #372
@teuler Many thanks, Thomas! Do you want to turn this into a PR, or should I just copy your comments into the README?

[2021-04-25 10:31] teuler commented on #372
Why don't you just add it to the README. It would be good if someone else tested it.

[2021-04-25 10:37] teuler commented on #372
_Note: With a fresh Ubuntu 18.04 (also under Windows 10), I had to install some packages:_
[code]

[2021-04-25 10:39] v923z commented on #372
OK, will do. Thanks again!

[2021-04-25 10:42] teuler commented on #372
RE: Ubuntu 18.04: Not as straight forward as I earlier thought: The build process requires CMake >= 3.12, but for Ubuntu 18.04 CMake 3.10.2 seems to be the highest version. Can probably be solved but I don't want to spend my time here as it works fine with Ubuntu 20.04.

[2021-04-25 10:44] v923z commented on #372
I think this is OK, and this has nothing to do with `ulab` or `micropython`: if the OS is not equipped with the required tools, then it is not our responsibility.

[2021-04-25 14:16] teuler commented on #372
Another note:

When selecting `BOARD=TINYPICO`, the firmware is built but deploy fails, because with ulab, the firmware is too large for the standard partition. To address this issue:

1. Add a new partition table file named `partitions_ulab.cvs` to `$BUILD_DIR/micropython/ports/esp32/`. It increases the size of the partition `factory` by 128 kB and decreases the size `vfs` by the same amount.
[co

[2021-04-26 17:20] water5 opened #373 "[Question] How to update ulab code with CircuitPython build?"
In CircuitPython, ulab included by default, but the ulab source code not enough update, I can't find ulab relate folder in
[https://github.com/adafruit/circuitpython/tree/main/shared-bindings](https://github.com/adafruit/circuitpython/tree/main/shared-bindings),
and I try to include independent ulab directory via:
`make BOARD=itsybitsy_m4_express USER_C_MODULES=../../../micropython-ulab all`, retu

[2021-04-26 18:34] v923z commented on #373
@water5 Have you looked at https://github.com/v923z/micropython-ulab/blob/master/build-cp.sh? That will compile the unix port, but you could take that as a starting point.

[2021-04-26 18:42] v923z commented on #373
@water5 Another thought: does

[code]
fix the issue?

[code]

[2021-04-26 18:56] v923z commented on #373
@jepler Jeff, do you have any comments? I mean, `x1 == 0.0` is clear wrong, but I wonder, why it doesn't fail in the CI.

[2021-04-26 18:58] water5 commented on #373
I'm not ensure use `make BOARD=itsybitsy_m4_express USER_C_MODULES=../../../micropython-ulab all` is right way for CircuitPython build,
because use `make BOARD=itsybitsy_m4_express` will generate firmware included ulab also, what location of the ulab source code in CircuitPython repository?

[2021-04-26 19:03] v923z commented on #373
@water5 If you run the build script that I linked to above, it will clone `circuitpython` into the right place. First you have to clone `ulab`, and then run https://github.com/v923z/micropython-ulab/blob/master/build-cp.sh. Once you have the `unix` port, you can navigate into `circuitpython`, and find the port that you want to compile for.

But you might get better help on the `circuitpython` gith

[2021-04-26 19:03] dhalbert commented on #373
All you have to do in CircuitPython is to make sure `CIRCUITPY_ULAB = 1`. Our build system will take care of everything else.

If you want to try a newer version of `ulab`, then move the commit for the submodule forward. You shouldn't need any extra command-line arguments (if I'm understanding what you're trying to do).

[2021-04-26 19:04] dhalbert commented on #373
`circuitpython/extmod/ulab`.

[2021-04-26 20:05] v923z commented on #373
@water5 Could you, please check out `ulab` again, and try to compile it? I made an attempt at fixing the issue in https://github.com/v923z/micropython-ulab/pull/374.

[2021-04-26 21:19] water5 commented on #373
@v923z Refer :

I just use wrong method to include `ulab` to build CircuitPython, I build it again use `make BOARD=mini_sam_m4 USER_C_MODULES=../../../micropython-ulab all` still currently (I'm not skill in use github), receive error below:

I build CircuitPython via `make BOARD=mini_sam_m4` to use CircuitPython repository currently /extmod/ulab, is use : [https://github.com/v923z/micropython-ulab

[2021-04-26 21:21] water5 commented on #373
How to do that (I'm not skill in use github)?

[2021-04-26 21:32] v923z commented on #373
I am no expert, but based on @dhalbert's comments, I assume that all you have to do is set `CIRCUITPY_ULAB=1` in one of the `mpconfigport.mk` files. E.g., there is one in `circuitpython/ports/atmel-samd`. (I believe that is what you would need for your port.). You don't have to pass `USER_C_MODULES=...` on the command line, just run `make` with the BOARD argument.

[2021-04-26 21:33] dhalbert commented on #373
You do not need `USER_C_MODULES=../../../micropython-ulab all`, just `make BOARD=mini_sam_m4` is sufficient.

What is it exactly that you want in `ulab`. We are at version 2.6.0 + a few more commits. If you want the absolute latest:
[code]
Then do a `make BOARD=mini_sam_m4 clean` and `make BOARD=mini_sam_m4`.

[2021-04-26 22:52] water5 commented on #373
Thanks, switch to latest `ulab` refer dhalber comment, and build CircuitPython again use `make BOARD=mini_sam_m4`,
build pass.
It's not a `ulab` issue? and it's not "do not need `USER_C_MODULES=../../../micropython-ulab all`", it can't use `USER_C_MODULES=../../../micropython-ulab all` when build `ulab` into CircuitPython, it will be cause some error, though I can't figure out the reason now, but

[2021-04-26 23:01] water5 commented on #373
Is it should withdraw [https://github.com/v923z/micropython-ulab/pull/374#issue-623678541](https://github.com/v923z/micropython-ulab/pull/374#issue-623678541)?

[2021-04-27 06:01] v923z commented on #373
I have added a section on `circuitpython` here: https://github.com/v923z/micropython-ulab/pull/375

[2021-04-27 17:20] v923z commented on #373
This is resolved in https://github.com/v923z/micropython-ulab/pull/375, so closing now.

[2021-04-27 17:20] #373 closed

[2021-04-28 05:59] v923z commented on #372
@teuler Thomas, many thanks for your comments! I have incorporated them in https://github.com/v923z/micropython-ulab/pull/376. If you have any corrections, please, open a new issue! Closing now.

[2021-04-28 05:59] #372 closed

[2021-04-28 06:00] v923z commented on #365
The corresponding section in the README has been overhauled in https://github.com/v923z/micropython-ulab/pull/376, so closing the issue now.

[2021-04-28 06:00] #365 closed

[2021-05-05 16:25] vikas-udupa opened #378 "Implementation of QR factorization"
Hello @v923z. I noticed that in qr branch, you are currently working on the implementation of QR factorization, which I feel would be very useful. I have a couple of questions regarding the same.

1. In order to implement the factorization, are you implementing the Householder algorithm or the Gram-Schmidt algorithm?
2. What stage of the implementation are you currently at and by when are you expe

[2021-05-05 17:47] v923z commented on #378
Gram-Schmidt is numerically ill-conditioned. Householder could be OK, but I actually started to work with Givens rotations.

I think the implementation is complete, but there is a sign error somewhere, which I haven't yet found. I'll try to fix it over the weekend at the latest. However, if you have something that's already working, that would definitely be useful.

[2021-05-07 05:37] v923z opened #379 "[FEATURE REQUEST] add solve_triangular documentation"
`solve_triangular` has been added to `scipy`, but its documentation is still missing.

[2021-05-09 06:33] v923z commented on #379
This issue has been addressed in https://github.com/v923z/micropython-ulab/pull/380, so closing now.

[2021-05-09 06:33] #379 closed

[2021-05-09 06:53] v923z opened #382 "[BUG]ulab does not compile with latest circuitpython"
@jepler The CI (and consequently, `circuitpython` build) fails with the latest `circuitpython`: https://github.com/v923z/micropython-ulab/runs/2537755096

I don't quite see at the moment what the problem is, but I am pretty sure it is caused by a modification in the `circuitpython` code: I re-ran the jobs with https://github.com/v923z/micropython-ulab/commit/a61cd88f245bddc49f0eda8158de2abd080b4dd

[2021-05-10 17:54] v923z commented on #382
@jepler Many thanks!

[2021-05-10 18:13] v923z commented on #382
@jepler Jeff, sorry, I have to re-open this: https://github.com/v923z/micropython-ulab/pull/371 fails on the push: https://github.com/v923z/micropython-ulab/pull/371/checks?check_run_id=2548339155

I am really confused now, given that push and pull are treated on the same footing in the workflow...

[2021-05-10 23:22] jepler commented on #382
I think that if you merge master into your pr branch that it will pass on push. "Push" runs the branch exactly as is, and the branch itself doesn't have the fix for this issue. The pull request build creates a merge commit and builds that, so it includes the fix.

[2021-05-11 04:56] v923z commented on #382
Oh, sorry, that makes sense!

[2021-05-11 17:22] v923z commented on #382
@jepler I have rebased the `qr` branch, the tests pass now. Sorry for the noise!

[2021-05-11 17:24] v923z commented on #378
@vikas-udupa I think the code should be OK now, at least for the `mode='complete'` case: https://github.com/v923z/micropython-ulab/pull/371
If you have comments, then in the thread of the PR, please!

[2021-05-13 18:46] jepler opened #387 "[BUG] ulab array corruption with slices"
As reported by @kevinjwaters at https://github.com/adafruit/circuitpython/issues/4753, there seems to be a problem with memory corruption when ulab arrays are sliced.

I am in a fresh, up to date clone of ulab master branch (90824d28e5755034d9ba95dd0a6431e4a6d0225e), ran `./build.py`.

I put the following content in `gcproblem.py`:
[code]
then I run `./micropython/ports/unix/micropython gcproblem.

[2021-05-13 19:26] v923z commented on #387
So, would it be enough, if, in https://github.com/v923z/micropython-ulab/blob/90824d28e5755034d9ba95dd0a6431e4a6d0225e/code/ndarray.h#L73-L83, we added a new member to the struct, `void *origin`, and then in
https://github.com/v923z/micropython-ulab/blob/90824d28e5755034d9ba95dd0a6431e4a6d0225e/code/ndarray.c#L767-L785
simply had
[code]
Of course, we also have to set `origin` in https://github.com

[2021-05-13 20:12] #387 closed

[2021-05-13 20:44] kevinjwalters opened #389 "median on empty array crashes"
`ulab.numerical.median()` on an empty `ndarray` crashes in CircuitPython 6.2.0. This occurred in an application I'm writing under certain conditions and it the CLUE board did the hard crash handler thing with `CircuitPython core code crashed hard. Crikey!` appearing.

[code]

[code]

For comparison, numpy returns `nan`.

[2021-05-13 20:58] v923z commented on #389
@kevinjwalters This is one of those corner cases, on which you find absolutely no documentation. It is related to these two open issues: https://github.com/v923z/micropython-ulab/issues/304, and https://github.com/v923z/micropython-ulab/issues/301.

Is it a reasonable assumption that `numpy` functions called with empty arrays return a `nan`?

[2021-05-13 21:07] kevinjwalters commented on #389
I tested `numpy` and it gives `nan` which seems reasonable to me.

This was a real world case for me, I'm filtering an array for voltages above 50mV and I had a case where there were none above that value and array became zero length. My CLUE crashed when it did some stats on that array. I just had to reboot my desktop as it got confused over the usb devices due to those hard crashes!

[2021-05-13 21:08] v923z commented on #389
@kevinjwalters
This is really a bit of a mess:

[code]
prints

[code]

[2021-05-13 21:10] kevinjwalters commented on #389
[code]

!

[2021-05-13 21:14] v923z commented on #389
@kevinjwalters It is clear that this needs to be fixed, but I don't see at the moment, what kind of system `numpy` uses. `sum`, `median`, and `sin` return three different types, if you pass an empty array.

[2021-05-15 22:21] kevinjwalters commented on #389
Is that weird value out of mean a separate bug?

[2021-05-16 16:48] v923z commented on #389
No, I think we can keep it here. The treatment of empty arrays has to be overhauled, and I don't want to open a new issue for all functions that will be affected. I am going to do this in one sweep, as soon as I can figure out, how `numpy` behaves.

[2021-05-17 22:39] kevinjwalters commented on #389
`numpy.sin` is different to the rest as it iterates over the array and returns a value for each member. It's reasonable for that to return empty array if given an empty array.

[2021-05-18 20:08] v923z commented on #389
@kevinjwalters The latest code should not crash, if you initialise with an empty iterable. `mean`, `sum`, `std`, `sin` etc. also work. I will have to check out the `median`.

[2021-05-20 04:57] v923z commented on #304
@water5 I think this is solved in https://github.com/v923z/micropython-ulab/pull/392, so closing now.

[2021-05-20 04:57] #304 closed

[2021-05-22 12:58] v923z commented on #389
@kevinjwalters https://github.com/v923z/micropython-ulab/pull/393 fixes the issue. If you are satisfied with the solution, I will create a new tag, so that `circuitpython` can include the changes in the nightly build.

[2021-05-22 15:48] v923z commented on #378
@vikas-udupa Do you think you could look at https://github.com/v923z/micropython-ulab/pull/371?

[2021-05-23 19:44] FrantisekPostl opened #394 "Can't build firmware for Pico"
Hi, I'm on MacOs 11.1 , python 3.9.5. I'm trying to build Micropython firmware with ulab 2.7.1 for Pico. I'm new to Python and Micropython. In last step - make USER_C_MODULES=/path/to/ulab/code/micropython.cmake I'm getting this error.

[code]

In readme is USER_C_MODULE, in build script is USER_C_MODULES.

[2021-05-24 14:50] khalidsgh commented on #394
Hi, i got the same error too while trying to build the firmware for ESP32.
My environment:
- Ubuntu 20.04
- python 3.6
- CMake 3.20

[2021-05-24 16:56] kevinjwalters commented on #389
I had a quick glance and it looks ok. Are you using `sqrt` to get a `nan` value? I see this approach elsewhere in the code.

https://github.com/adafruit/circuitpython/blob/7df5d74d951f41347502087ef851c19e76c7a2f7/py/parsenum.c#L236

[2021-05-24 17:57] v923z commented on #389
What speaks against it?

[2021-05-24 18:08] v923z commented on #389
@kevinjwalters I have took `sqrt(-1.0)`, because the CI failed on mac with the gcc constant `NaN`. Curiously, while `sqrt(-1.0)` passed the CI checks, it created another problem, as indicated in https://github.com/v923z/micropython-ulab/issues/394, so I will try with your suggestion now.

[2021-05-24 18:12] v923z commented on #394
@FrantisekPostl @khalidsgh Thanks for reporting the issue! I _think_ https://github.com/v923z/micropython-ulab/pull/395 should be a fix. Could you, please, check out the latest code, and try to compile the firmware?

[2021-05-24 19:27] FrantisekPostl commented on #394
Hi, it's working :), super fast fix. In firmware compilation steps for pico is probably typo, USER_C_MODULE should be USER_C_MODULES.

[2021-05-24 19:29] v923z commented on #394
@FrantisekPostl Thanks for the feedback!

I will change the text. However, you can also just run the build script.

[2021-05-25 07:45] arnonsen opened #396 "[BUG] dtype of (ndarray + integer_constant) not as expected"
Two bugs:
1. numpy casting does not follow expected casting (compared with my python 3 or https://www.onlinegdb.com/)
    Adding the value '1' to an 8-bits array changes the type of the array to 16 bits.
2. np does not have __version__ ?! (not really why I opened this issue)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute '

[2021-05-25 08:27] arnonsen commented on #364
I have no formal branch here but on my local copy I added the following dtypes: **int32**, **uint32** and **int64**.
I did that without enlarging the number of operators loops (BINARY_LOOP, EQUALITY_LOOP etc.) but actually I'm in the process of getting rid of them, so my code size is in the process of becoming much smaller. I'm also not using the method of calling a casting function per element as

[2021-05-25 08:47] khalidsgh commented on #394
Hi @FrantisekPostl, it's working, thank you very much.

[2021-05-25 09:14] v923z commented on #396
@arnonsen

Please, add a descriptive title to your issue!

It doesn't. `ulab` incorporates three sub-modules at the moment (a fourth one is on the way), and `numpy` is only one of them. It really doesn't make sense to track the sub-modules, so there is a single version number, and that is for `ulab`:

[code]

Adding version numbers to sub-modules would also be extremely confusing: we do not necess

[2021-05-25 09:18] v923z commented on #364
@arnonsen

You should fork the repository, and commit your code. It is hard to comment on what you are doing, if we can't see it.

[2021-05-25 09:19] v923z commented on #394
@khalidsgh Thanks for the feedback! Since both cases seem to be resolved, I am closing the issue now.
@FrantisekPostl

[2021-05-25 09:19] #394 closed

[2021-05-25 10:22] arnonsen commented on #396
Following the behavior of full python within the existing types adds very little code, I'm in a process if doing it right now and I will share the fix. For example it will give the following results:
[array of int8] + (-128..127) --> [array of int8]
[array of uint8] + (0..255) --> [array of uint8]
Currently the array is up-cased to 16 bits (on this example) so it doubles the RAM taken for the gene

[2021-05-25 11:16] v923z commented on #396
There are several places in the code, where upcasting happens. One is the binary operators, another is [compare.c](https://github.com/v923z/micropython-ulab/blob/master/code/numpy/compare/compare.c).

This is definitely true.

[2021-05-25 13:48] arnonsen commented on #396
Update,
The attached script tests all the combinations of ARRAY+ARRAY and ARRAY+SCALRE,  here is its partial printout.
Test s/s:
  s8 + s8 = array([0], dtype=int8)
  s8 + s16 = array([0], dtype=int16)
  s8 + s32 = array([0], dtype=int32)
  s8 + s64 = array([0], dtype=int64)
  s16 + s8 = array([0], dtype=int16)
  s16 + s16 = array([0], dtype=int16)
  s16 + s32 = array([0], dtype=int32)
....
....
Se

[2021-05-27 08:34] arnonsen commented on #396
I pushed code to my fork:
1. Add new types: INT32  UINT32  INT64
2. Fix upscaling to match formal Numpy.
3. Support several operators which were not supported before
4. Reduce code size by ~20% with new types !
The code reduction is work in progress.

[2021-05-27 16:25] v923z commented on #396
Currently I have a number of compilation errors, so I can't really comment on the performance.

These should be optional, i.e., you should add a pre-processor switch for these data types, and you should guard these cases everywhere in the code.

Thanks!

These should also be optional.

A couple of comments:

1. You try to change a number of things in a single sweep, and that is not advisable. A si

[2021-05-27 16:58] arnonsen commented on #364
I made a fork with committed my chnages.

[2021-05-27 20:30] arnonsen commented on #396
Thanks a lot for your comments, I agree with most of them and I will refer to each.

1. my recent fork and commit reflects work I've done for a few days (on an older Ulab version) once I realized it's preferable to share my work rather than keep it to my self.  I spent many hours today cleaning up etc. just for that, this is why it includes multiple changes. future commits would be incremental. As

[2021-05-28 04:07] arnonsen commented on #396
please note the fix consists of two parts, the upcasting function and the array/scalar type matching.

[2021-05-28 06:11] v923z commented on #396
I am not against comparing the raw pointers, all I wanted to say is that it should be the subject of a different commit. If you look at the title of this issue, `dtype of (ndarray + integer_constant) not as expected`, it does not concern the string comparison for the `flatten` method. If you change a lot of things under the same heading, then later on it will be really hard to find what caused whi

[2021-05-28 06:11] v923z commented on #396
OK, I'll do.

[2021-05-31 12:58] arnonsen commented on #396
After updating "compare" code reduction is now 26%.
Regarding the FFT, mine has pre-prepared tables and it's platform specific. I fully understand your choice of no RAM overhead.

[2021-05-31 17:11] v923z commented on #396
If your routine brings significant speed improvements (say, a factor of 2), I am not against optionally adding that.

[2021-06-01 16:22] v923z commented on #396
https://github.com/v923z/micropython-ulab/pull/398 should resolve the original issue.

[2021-06-01 16:55] mdaeron opened #399 "Compile errors for TinyPICO on macOS"
Based on the instructions in the readme, I'm attempting to compile `micropython` + `ulab` for a TinyPICO, from macOS Catalina (10.15.7), using the following script:

[code]

This fails with the following errors:

[code]

Is there anything obvious I'm missing?

[2021-06-01 17:18] mdaeron commented on #399
@v923z, you're right, leaving `ulab` out of the script results in the same error. I'll try to understand what's happening, sorry for the noise.

[2021-06-01 17:25] v923z commented on #399
No problem.

[2021-06-01 17:26] v923z commented on #399
@teuler Thomas, do you see similar errors on windows/linux? We might have to update the build script.

[2021-06-01 18:00] arnonsen opened #400 "Numpy compatibility for the type of single ndarray members"
On formal Numpy, the output for **print(type((np.array([1],dtype=np.int32)[0])))** is **<class 'numpy.int32'>**, the array items keeps their types when used as scalars.
On ulab the items out of the array becomes 'int' or 'float'.
Is it worthwhile supporting this feature on Ulab, is there any added value for this feature ?

[2021-06-01 18:43] v923z commented on #400
@arnonsen

I don't think so: the `micropython` objects are integers or floats, there is no distinction between `uint8`, and `int16`. I believe, the only case, where the type of the integer matters is, when you pair it with an `ndarray`. But I have just sorted that out.

[2021-06-03 08:45] v923z opened #405 "[FEATURE REQUEST]scipy-compatibility of cho_solve"
@vikas-udupa

Vikas, according to the documentation, https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.cho_solve.html, the first argument of `cho_solve` is a tuple, while https://github.com/v923z/micropython-ulab/pull/391 implements it with a single matrix. I overlooked the issue at the time, but I think I would like to have `scipy`-compatibility. Do you want to look into this, or

[2021-06-04 06:42] v923z commented on #389
I believe, https://github.com/v923z/micropython-ulab/pull/395 is correct, so I am closing the issue.

[2021-06-04 06:42] #389 closed

[2021-06-08 14:50] vikas-udupa commented on #405
For the moment, I implemented `cho_solve` such that it is compatible with `numpy.linalg.cholesky` function that has already been implemented. But in the long run, it is right to follow what is given in the documentation, just like you mentioned.
However, I am unable to work on it at the moment due to other commitments. It would be great if you could go ahead and fix this. If not, I can fix this af

[2021-06-08 18:18] v923z commented on #405
@vikas-udupa OK, thanks for the feedback! I might take a stab at it.

[2021-06-11 15:33] JamesTev opened #409 "[FEATURE REQUEST] Support for 3- and 4-D arrays"
It would be very helpful to allow support for higher order tensors (3, 4 dimensions). Has this functionality been introduced since v2.6.0? I'm using 2.6.0 and there is currently only 2D support.

```maximum number of dimensions:  2.6.0-2D```

I may have missed it but haven't spotted any changes in more recent releases.

[2021-06-11 15:40] JamesTev opened #410 "[BUG] scalar-matrix multiplication is not commutative"
**Description**

When pre-multiplying a matrix by a scalar, a `TypeError` is raised. Post-multiplication works as expected.

**To Reproduce**

[code]
Outputs:
[code]

**Expected behaviour**
[code]

[2021-06-11 15:48] v923z commented on #409
@JamesTev 4 dimensions are supported. You can set it in https://github.com/v923z/micropython-ulab/blob/161a7288482200c884623ed3cb59dd91f53be91a/code/ulab.h#L41-L43, as described in https://micropython-ulab.readthedocs.io/en/latest/ulab-intro.html#customising-the-firmware.

[2021-06-11 15:50] JamesTev commented on #409
Oh, great. Sorry about that!

[2021-06-11 15:50] #409 closed

[2021-06-11 15:52] v923z commented on #410
@JamesTev I don't see this. Here is my output:

[code]

[2021-06-11 15:52] v923z commented on #409
@JamesTev Absolutely no problem.

[2021-06-11 15:52] JamesTev commented on #410
Strange... must be a version issue. I will try updating to the latest firmware.

[2021-06-19 06:49] v923z commented on #399
@mdaeron

There doesn't seem to be too much activity here, so I am closing the issue. Open a new one, if you still face difficulties.

[2021-06-19 06:49] #399 closed

[2021-06-19 06:50] v923z commented on #410
@JamesTev Is this still a valid issue, or we can close it?

[2021-06-22 01:24] thalesmaoa opened #413 "[BUG]"
I can't compile ulab for esp32.

[code]

I'm using the following procedure:

[code]

I was able to compile for PYBOARD without a problem. Maybe I should upgrade cmake to use it?

[2021-06-22 04:58] v923z commented on #413
Have you tried https://github.com/v923z/micropython-ulab/blob/master/build/esp32-cmake.sh?

[2021-06-22 06:04] v923z commented on #413
@thalesmaoa  Thanks for reporting the issue! I believe, I found the root of the problem. Could you, please, check out https://github.com/v923z/micropython-ulab/pull/414 ?

[2021-06-22 11:42] thalesmaoa commented on #413
Yes. I also suggest an update.

[code]

However, I needed to update cmake. I will try again and let you know.

[2021-06-22 12:00] thalesmaoa commented on #413
I confirm that this branch fix the problem. I will try with cmake now.

However, I do have a question. Why it did compile for pyboard?

[2021-06-22 12:17] thalesmaoa commented on #413
I confirm that cmake work as well.

[code]

[code]

[2021-06-22 13:47] v923z commented on #413
I know only that the ESP compiler is a bit pickier about the floating point numbers.

[2021-06-22 13:49] v923z commented on #413
@thalesmaoa Many thanks for the testing!

Do you want to make a PR with your changes? People who do so always get brownie points: https://github.com/v923z/micropython-ulab/graphs/contributors

[2021-06-23 17:32] thalesmaoa commented on #413
Thanks. I will probably do.

[2021-06-23 17:32] #413 closed

[2021-06-25 20:17] thalesmaoa opened #416 "[BUG] ESP32 keep reseting"
**BUG**
After compiling and flash ESP32 i get the following error:

[code]
and the board keeps reseting itself.

According to https://github.com/espressif/esp-idf/issues/113#issuecomment-268698113 it seems to be a wrong flash encryption settings.

[2021-06-25 20:22] v923z commented on #416
@thalesmaoa Does the section https://github.com/v923z/micropython-ulab#what-to-do-if-the-firmware-is-too-large help? What you can also do is exclude functions from the firmware https://micropython-ulab.readthedocs.io/en/latest/ulab-intro.html#customising-the-firmware till it is small enough to fit on the flash.

In the long term, I think the fix must come from espressif, because this is not a `ula

[2021-06-26 02:11] thalesmaoa commented on #416
@v923z, I'm not an expert, and I really want to get involved with your project, but I still have a lot to lean.
Small flash size is an option, but I'm confused. I'm using a TTGO ESP32 16MB. Besides, the firmware that I compiled the end of last year works perfectly. I was just trying to updated it. I follow the same procedure to compile.

[2021-06-26 17:16] v923z commented on #416
What I meant is that the error https://github.com/espressif/esp-idf/issues/113#issuecomment-268698113 does not seem to involve `ulab`, it seems to be a somewhat generic problem. From the comments, I could find out, whether it has been fixed (I see that the issue is closed, but that might not mean anything). I am more than happy to modify the code, so that it can be compiled for ESP32, but I would

[2021-06-29 18:29] thalesmaoa opened #417 "THD feature request"
Hi there, I'm not sure if this is the clever way to perform it, but I'm measuring sine from AC grid. I calculate RMS and THD

My feeling is that I'm allocating to much memory
[code]

[2021-06-30 06:35] v923z commented on #417
You don't need to calculate the FFT, and initialise the array (`P2`), but should replace this

[code]

by a single call to `scipy.signal.spectrogram`: https://micropython-ulab.readthedocs.io/en/latest/scipy-signal.html#spectrogram

If there is a similar `numpy/scipy` function, we could think about implementing it, though, I don't think it would be necessary.

[2021-07-01 13:46] thalesmaoa commented on #417
I could only found variations, but not an implementation. spectrogram simplified my allocation. Thank you

[2021-07-01 14:39] v923z commented on #417
@thalesmaoa OK, thanks for the feedback!

[2021-07-02 15:11] thalesmaoa commented on #417
@v923z, sorry to open. After changing to `scipy.signal.spectrogram` I'm having more allocation errors:

[code]

This not a bug, neither a request. Not sure if here is the correct place to ask for help.

I've tried pre-allocating, but none worked.

I work with three phase ac. I receive the data over UART, fill three arrays (Va, Vb, Vc). After that I convert them to `np.array` to perform RMS, THD an

[2021-07-02 18:16] v923z commented on #417
You could try the forum.micropython.org/, there are always people who are glad to help, and know more about the subject than myself.

However, I still have a suggestion:

[code]

I would also recommend Jim's excellent exposition on how the garbage collector in `micropython` works. https://www.youtube.com/watch?v=H_xq8IYjh2w

I hope this helps.

[2021-07-05 14:51] thalesmaoa commented on #417
Thanks @v923z. I've went through every single doc and video that I could find over this weekend. I've done a lot of code optimization. However, I did not perform the same task for `mqtt_as.py`.
The problem did persist.
I've changed to fft again and I got no more error with memory.

I will let it for a while and let you know:

[code]

[2021-07-05 16:51] v923z commented on #417
I find this  a strange, because `fft`, and `spectrometer` call the same underlying function. I will look into it.

[2021-07-05 18:46] thalesmaoa commented on #416
Probably Espressif problem as you mentioned. I was able to compile and run it today without a problem.

[2021-07-05 18:46] #416 closed

[2021-07-05 18:50] v923z commented on #416
Thanks for the feedback!

[2021-07-05 18:55] thalesmaoa commented on #417
I'm not sure if this is a ulab problem as well.

[code]
Looks my heap is totally mess up. I have a lot of room, but can't alloc 4096. Probably ESP32.

[2021-07-05 18:58] v923z commented on #417
Is the call to `fft` in `main.py`?

[2021-07-06 01:29] thalesmaoa commented on #417
No. It indicates line 21 in main, only because I've put @micropython.native decoration in my function. I was trying different things.

[2021-07-07 04:57] v923z commented on #417
OK, but I think we should try to produce a minimal version of the code that still triggers the error. Otherwise, we really don't stand a chance.

[2021-07-07 16:36] thalesmaoa commented on #417
I've opened a question in the forum:
https://forum.micropython.org/viewtopic.php?f=2&t=10786

Jimmo suggestion improved the performance, however it is still crashing.
I will wait his reply. Thank you.

[2021-07-08 14:42] jepler opened #419 "[BUG] CircuitPython documentation appears in wrong location (ulab.X vs ulab.numpy.X)"
**Describe the bug**
In CircuitPython main branch, which is based off 161a7288482200c884623ed3cb59dd91f53be91a (3.0.0), many items appear in the wrong location in the documentation.  For instance, the documentation shows that the `array` constructor is at `ulab.array` rather than `ulab.numpy.array`.

**To Reproduce**
View the documentation on [readthedocs](https://circuitpython.readthedocs.io/en/l

[2021-07-08 14:49] v923z commented on #419
Is there an easy way to generate a comparison between what it is, and what it should be?

[2021-07-08 17:44] nsajko opened #420 "Q: How to iterate over all elements of a 2D matrix in unspecified order"
I have no experience with ulab (nor numpy, for that matter), and I couldn't find a discussion forum dedicated to ulab, so i hope it's OK to ask the question here.

So I have an ndarray like this:

[code]

and I want to iterate over all of its elements, so over the set `{1, 2, 5, 7}`.

I think that in numpy one would use `a.flat` for that purpose, but that doesn't seem to be available in ulab.

Wha

[2021-07-08 17:49] v923z commented on #420
It's OK.

You have at least two options. One is the [.flatten method](https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html?highlight=flatten#flatten), the other is [.reshape](https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html?highlight=flatten#reshape).

[2021-07-08 18:11] nsajko commented on #420
It's very possible I'm wrong, but I was under the impression that `.flat` avoids allocations that would happen with `.flatten`?

Is there a way to iterate over all elements of a matrix in a single loop, but without copying the backing storage of the matrix?

[2021-07-08 18:16] v923z commented on #420
`.reshape` does not copy anything, if the matrix is dense. It will return a view of the underlying data.

But, if you really want to have a flat iterator, it is definitely doable, and it's not even that hard. If you are not happy with `.reshape`, I could add the flat iterator in a week or so, perhaps, even sooner.

[2021-07-08 18:18] nsajko commented on #420
Don't do it just for me :)

Thank you, I will look into reshape, then.

[2021-07-08 18:19] v923z commented on #420
The issue of the flat iterator has come up in the past, and I think it is a useful feature. It just somehow slipped off my TODO list.

[2021-07-08 18:23] v923z opened #421 "[FEATURE REQUEST]add flat iterator for higher-dimensional tensors"
As discussed in https://github.com/v923z/micropython-ulab/issues/420, it would be useful to have an iterator that can traverse a higher-dimensional tensor without copying the underlying data.

`numpy`: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.flat.html
https://numpy.org/doc/stable/reference/generated/numpy.flatiter.html

[2021-07-09 17:43] jepler commented on #419
No easy way to generate lists like that comes to mind.

I just know that almost nothing is directly in `ulab` anymore, and almost everything is down in submodules like `ulab.numpy`.

[2021-07-09 18:23] v923z commented on #419
I don't want to combine everything that doesn't belong to sub-modules into a single file, but would something like this work?

[code]
An alternative could be

[code]
i.e., we could dump all files that do not belong to a particular module into `numpy/core`, and then the doc script would have to treat everything that is under `numpy/modules`, and `scipy/modules` as modules, and the stubs from the re

[2021-07-10 19:44] jepler commented on #419
Suppose that you have some source file `micropython-ulab/code/A/B/Z.c` that contains some documentation prefixed by `//|`.  As far as I know, that is going to be documented as being in module ulab.A.B. This pretty much dictates the folder/directory structure required. I'm pretty sure that means that intermediate folder names like "modules" and "core" will give undesired results.

[2021-07-10 19:51] v923z commented on #419
I think the main difficulty is that most of the functions are simply in top-level `numpy`, and I can't possibly imagine that we put all those functions in a single file. But we could do the following: we can write a single script that strips all stubs from the source, and puts them into separate files under `docs/`, and then you generate the documentation from there. I believe, this is a relativel

[2021-07-10 21:06] jepler commented on #419
Notice how the filename itself (`Z.c`) doesn't figure in the location of the documentation (`ulab.A.B`), so the general idea that CircuitPython follows is to split a single Python _module_ into _files_ that make sense, but they all reside in the same _folder_.

[2021-07-10 21:10] v923z commented on #419
OK, so you are saying that

[code]
should work, right? I think this would be an acceptable change.

[2021-07-10 21:13] jepler commented on #419
I think so, and if I understand what CircuitPython is doing correctly.  Do you want to start by just re-organizing a few files and make sure the items move as I have said they would?

[2021-07-10 21:15] v923z commented on #419
I can do that, no problem. I can push this up on my priority list, but I would still need a couple of days.

[2021-07-10 21:54] jepler commented on #419
Absolutely fine😀

[2021-07-13 16:34] v923z commented on #420
@nsajko Do you think you could check out https://github.com/v923z/micropython-ulab/pull/422, and see if it is OK. I haven't implemented slicing and indexing, but you can do something like this: https://github.com/v923z/micropython-ulab/blob/flatiter/docs/manual/source/ulab-ndarray.rst#flat .

[2021-07-13 17:41] nsajko commented on #420
Judging by the documentation that you pointed to, this is perfect for me, but I won't be trying this out just yet, as I'm actually using Micropython as part of the Omega calculator (but note that the change that adds Ulab to Omega actually isn't merged yet: [omega#547](https://github.com/Omega-Numworks/Omega/pull/547)).

[2021-07-13 18:28] v923z commented on #420
Then would it be OK, if we merged this? We can always extend this later, if you need slicing or indexing.

[2021-07-14 14:43] v923z commented on #421
https://github.com/v923z/micropython-ulab/pull/422 closes the issue.

[2021-07-14 14:43] #421 closed

[2021-07-14 14:44] v923z commented on #420
https://github.com/v923z/micropython-ulab/pull/422 closes the issue.

[2021-07-14 14:44] #420 closed

[2021-07-14 17:11] water5 commented on #294
Properties implemented.

[2021-07-14 17:11] #294 closed

[2021-07-14 21:17] v923z commented on #419
@jepler I have taken a stab at it: https://github.com/v923z/micropython-ulab/pull/423 The firmware can be compiled, but I get a strange error, when generating the docs for `circuitpython`. I can look into it tomorrow, if you don't have time.

[2021-07-15 20:56] water5 opened #424 "[BUG] Build error with ATSAMD on MicroPython."
micropython/ports/samd/ # `make BOARD=ADAFRUIT_ITSYBITSY_M4_EXPRESS USER_C_MODULES=../../../ulab all`

../../../ulab/code/numpy/ndarray/ndarray_iter.h:21:10: fatal error: ulab.h: No such file or directory
   21 | #include "ulab.h"
      |          ^~~~~~~~

../../../ulab/code/numpy/ndarray/ndarray_iter.h:21:10: fatal error: ulab.h: No such file or directory
   21 | #include "ulab.h"
      |

[2021-07-16 08:06] v923z commented on #424
@water5 Thanks for reporting the issue. Could you, please, check out https://github.com/v923z/micropython-ulab/pull/425. I could locally compile with that. If you OK it, I would merge it immediately.

[2021-07-16 12:03] water5 commented on #424
Use `samd-fix` branch, although compile passed, but not appear like STM32 port compile message below:

And I have n't SAMD board currently to confirm `ulab` compiled into the firmware correct actually.
I need more time to do that.

[2021-07-16 15:49] v923z commented on #424
@water5 I think you are right, `ulab` is definitely not in the firmware. I have raised an issue in `micropython`: https://github.com/micropython/micropython/issues/7545

[2021-07-22 13:46] #419 closed

[2021-07-22 18:28] #424 closed

[2021-07-22 18:39] v923z commented on #378
Implemented in https://github.com/v923z/micropython-ulab/pull/427

[2021-07-22 18:39] #378 closed

[2021-07-22 19:28] jepler opened #430 "[BUG] Building for "1D" doesn't work"
**Describe the bug**
With ulab 3.3.1 + #429, `./build.sh 1` (to build only with support for 1D arrays) fails at the compile step

**To Reproduce**
On a host computer, run `./build.sh 1` (or `./build-cp.sh 1`).

**Expected behavior**
Builds and passes tests

**Additional context**
Here are the errors I receive locally:
[code]

[2021-07-23 06:31] v923z commented on #430
@jepler I have opened a PR for this issue https://github.com/v923z/micropython-ulab/pull/431 . We can't yet merge it, because some of the tests fail.

[2021-07-23 14:40] #430 closed

[2021-08-25 14:47] jepler opened #435 "[BUG] Spectrogram is not like scipy's spectrogram?"
[code]

**To Reproduce**
Place the following in a file and run it with micropython & python3:
[code]

However, the return types of the spectrogram functions are entirely different, and the values don't seem related in an obvious way.
[code]

**Expected behavior**
I wanted to create a program that finds the spectrum of some signal and is compatible between scipy and ulab, but the interfaces don't s

[2021-08-25 16:26] v923z commented on #435
So, if I understand the issue properly, the problem is that the meaning of `spectrogram` is different in `scipy`, and `ulab`. I have just searched for that, and it seems to me that `signal.welch` is the closest to what is needed here: https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.welch.html, or, perhaps, `matplotlib.mlab.psd`: https://www.kite.com/python/docs/matplotlib.mlab.ps

[2021-08-25 16:41] jepler commented on #435
Indeed, I ended up suggesting this in a guide:
[code]

[2021-08-25 16:43] jepler commented on #435
since in circuitpython we discovered this after "beta" we will elect to leave this function at `ulab.scipy.signal.spectrogram` for the time being, but introducing a forward-compatible name would be desirable. Since it doesn't seem to directly correspond to anything in numpy or scipy, putting it outside of those two submodule names seems like the best bet, and those few people who need to switch be

[2021-08-25 16:46] v923z commented on #435
Then would it be OK, if we introduced an alias in `utils` now, and removed the function from `scipy.signal` at a later time? This could also be pointed out in the manual.

[2021-08-30 19:31] labodezao opened #436 "[FEATURE REQUEST]"
Hi,
I wonder if it's possible to implement the hilbert transform with micropython ulab.
Best regards

[2021-08-31 05:33] v923z commented on #436
I assume, you want the implementation of https://docs.scipy.org/doc/scipy/reference/generated/scipy.fftpack.hilbert.html. However, before we add that, I wanted to ask, whether you could already calculate the Hilbert transform via the Fourier transform by applying the relation: [Relationship with the Fourier transform](https://en.wikipedia.org/wiki/Hilbert_transform#Relationship_with_the_Fourier_tr

[2021-09-01 16:36] jkcoxson opened #437 "Building on the Ti Nspire"
**Describe the bug**
There do not seem to be universal instructions on how to build this module. I am attempting to build this module for the Ti Nspire [Micropython](https://github.com/Vogtinator/micropython) port but having little luck.

The Nspire port has its own make file, which will use the Nspire board config and nspire-gcc cross compiler. Specifying ulab as a C module when calling the make

[2021-09-01 16:39] jkcoxson commented on #437
This is my current Makefile for building Micropython for the Ti Nspire
[code]

[2021-09-01 19:49] v923z commented on #437
I have just realised that the repository that you linked to hasn't been updated for about 3 years. It is really unlikely that you will be able to compile `ulab` with that, because user modules were added around two years ago. I would really start with a fresh clone of `micropython`, and try to add the modifications of https://github.com/Vogtinator/micropython/tree/next-next/nspire.

[2021-09-01 19:51] jkcoxson commented on #437
Ah that would make sense why it doesn't try to compile the module. Thanks for the info!

[2021-10-04 15:28] alport opened #438 "Trying to compile Ulab for RP2 using a MBP M1"
**Describe the bug**
A clear and concise description of what the bug is. Give the `ulab` version

When I execute the supplied script: RP2.sh, I get the following error:
[ -d build-PICO ] || cmake -S . -B build-PICO -DPICO_BUILD_DOCS=0 -DMICROPY_BOARD=PICO -DUSER_C_MODULES=/Users/mike/ulab/code/micropython.cmake
/bin/sh: cmake: command not found
make: *** [all] Error 127

Any ideas?
Alternately, it

[2021-10-04 16:41] v923z commented on #438
@alport As far as I understand, this issue has nothing to do with `ulab`: it seems to me that you don't have `cmake` on your system. You can find some pointers here: https://cmake.org/install/

[2021-10-05 14:41] alport commented on #438
Thanks, but need some more help:

I installed Cmake for the "Mac 10.13 or later". It seems like I had then to configure it for a Command Line Use, by executing the Cmake app, and following the instructions:

[code]

which is what I did - and then repeated the ./RP2.sh, which gave me the following error log:

[ -d build-PICO ] || cmake -S . -B build-PICO -DPICO_BUILD_DOCS=0 -DMICROPY_BOARD=PICO -DU

[2021-10-06 09:52] v923z commented on #438
@alport Would https://github.com/pimoroni/pimoroni-pico/releases/download/v0.1.0/pimoroni-pico-micropython.uf2 work for you? I don't know, whether later versions of the firmware include `ulab`. Based on https://github.com/pimoroni/pimoroni-pico/blob/main/micropython/modules/micropython.cmake, I would assume that `ulab` is included in all versions after 0.1: https://github.com/pimoroni/pimoroni-pic

[2021-10-06 10:29] Gadgetoid commented on #438
I don't think so. It just looks like gcc-arm-none-eabi isn't installed or available in PATH.

The crux of the error is:

[code]

@alport I don't have any experience building from macOS, but I'd recommend getting the basic Pico Examples building against the SDK first before upping the ante to MicroPython + Modules. There's a guide here, but I can't vouch for its accuracy: https://blog.smittytone.ne

[2021-10-17 16:53] mdaeron opened #441 "New compile problems"
I'm trying to use the `esp32-cmake.sh` script. I am on MacOS 10.15.7 with cmake version 3.20.5. Everything seems fine until the final `make` command, which throws the error `make: *** No targets.  Stop.` Is there something obvious I'm missing? Script output (without the `git clone` parts) below.

[code]

[2021-10-17 19:27] v923z commented on #441
@mdaeron Can you build the firmware without `ulab`? Not necessarily with the script here, but with any script. It seems to me that the script hangs, when you want to `make` the `berkeley` submodule. I don't know at the moment, why that would happen.

[2021-10-17 22:07] mdaeron commented on #441
OK now it compiles but the resulting firmware can't import `ulab` (ImportError). I believe it is because `echo "USER_C_MODULES = \$(BUILD_DIR)/ulab/code/micropython.cmake"` should come earlier in the MakeFile. But when I chang that by hand I get multiple compile errors. I'll report back after I find more time to look at the errors.

[2021-10-18 12:45] mdaeron commented on #441
Here is what worked for me in the end:

[code]

[2021-11-04 08:57] RobertoRoos opened #443 "[FEATURE REQUEST] Enable versions in ReadTheDocs documentation"
**Describe the solution you'd like**

In short: can different older tagged versions be enabled in the RTD project: https://readthedocs.org/projects/micropython-ulab

In the admin panel you can enable which branches and tags you want built and available. I would like to access the docs of some older versions, because we have a old fork of this repo running somewhere.

I understand this is quite nic

[2021-11-04 09:09] RobertoRoos commented on #443
In the meantime I made a fresh fork with my own RTD project, this is what it would then look like: https://micropython-ulab-robert.readthedocs.io/en/0.36.0

[2021-11-04 09:21] v923z commented on #443
@RobertoRoos Thanks for raising the issue. I also think that this feature would be useful. I'll fix the RTD side later today.

[2021-11-04 09:22] v923z commented on #438
@alport Mike, can we close the issue, or do you still have difficulties with the compilation?

[2021-11-04 20:21] v923z commented on #443
@RobertoRoos I have activated the older versions on RTD, but all prior to 2.1.2 fail, because at that time we stipulated that the requirements file should be used, and that does not exist for the old tags. I don't want to modify those versions on github. Do you know, whether we could fix this in RTD itself? I would be OK with a one-time setting of version-specific build options, if that is possibl

[2021-11-05 08:10] RobertoRoos commented on #443
Hm, in my fork it seems only the v1.* versions fail, v0.* do work: https://readthedocs.org/projects/micropython-ulab-robert/builds/ (but I haven't enabled many). I kept all the default settings in RTD (so no requirements.txt path).

This is why the [.readthedocs.yaml](https://docs.readthedocs.io/en/stable/config-file/index.html) file is convenient, over the online settings.

We could commit the cu

[2021-11-05 15:57] v923z commented on #443
We had to add the requirements at one point, because the defaults didn't load the autoapi.

That's right, but the yaml file is also part of the repository, so how should we add that to the older versions? I completely agree with your point, but I never thought that we would need anything beyond the bare minimum. We should have established the yaml file at the very beginning.

The problem is, I thi

[2021-11-05 16:15] RobertoRoos commented on #443
Right. I think in my example the build was technically complete but some pages must be incorrect.

One approach would be to add new old releases. So e.g. create a branch `release/v0.54` on top of tag `v0.54.5` and add an appropriate YAML in that branch with a new commit. Then tag that commit with e.g. `v0.54.6` and enable that tag in RTD.
We would have to do the same for each existing version that

[2021-11-05 16:46] v923z commented on #443
I would be OK with that. Do you want to add PRs with that?
Just out of curiosity, why do you need the older versions? The last version is orders of magnitude better than the old ones, and I am quite certain that bugs won't even be fixed in those.

[2021-11-06 16:46] wired8 opened #445 "[FEATURE REQUEST] scipy.signal.butter"
Please implement:
scipy.signal.butter

scipy.signal.butter(N, Wn, btype='low', analog=False, output='ba', fs=None)
Design an Nth-order digital or analog Butterworth filter and return the filter coefficients.
https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.butter.html

[2021-11-06 19:39] v923z commented on #445
@wired8 I think this should be implemented in `python`, and not C. At least, as far as I see, this is what happens in `scipy` itself: https://github.com/scipy/scipy/blob/master/scipy/signal/_filter_design.py

For such cases, we have the [snippets](https://github.com/v923z/micropython-ulab/tree/master/snippets), and I would be more than happy to add that there. Do you think you can implement the fu

[2021-11-07 16:43] wired8 commented on #445
@v923z looking at the filter source I believe I can.   When I get it working I'll send a PR for snippets.  Thanks!

[2021-11-07 18:02] v923z commented on #445
@wired8 One more comment: people, who need filters on micropython design the filter on the PC, and then copy only the coefficients.

[2021-11-07 18:21] wired8 commented on #445
I'm aware.  I've built a noise meter and now want to calculate 1/3 octaves.

[2021-11-11 21:55] wired8 opened #447 "[FEATURE REQUEST] implement scipy.signal.buttap"
**Describe the solution you'd like**
Please implement https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.buttap.html

https://github.com/scipy/scipy/blob/master/scipy/signal/_filter_design.py

**Additional context**

Source:

[code]

[2021-11-11 21:57] wired8 opened #448 "[FEATURE REQUEST] implement scipy.signal.lp2bp_zpk"
**Describe the solution you'd like**

Please implement https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.lp2bp_zpk.html

**Additional context**

Source:

[code]

[2021-11-11 22:04] wired8 opened #449 "[FEATURE REQUEST] implement scipy.signal.zpk2sos"
**Describe the solution you'd like**

https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.zpk2sos.html

**Additional context**

Source:

[code]

[2021-11-17 21:12] #438 closed

[2021-11-19 11:17] RobertoRoos commented on #443
Sorry I took a while.
Pull requests:

- Master version (for current and future releases): #450

[2021-11-19 20:19] v923z commented on #443
@RobertoRoos Thanks again for contributing. I have merged all your PRs, so I think this issue can now be closed.

[2021-11-19 20:19] #443 closed

[2021-11-20 03:00] JorgeGMarques opened #454 "[BUG] Shape of empty array doesn't match Numpy CPython"
Shape of empty array returns empty turple `()`  (length 0) instead of `(0,)`  (length 1).

Build from commit c6bcc058b2e2af86fd3291cd956e2bcb2aeb46d2 .

**To Reproduce**
micropython ulab
[code]
prints
[code]

**Expected behavior**
cpython numpy
[code]
prints
[code]

**Additional context**
This little difference can be problematic when stacking arrays like in [here](https://github.com/JorgeGMarques

[2021-11-20 11:13] v923z commented on #454
@JorgeGMarques Many thanks for reporting the issue! I think https://github.com/v923z/micropython-ulab/pull/455 should be the fix. Could you, please, check, whether it does what you expect?

[2021-11-24 00:53] JorgeGMarques commented on #454
Yes! It is now consistent:
[code]
both cases print:
[code]

matching numpy behavior:
[code]
which prints:
[code]

Sorry for taking a bit to reply, I worked around this issue in my questionable port of [scikit-fuzzy](https://github.com/JorgeGMarques/scikit-fuzzy/tree/micropython) to micropython and I hadn't had time until now to properly test it.

[2021-11-24 05:57] #454 closed

[2021-11-30 15:35] jepler opened #457 "[BUG] ulab.numpy.sum(ulab.array(..., dtype=bool)) inaccurate"
**Describe the bug**
`ulab.numpy.sum` for integer argument types gives inaccurate results

[code]

**To Reproduce**
For embedded platforms with mp_float_t being 32 bits, it can be reproduced easily:
[code]
(should print 2).  The behavior is the same/similar for u/int8/16 types.

For builds with 64-bit floats (e.g., the micropython/circuitpython version used for running tests during CI), the smalle

[2021-11-30 19:26] v923z commented on #457
@jepler Thanks for bringing this issue to the fore!

Actually, I think this calculation of the sum/mean is more accurate than direct summation, and the problem arises only in the cast to `int32`. If you print out the value of `M * ndarray->len`, it is always correct to printing precision.

Since the error is definitely smaller than 0.5, I can't really imagine that your suggested solution could eve

[2021-11-30 19:55] v923z commented on #457
https://github.com/v923z/micropython-ulab/pull/458 fixes the issue.

[2021-11-30 19:55] #457 closed

[2021-11-30 20:08] v923z commented on #449
@wired8 Could you, please, try to figure out, how much of the code must be in C, and how much of it can be in snippets? This also applies to https://github.com/v923z/micropython-ulab/issues/448, and https://github.com/v923z/micropython-ulab/issues/447.

[2021-12-03 01:32] wired8 opened #459 "[BUG] numpy.any unexpected error"
**Describe the bug**

numpy.any not working as expected.

NOTE:  I am using complex2 branch.

**To Reproduce**
[code]

[2021-12-03 08:13] v923z commented on #459
This is fixed in https://github.com/v923z/micropython-ulab/pull/460

[2021-12-03 08:13] #459 closed

[2021-12-18 12:50] water5 opened #462 "[FEATURE REQUEST] Is it have plan to add 3 dimensions or more of numpy.array support?"
Or add numpy.array's dtype support object?

[2021-12-18 13:58] v923z commented on #462
Four dimensions are supported. You just have to set it in https://github.com/v923z/micropython-ulab/blob/a99e0b98787266369eaa33bdae271de761eca05b/code/ulab.h#L44

The `dtype` object is also supported, you can enable it in https://github.com/v923z/micropython-ulab/blob/a99e0b98787266369eaa33bdae271de761eca05b/code/ulab.h#L76

[2021-12-18 19:49] water5 commented on #462
It seems only handle numerical objects,
[code]
or
[code]

But not work with other type of objects:
[code]

Is it possible likes numpy handle complex objects?
[code]

[2021-12-18 20:09] v923z commented on #462
That's correct. I have probably misinterpreted your original question. As stated in the https://github.com/v923z/micropython-ulab/#readme, we support only numerical values of integer and float types. Complex is on the way: https://github.com/v923z/micropython-ulab/pull/456

Honestly, I don't see too much use for this on a microcontroller, and the overhead of implementing this is enormous. The prob

[2021-12-19 15:42] #462 closed

[2021-12-19 17:23] water5 opened #463 "[FEATURE REQUEST] numpy.insert()"
[https://numpy.org/doc/1.21/reference/generated/numpy.insert.html](https://numpy.org/doc/1.21/reference/generated/numpy.insert.html)

[code]

[code]

[code]

[2021-12-29 21:27] jepler opened #464 "[BUG] CP docs don't have ulab.numpy.zeros(), .ones()"
.. reported by todbot on Discord.

We expect it to appear here:

https://circuitpython.readthedocs.io/en/latest/shared-bindings/ulab/numpy/index.html

It can be tested locally with `./build-cp.sh` followed by viewing the local file `.../circuitpython/_build/html/shared-bindings/ulab/numpy/index.html` in browser.

[2021-12-30 07:25] v923z commented on #464
I think all functions of https://github.com/v923z/micropython-ulab/blob/master/code/ulab_create.h are missing from the documentation. While we are at it, I was wondering, whether we could move this particular file to https://github.com/v923z/micropython-ulab/tree/master/code/numpy. I would like to have the root clean, as much as possible.

[2021-12-30 08:25] v923z commented on #464
@jepler I have tried to fix the file containing the functions creating the arrays. When I run `./build-cp.sh`, `index.rst` is generated, and it has the documentation for the functions in question, but I get an error
[code]
so the html file doesn't see the light of day.

In my infinite wisdom, I implemented the changes in the `complex2` branch. Sorry for that. I really plan on releasing the new fea

[2021-12-30 19:43] jepler commented on #464
Not sure, but in circuitpython's `shared-bindings/index.rst` try changing `2` to `3`, since there are now modules of depth 3 that need documentation...
[code]

[2021-12-31 09:12] labodezao opened #466 "[FEATURE REQUEST] numpy.tolist()"
Hi,
For serialize a numpy Array to json format I would need the function  numpy.tolist().
This is to communicate beetween PC and micropython with Pyserial

[2021-12-31 12:36] v923z commented on #466
Do you mean this method https://numpy.org/doc/stable/reference/generated/numpy.ndarray.tolist.html ? It could definitely be done. Give me a couple of days.

[2021-12-31 12:38] labodezao commented on #466
Yes ! This method :)

Le ven. 31 déc. 2021 à 13:36, Zoltán Vörös ***@***.***> a
écrit :

[2022-01-01 07:31] v923z commented on #466
@labodezao Wouldn't https://numpy.org/doc/stable/reference/generated/numpy.ndarray.tobytes.html do the job?

[2022-01-01 10:28] labodezao commented on #466
Maybe if you could do both, that would be great !

[2022-01-01 11:42] v923z commented on #466
`tobytes` is simpler, because it turns a tensor into a linear array of bytes, irrespective of the dimensionality. But `tolist` is not hard, either.

[2022-01-01 11:48] v923z commented on #466
@labodezao `tobytes` is already supported: https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html?highlight=tobytes#tobytes

[2022-01-01 17:18] v923z commented on #466
@labodezao Could you, please, check out the https://github.com/v923z/micropython-ulab/tree/complex2 branch? https://github.com/v923z/micropython-ulab/pull/456/commits/2b578ae333a03b675e9b0f9b6557f7c12bd91ef8 should implement your request. Let me know if anything else is missing.

[2022-01-01 17:23] v923z commented on #464
@jepler A related question, in the big clean-up: where should the methods (like `.reshape`, `.tobytes` etc.) of an `ndarray` be documented? These are implemented in https://github.com/v923z/micropython-ulab/blob/master/code/ndarray.c, but there is no documentation there. This question most probably pertains to the attributes/properties, like `.shape`, `.itemsize`, and similar, too.

[2022-01-01 21:19] jepler commented on #464
Probably under `class ndarray` in `ulab.numpy`?

[2022-01-01 22:33] labodezao commented on #466
Or do you have any solution / idea to save a matrix with the routine
nump.save() on the sd card  and then send the file through usb ?

[2022-01-02 00:15] labodezao commented on #466
Ok, this is the try of this day :

I test this code `import time
from micropython import const
from machine import Pin, I2C
from pyb import DAC
from step import Stepper
import utime
from bmp280 import *
from sfm3000 import SFM3000
import machine
import sys
import json
import math , time , array , gc
from ulab import numpy as np
import gc

gc.collect()
acquisition_time=1
sampling=100
n_exp_meas = m

[2022-01-02 10:35] v923z commented on #466
`numpy.save` is not implemented.

[2022-01-02 10:39] v923z commented on #466
I think the problem is that you generate a slice in
[code]
and then `sens1` becomes "diluted", i.e., the strides cannot be calculated from the shape.

[2022-01-02 10:45] labodezao commented on #466
Right, problem solved :)

[2022-01-02 10:46] labodezao commented on #466
I suppose numpy.save is quite difficult to implement right ?

[2022-01-02 10:52] v923z commented on #466
Not necessarily. If we leave out the `allow_pickle` option, then it is basically a combination of `.tobytes()` and `.tolist()`
https://numpy.org/doc/stable/reference/generated/numpy.save.html

We could also think about allowing `tobytes` to accept diluted arrays. That would require a copy, because we cannot pass the array pointer into the bytes buffer: https://github.com/v923z/micropython-ulab/blo

[2022-01-02 11:06] v923z opened #467 "[FEATURE REQUEST] add numpy.save"
As described in https://github.com/v923z/micropython-ulab/issues/466, saving data in a standard binary format could be beneficial.
`numpy.save` without the `allow_pickle` keyword argument could be a solution: https://numpy.org/doc/stable/reference/generated/numpy.save.html

The file format specifications can be found under https://numpy.org/doc/stable/reference/generated/numpy.lib.format.html#modu

[2022-01-02 11:14] v923z commented on #417
@thalesmaoa Is this issue still relevant, or we can close it?

[2022-01-02 12:09] labodezao commented on #467
So maybe the numpy.load could be also intersting :)
Thanks a lot for all you do for porting this to opensource !
❤️

[2022-01-02 12:14] labodezao commented on #466
Nice !

[2022-01-02 13:21] labodezao commented on #466
np.save could be really nice because it's also byte array but the shapes are conserved ! :)
Best

[2022-01-02 14:54] labodezao commented on #436
Hi, this is the right feature.
It's certainly possible to code this manually, yes, but some of my tries where hazardous :)

[2022-01-02 14:57] v923z commented on #436
OK, but the question is, whether this has to be implemented, if the same functionality can be gotten with the already available tools. In order to keep the flash size small, I would rather implement things with some `python` wrapper. https://github.com/v923z/micropython-ulab/tree/master/snippets

[2022-01-02 15:41] labodezao commented on #436
Hmm yes i did not think about it :)

[2022-01-02 17:55] #417 closed

[2022-01-03 07:01] v923z commented on #467
That is a bit harder, because then you have to make sure that you can interpret, what someone else saved.

[2022-01-03 12:26] water5 opened #468 "[FEATURE REQUEST] numpy.loadtxt"
[https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html](https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html)

Just suggestion. :)

[2022-01-03 13:04] v923z commented on #468
@water5 This function has at least 20 keyword arguments. No way can we support all. So, if you want this to be included, then you have to tell, what the minimal version should be able to handle.

[2022-01-03 15:56] water5 commented on #468
I think the four arguments is minimal requires:
`dtype`, `delimiter`, `usecols`, `max_rows`

If possible, implement these will better:
`unpack`, `skip_header`, `skip_footer`, `names`

[2022-01-03 19:34] v923z commented on #468
Do you think we could change this to `loadtxt` https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html ? That
function is simpler. I believe, the implementation is not terribly difficult, only a bit tedious. I could look into it in a couple of weeks.
Do you know, whether `genfromtxt`, or `loadtxt` always return a matrix, even if you read out a single column/line?

[2022-01-04 13:43] water5 commented on #468
Yes, `numpy.loadtxt` is a good choice for instead `numpy.genfromtxt`, I overlook this before.

[2022-01-04 17:01] v923z commented on #468
@water5 OK, thanks!

[2022-01-05 09:24] PandaJohnWick opened #469 "[FEATURE REQUEST]how to install this ulab package in a calculator like Casio fx-CG50"
**Describe the solution you'd like**
I already have microPython 1.9.4 in the calculator, how do I install this package in the calculator, especially since numpy is important for matrix operations?
**Additional context**
Add any other context about the feature request here.

[2022-01-05 17:31] v923z commented on #469
@PandaJohnWick You can't just install `ulab`, you have to compile the firmware for the specific platform, because `ulab` is very tightly integrated into the firmware. I don't know how you compile that for the Casio, but here are the steps for some of the more standard chips: https://github.com/v923z/micropython-ulab#firmware. I would suggest raising the question on the Casio user forum, if there i

[2022-01-06 19:15] v923z commented on #464
@jepler I am not sure I get what I am supposed to get. I have changed
[code]
to

[code]
and that does not fix the problem. Moreover, `ls circuitpython/_build/html/shared-bindings/ulab` returns
[code]
and both html files are virtually empty, they have only the head. I don't have a `numpy` directory. I don't know, whether the two issues are linked.

As far as I understand, you use [build-cp.sh](http

[2022-01-07 08:33] water5 opened #470 "[FEATURE REQUEST] numpy.delete"
[https://numpy.org/doc/stable/reference/generated/numpy.delete.html](https://numpy.org/doc/stable/reference/generated/numpy.delete.html)

I think this is a basic function.

[2022-01-07 09:18] v923z commented on #470
But can't this functionality be reproduced with slicing, or `compress`? https://numpy.org/doc/stable/reference/generated/numpy.compress.html `compress` is implemented in the yet unmerged PR https://github.com/v923z/micropython-ulab/pull/456.

[2022-01-08 11:11] #364 closed

[2022-01-08 11:11] #464 closed

[2022-01-08 11:13] v923z commented on #466
Closed via https://github.com/v923z/micropython-ulab/pull/456.

[2022-01-08 11:13] #466 closed

[2022-01-08 18:19] water5 commented on #470
In some use case, `numpy.compress` is better than `numpy.delete`, but when just need to delete several rows/columns of a big array, likes below:
[code]

[code]

[code]

If use `numpy.compress`, need to construct a 1-D array of bools first use for condition, when origin array huge, likes above case, it's not a easy job?

[2022-01-08 19:12] v923z commented on #470
This is a good point, I completely overlooked that. We can definitely add `delete`. There are a couple of other functions in the pipeline, but I should be able to pull this off in a week.

[2022-01-08 20:13] water5 commented on #470
Thanks.

[2022-01-10 21:53] wired8 opened #472 "[BUG] np.array(a, dtype=np.complex)"
**Describe the bug**
A clear and concise description of what the bug is. Give the `ulab` version

Master latest

**To Reproduce**
[code]
**Output**
array([(4+0j), 3.0+0.0j, 1.0+0.0j, ..., 1.0+1.0j, 1.0-1.0j, 2.0-1.0j], dtype=complex)

**Expected**
arrary([4.+0.j 3.+0.j 1.+0.j 2.-2.j 2.+2.j 2.-1.j 2.+1.j 2.-1.j 2.+1.j 1.+1.j 1.-1.j]

Note the ...

Looks like duplicate complex values is the cause?

[2022-01-10 22:00] v923z commented on #470
@water5 Could you, please, check out https://github.com/v923z/micropython-ulab/pull/473? I think the code should work (the tests passed). I haven't implemented indexing via slices, so you can do something like this:

[code]
(Actually, any iterable should do in place of the indices, so you can simulate indices via the `range` function.)

Also note that the indices are copied once, because I have to

[2022-01-10 22:11] v923z commented on #472
I think this is an issue with the prinout, and the the array as such. You can check this by first setting the printout threshold, which would then result in the correct output: https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html#customising-array-printouts
[code]
However, this is still a bug, I agree. I will try to fix it by early tomorrow.

[2022-01-10 22:14] wired8 commented on #472
Yes!  That works.  Thanks @v923z

[2022-01-11 13:11] water5 commented on #468
Is it possible implement `numpy.savetxt` too?
[https://numpy.org/doc/stable/reference/generated/numpy.savetxt.html](https://numpy.org/doc/stable/reference/generated/numpy.savetxt.html)

Although `numpy.savetxt` only support 1D or 2D array, and `numpy.save` will implement coming soon, unless implement `numpy.load` too,
[https://numpy.org/doc/stable/reference/generated/numpy.load.html](https://numpy

[2022-01-11 17:53] v923z commented on #468
I am leaning towards `numpy.save/numpy.load`, because it is easier to implement, and more versatile. It is not restricted to 2D arrays, and consumes less space.

By the way, `numpy.save` is already implemented in https://github.com/v923z/micropython-ulab/pull/471. If you find any problems with it, let me know!

[2022-01-11 20:19] water5 commented on #470
When just delete 1 row/column,
must use `np.delete(a, [row/column], axis = 0)` or `np.delete(a, (row/column, ), axis = 0)` or `np.delete(a, [5, ], axis = 0)`,

`np.delete(a, row/column, axis = 0)` or `np.delete(a, (row/column), axis = 0)` not work.

[code]

----------------
[code]

-------------
[code]

---------------
[code]

---------------
[code]

---------------
When delete multi rows/columns,

[2022-01-11 20:27] v923z commented on #470
Thanks for looking into this. This is indeed an error, I will fix it as soon as possible.

[2022-01-11 21:08] v923z commented on #470
@water5 Could you, please, check out the latest commit in https://github.com/v923z/micropython-ulab/pull/473?

[2022-01-12 12:37] water5 commented on #467
Build not pass?

         offset += sprintf(buffer+offset, "%ld,", ndarray->shape[ULAB_MAX_DIMS - 1]);
                                           ~~^    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                           %d

             offset += sprintf(buffer+offset, "%ld, ", ndarray->shape[ULAB_MAX_DIMS - i]);
                                               ~~^     ~~~~~~~~~~~~~~~~~~~~

[2022-01-12 13:48] water5 commented on #470
Thanks, test result correct currently.

By the way, Question about `git` use,

[code]

[code]

Why can't refresh files and appear 'Already up to date.'? Which step I miss?
I use download / extract zip file at this time.

[2022-01-12 14:17] v923z commented on #470
Many thanks for the feedback!

You should usually fetch the content before pulling

[code]

[2022-01-12 14:18] v923z commented on #467
@water5 Thanks for looking into this! I think I know what the problem is. I will fix it later today.

[2022-01-12 18:00] v923z commented on #467
@water5 Could you, please, check out the latest commit on https://github.com/v923z/micropython-ulab/tree/io? I believe that should fix the issue. Let me know if you still have difficulties with the ESP32.

[2022-01-12 19:19] #470 closed

[2022-01-12 20:16] water5 commented on #467
Build error still.
You mean build success on other boards except ESP32 before fix it?

     if((native_endianness != endianness) && (dtype != NDARRAY_UINT8) && (dtype != NDARRAY_INT8)) {
       ^

[2022-01-12 20:27] v923z commented on #467
@water5 One of the compilers was a bit picky, I noticed that this commit failed on github, too. I think the latest version looks more promising. Can you check it out?

[2022-01-12 20:49] #472 closed

[2022-01-12 21:04] v923z commented on #468
@water5 If https://github.com/v923z/micropython-ulab/pull/471 is successfully merged, can we close this issue, or you really want to have `loadtxt`? I believe, it would be significantly harder to implement than `load`.

[2022-01-13 15:10] water5 commented on #468
I think sometimes, `.txt` file have better compatibility, likes non-python application(e.g. Excel-csv, other programming language) output data,
Can we set this issue/feature request lower priority, solve it later, and could enable / disable via config file?

[2022-01-13 17:04] v923z commented on #468
This is definitely true.

I can implement this in a week or so, at least, with the first four keyword arguments. We can polish it later. But I would like to do this in conjunction with `savetxt`.

[2022-01-13 17:55] water5 commented on #468
I looking numpy json like this:
[https://github.com/Crimson-Crow/json-numpy](https://github.com/Crimson-Crow/json-numpy)

Can you have a look, how hard to implement this?

[2022-01-13 18:12] v923z commented on #468
@water5 I think this is pretty easy. Here is the key: https://github.com/Crimson-Crow/json-numpy/blob/e8129b0ff7b2dbb124a87223275231defecb9043/json_numpy.py#L10-L13

Basically, you need three things: the base64-encoded content of the array. The content you can get by calling
[code]
(Note that the array must be dense: [.tobytes()](https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html)

[2022-01-13 18:27] water5 commented on #468
But line 5, require `numpy.lib.format.dtype_to_descr` and `numpy.lib.format.descr_to_dtype`

[https://numpy.org/doc/stable/reference/generated/numpy.lib.format.descr_to_dtype.html](https://numpy.org/doc/stable/reference/generated/numpy.lib.format.descr_to_dtype.html)
[https://numpy.org/doc/stable/reference/generated/numpy.lib.format.dtype_to_descr.html](https://numpy.org/doc/stable/reference/gener

[2022-01-13 18:34] v923z commented on #468
`dtype_to_descr` simply returns a short string, as I indicated in the earlier post, describing the `dtype`. So, an `<i8`, `<u16` etc., depending on the `dtype`.

That is in a test, you don't actually need that, because you know beforehand that you want to convert an `ndarray`. That is there, so that you don't try to convert a list, or something similar. You can safely skip it. You really need only

[2022-01-13 18:55] water5 commented on #468
Yes, in `ubinascii`, `a2b_base64`, `b2a_base64`.

[2022-01-14 12:31] water5 opened #476 "[FEATURE REQUEST] numpy.lib.format.dtype_to_descr / numpy.lib.format.descr_to_dtype"
`numpy.lib.format.dtype_to_descr`
[https://numpy.org/doc/stable/reference/generated/numpy.lib.format.dtype_to_descr.html](https://numpy.org/doc/stable/reference/generated/numpy.lib.format.dtype_to_descr.html)

`numpy.lib.format.descr_to_dtype`
[https://numpy.org/doc/stable/reference/generated/numpy.lib.format.descr_to_dtype.html](https://numpy.org/doc/stable/reference/generated/numpy.lib.format.de

[2022-01-14 12:48] water5 commented on #468
JSON very useful when transfer via network.

[2022-01-14 14:23] v923z commented on #476
@water5 I think I would handle this in `snippets`. Could you, please, check out https://github.com/v923z/micropython-ulab/tree/json, and try the script in https://github.com/v923z/micropython-ulab/tree/json/snippets.

This works with `hexlify` at the moment. If you are OK with this, I can add the reverse function with `unhexlify`. Unfortunately, `a2b_base64` does not work as expected. I have raise

[2022-01-14 15:51] water5 commented on #476
You should use `ubinascii.b2a_base64`?
[code]

And `CPython` side, between `base64.b64encode` and `binascii.a2b_base64` have little difference.
`CPython` and `MicroPython` two side should use same library, but `MicroPython` only implement `ubinascii`.

-----------

Notice:
On `MicroPython`, `ubinascii.b2a_base64` including a newline char at the end by default, and can't choose by parameter.
[https

[2022-01-14 16:02] v923z commented on #476
Oh, thanks! Could you, please, check out the latest commit?

[2022-01-14 16:41] v923z commented on #476
@water5 I have added the reverse function, https://github.com/v923z/micropython-ulab/blob/json/snippets/json_to_ndarray.py. If it fulfills your requirements, I would merge this branch into master.

[2022-01-14 16:52] v923z commented on #469
Since this issue is not really relevant here, I am closing it.

[2022-01-14 16:52] #469 closed

[2022-01-14 17:49] water5 commented on #476
Test OK, Thanks.

[2022-01-14 17:51] #476 closed

[2022-01-14 18:18] v923z opened #479 "[FEATURE REQUEST] implement size function"
Add an implementation of `numpy.size`

[2022-01-14 18:23] v923z opened #480 "[FEATURE REQUEST] implement asarray"
https://numpy.org/doc/stable/reference/generated/numpy.asarray.html

[2022-01-14 18:25] #445 closed

[2022-01-14 18:25] #447 closed

[2022-01-14 18:25] #448 closed

[2022-01-14 18:25] #449 closed

[2022-01-14 18:29] water5 commented on #468
Additional, out of the thread: Can you post pull request, add support `newline` parameter to `ubinascii`?
[https://github.com/micropython/micropython/blob/master/extmod/modubinascii.c#L168](https://github.com/micropython/micropython/blob/master/extmod/modubinascii.c#L168)

refer:
[https://docs.python.org/3/library/binascii.html#binascii.b2a_base64](https://docs.python.org/3/library/binascii.html#b

[2022-01-14 18:37] v923z commented on #468
I think the fix shouldn't be hard, but it seems to me that this is by design: https://github.com/micropython/micropython/pull/3254 You could raise an issue at `micropython`, if you think that this is important, and then I can pick it up from there.

[2022-01-14 20:26] v923z commented on #435
@jepler @dhalbert @tannewt

I would really like to resolve this issue. Here are the main points of the discussion so far.

1. The current name does not conform to `scipy`, and as such, is misleading.
2. There is no similar function in  `scipy` or `numpy`. [welch](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.welch.html) and [psd](https://www.kite.com/python/docs/matplotlib.mlab

[2022-01-14 20:27] water5 opened #482 "[FEATURE REQUEST] Implement array element dtype support string limitted."
Maybe implement array element dtype support string limitted(except lowest dimension, `ULAB_MAX_DIMS` - 1), then convert char's to ASCII value?

[2022-01-14 20:28] v923z commented on #482
@water5 I am not quite sure what exactly this should do. Could you add more details, or add an example that explains it?

[2022-01-14 20:39] water5 commented on #482
[code]

[2022-01-14 20:49] v923z commented on #482
I think this is pretty much impossible in the present structure, and I don't know what the use case for such a construct would be. If you really need it, you can pre-process the array in `python` before passing it to `np.array`. If you go down that path, you can add your code to the [snippets](https://github.com/v923z/micropython-ulab/tree/master/snippets).

[2022-01-14 21:13] water5 commented on #476
[code]

------------
json_to_ndarray() output incorrect.
[code]

[2022-01-14 21:16] v923z commented on #476
What is the expected result? You have to set `b64=True`: https://github.com/v923z/micropython-ulab/blob/8154accf1b22661376f4320226c4a1958569d45f/snippets/ndarray_to_json.py#L47

[2022-01-14 21:28] water5 commented on #476
json_to_ndarray() output included input content currently.

[2022-01-14 21:29] v923z commented on #476
So does the function work now as expected?

[2022-01-14 21:33] water5 commented on #476
Output included the JSON contents also.

[2022-01-14 21:38] v923z commented on #476
It is really hard to say anything definite, if you don't tell what the expected behaviour is. I think this produces the required output:

[code]

[code]
Is this not correct?

[2022-01-14 21:39] v923z commented on #476
See also https://github.com/Crimson-Crow/json-numpy/blob/e8129b0ff7b2dbb124a87223275231defecb9043/json_numpy.py#L10-L14

[2022-01-15 07:14] #479 closed

[2022-01-15 07:14] #480 closed

[2022-01-15 18:28] water5 commented on #470
Build error with STM32, but build pass with ESP32.
`$ make BOARD=ADAFRUIT_F405_EXPRESS USER_C_MODULES=../../../micropython-ulab all`

  209 |         ssize_t value = (ssize_t)mp_obj_get_int(indices);
      |         ^~~~~~~
      |         _ssize_t

  209 |         ssize_t value = (ssize_t)mp_obj_get_int(indices);
      |                          ^~~~~~~
      |                          _ssize_t

[2022-01-15 18:34] #482 closed

[2022-01-15 20:33] water5 commented on #476
I think that unnecessary.

[https://github.com/v923z/micropython-ulab/blob/master/snippets/json_to_ndarray.py#L62](https://github.com/v923z/micropython-ulab/blob/master/snippets/json_to_ndarray.py#L62)

[2022-01-16 13:20] water5 opened #484 "[BUG] Build error with STM32 and RP2."
Build error with `STM32` and `RP2`, but build pass with `ESP32`. (master branch)
`make BOARD=ADAFRUIT_F405_EXPRESS USER_C_MODULES=../../../micropython-ulab all`
`make BOARD=PICO USER_C_MODULES=../../../micropython-ulab/code/micropython.cmake`

  209 |         ssize_t value = (ssize_t)mp_obj_get_int(indices);
      |         ^~~~~~~
      |         _ssize_t

  209 |         ssize_t value = (ssize_t

[2022-01-16 15:18] v923z commented on #470
@water5 I think a header file was missing. Could you, please, check out https://github.com/v923z/micropython-ulab/tree/delete-fix to see if that fixes the issue?

[2022-01-16 15:22] v923z commented on #476
@water5 That's right. I have removed the printout.

[2022-01-16 16:10] #484 closed

[2022-01-16 16:23] v923z commented on #470
@water5 I see that you have closed https://github.com/v923z/micropython-ulab/issues/484. Does this mean that the issue has been resolved?

[2022-01-16 16:38] water5 commented on #470
OK, thanks, `STM32`, `RP2` build success.
But `ATSAMD` build error below:
`make BOARD=ADAFRUIT_ITSYBITSY_M4_EXPRESS USER_C_MODULES=../../../micropython-ulab all`

[2022-01-16 17:54] v923z commented on #470
@water5 I might be wrong, but I believe, the ATSAMD doesn't have complex support, so you have to set ULAB_SUPPORTS_COMPLEX to 0: https://github.com/v923z/micropython-ulab/blob/4f828f188db4fb22c9a11b5e38fcd49f2ca41bf0/code/ulab.h#L36

[2022-01-16 18:17] water5 commented on #470
[I already modified:
`#define ULAB_SUPPORTS_COMPLEX               (0)`
still rise error below:

](url)

[2022-01-16 18:43] v923z commented on #470
It seems to me that all math functions are disabled. I think you enable them here: https://github.com/micropython/micropython/blob/3dc9a42bc2a048153be742f96bd3d7f0a030ea84/ports/samd/boards/ADAFRUIT_ITSYBITSY_M4_EXPRESS/mpconfigboard.h

[2022-01-16 19:33] v923z commented on #470
But this is obviously not a `ulab` issue: you already have problems with `modmath`, which comes from `micropython`. You should disable `ulab` altogether, and just try to compile `micropython`. Your math library is disabled somewhere. Once you figured that out, you can switch on `ulab`, and then it should work. Also, you should `make clean` before compiling again.

[2022-01-16 20:03] water5 commented on #470
OK, tested,
`/micropython/ports/samd/boards/ADAFRUIT_ITSYBITSY_M4_EXPRESS/mpconfigboard.h`
only
[code]

could enable,

-------------------

[code]
can't enable, so, is it possible use `ulab` on `ATSAMD` port?

[2022-01-16 20:11] v923z commented on #470
Somewhere on `circuitpython` I have seen that on the SAMD boards `ulab` is not enabled, so it could be that they are not capable. Those are really small MCUs: https://github.com/micropython/micropython/tree/master/ports/samd.

[2022-01-16 20:21] water5 commented on #470
OK, `ATSAMD` port on `MicroPython` is very new, maybe improving.
`ItsyBitsy M4 Express (ATSAMD51G19A)` already enabled `ulab` on `CircuitPython`.
[https://circuitpython.org/board/itsybitsy_m4_express/](https://circuitpython.org/board/itsybitsy_m4_express/)

[2022-01-18 06:17] assumptionsoup opened #487 "It would be nice if invert supported boolean types"
In numpy, this is valid:

[code]
Which results in:
[code]

As of version 3.3.8-2D, ulab doesn't support the invert function on boolean types. Instead it does this:
[code]
Which, of course, you can't index with.
[code]

It would be nice if ulab had the same behavior as numpy :)

[2022-01-18 12:51] v923z commented on #487
@assumptionsoup Thanks for reporting the issue! This is indeed an unintended glitch. I know where the problem is, and will roll out a fix later today.

[2022-01-18 18:52] wired8 opened #489 "[BUG] signal.sosfilt"
When using a correct zi value the following error is thrown:
ValueError: zi must be of shape (n_section, 2)

**To Reproduce**
[code]

**Expected behavior**
[code]

**Additional context**
Compiled with 2 dimensions.

[2022-01-18 20:27] v923z commented on #489
Thanks, I'll look into it.

[2022-01-19 06:41] v923z commented on #463
@water5 Wouldn't this basically duplicate the functionality of `concatenate'? https://micropython-ulab.readthedocs.io/en/latest/ulab-ndarray.html?highlight=concatenate#concatenate

[2022-01-19 14:33] water5 opened #490 "[FEATURE REQUEST] Implement numpy.ma"
[https://numpy.org/doc/stable/reference/maskedarray.generic.html](https://numpy.org/doc/stable/reference/maskedarray.generic.html)

`numpy.ma` have some functions, can we implement several?
`numpy.ma.array`, `numpy.ma.ones`, `numpy.ma.empty`, `numpy.ma.arange`, `numpy.ma.masked_where`

[code]

[code]

[code]

[code]

[code]

[2022-01-19 15:44] v923z commented on #490
@water5 But can't you achieve the same thing via Boolean indexing? You just want to get rid of missing detector data, so that the missing data don't mess up any subsequent calculations, right?

[code]
I don't quite see, where the masked arrays would have an advantage (beyond convenience), when compared to Boolean indexing.

In principle, I am not against the idea, but since this is a quite signifi

[2022-01-19 16:49] v923z commented on #489
@wired8 Could you, please, check out https://github.com/v923z/micropython-ulab/pull/491?

[2022-01-19 18:54] #487 closed

[2022-01-19 18:57] #467 closed

[2022-01-19 19:01] water5 commented on #463
But that can't specify where to insert, I consider [numpy.append](https://numpy.org/doc/stable/reference/generated/numpy.append.html) before post this request.

[2022-01-19 19:08] v923z commented on #463
Obviously, you first have to split your original array into two with slicing (that is, where you specify where you want to insert the values), and then `concatenate` the first slice, the value, and the second slice.

[code]

[2022-01-19 19:09] v923z commented on #463
Append is similar

[code]

[2022-01-19 19:29] water5 commented on #463
On 2D array,
[code]

[code]

[code]

[code]

[code]

[2022-01-19 19:43] v923z commented on #463
[code]

[2022-01-19 20:17] water5 commented on #463
Right, that seems could implement most `numpy.insert` function.
I close this issue directly, or make a snippet?

[2022-01-19 20:19] v923z commented on #463
You could definitely write a small snippet, if you feel like it. In that case, add the `snippet` label to the issue, and keep it open till you are done, otherwise, close it.

[2022-01-21 12:20] water5 commented on #468
I see a `io-savetxt` branch created, is it finished? can I use that right now?

[2022-01-21 12:29] v923z commented on #468
See it for yourself:)

`savetxt` should be OK, I am still working on `loadtxt`.

[2022-01-21 15:55] water5 commented on #468
Is it hard to add `delimiter` parameter? default/currently is `space` char, sometimes conflict other chars.
Alsl `loadtxt`.

[2022-01-21 16:26] v923z commented on #468
@water5 I don't quite see what the problem is. Here is the test script, quite a few of the keywords are implemented: https://github.com/v923z/micropython-ulab/blob/io-savetxt/tests/2d/numpy/savetxt.py

[2022-01-21 16:29] #489 closed

[2022-01-21 17:19] water5 commented on #468
Oh, I use wrong parameter sequence.

[2022-01-22 07:49] teuler opened #493 "Cannot build latest MicroPython v1.18 w/ ulab"
Hi
I tried to build the Pico port of MicroPython (v1.18, pulled today) together with ulab (latest version, pulled today). The targeted board is the Nano RP2040 Connect. The building process failed with the following message:
[code]
I guess this may be related to the latest optimizations in the 1.18 release of MicroPython.
A work-arround is to set `ULAB_NUMPY_HAS_LOAD` and `ULAB_NUMPY_HAS_SAVE` bot

[2022-01-22 08:54] v923z commented on #493
I have no experience with the RP2040, but my first question would be, whether you can do something like this:

[code]
As far as I understand, the `mp_builtin_open` that the compiler is complaining about is the function handling the context manager in the snippet above.

According to https://github.com/micropython/micropython/search?q=mp_builtin_open, `mp_builtin_open` seems to be a public function

[2022-01-22 09:30] teuler commented on #493
The following code works:
[code]

[2022-01-22 12:47] teuler commented on #493
PS: I successfully build MPy 1.17 w/ ulab a few days ago.

[2022-01-22 17:07] v923z commented on #493
@teuler I can build the `unix` port with `v.1.18`, so I believe, the issue is really with the `rp2` port. I'll try to figure out why this doesn't work.

[2022-01-22 17:42] teuler commented on #493
Thanks.
In the mean time, I built the `ESP32` port (`UM_TINYPICO`) with MPy v1.18 and it works as well with all default constants in `ulab.h`. I am trying now to build the vanilla `rp2` port ...

[2022-01-22 18:54] v923z commented on #493
Do you need those two functions urgently? I would really like to get to the bottom of this. We could try to roll out a hackish patch, but I would prefer to do this properly, and we might need input from upstream, so I can't commit to a definite timescale.

[2022-01-22 21:24] teuler commented on #493
No, I don't need them. I just wanted to report that incompatibility. But thanks.

[2022-01-22 21:25] v923z commented on #493
Thanks for that, much appreciated!

[2022-01-23 20:25] water5 opened #494 "[FEATURE REQUEST] numpy.unique"
[https://numpy.org/doc/stable/reference/generated/numpy.unique.html](https://numpy.org/doc/stable/reference/generated/numpy.unique.html)

[2022-01-23 20:30] v923z commented on #494
While it is not the most performant way, I think you can already get this functionality by
[code]

[2022-01-24 19:53] water5 commented on #494
But `set` not support `ndarray` to `list` result.
[code]

[code]

[code]

Only support 1D:
[code]

[code]

[2022-01-24 20:07] water5 commented on #494
Although we can do `set` operation after `numpy.reshape`:
[code]
But the `return_index` parameter result will pointless.

[2022-01-24 20:28] v923z commented on #494
I am trying to understand in what situation this function would be required.

[2022-01-24 20:55] v923z commented on #493
@dpgeorge I don't want to open an issue on https://github.com/micropython/micropython/issues, because I feel that this doesn't quite belong there. However, we are still facing a difficulty, and I was wondering, whether you could comment on how to solve it. On many ports, this works

[code]
but there are some, where it cannot be linked. The relevant source is in
https://github.com/v923z/micropython

[2022-01-25 00:13] dpgeorge commented on #493
Thanks for raising this issue.  It is a minor incompatibility with the rp2 port.  Now that I look at it, probably `mp_builtin_open` can be completely removed from all ports because it's not really needed, and not guaranteed to exist.  But I'd need to think more about that.

In the meantime I think the best fix is to change `mp_builtin_open(...)` to:
[code]
An alternative would be:
[code]

[2022-01-25 06:59] v923z commented on #493
@dpgeorge Many thanks for the feedback! I will try to go with your first suggestion. I'll ping you once more, if we still have difficulties.

[2022-01-25 13:36] water5 commented on #490
`numpy.isin` is a choice for instead `numpy.ma`,
[https://numpy.org/doc/stable/reference/generated/numpy.isin.html](https://numpy.org/doc/stable/reference/generated/numpy.isin.html)
Which easier to implement between `numpy.isin` and `numpy.ma.*`?
[code]

[code]
[1, 3, 6, 8]
[code]

[code]

[code]

----------------
But `numpy.isin` required likes below operation, `ulab.numpy` not implement currentl

[2022-01-25 16:43] v923z commented on #490
@water5 `isin` is definitely easier to implement. However, when you iterate over the rows of an array, you actually get a _view_, i.e., if you manipulate the row, you are, in effect, manipulating the original array. Would

[code]
be unacceptably slow?

[2022-01-25 18:32] v923z commented on #493
@teuler Thomas, could you, please, check out https://github.com/v923z/micropython-ulab/pull/496? I could locally compile it, but it would be great to have an extra set of eyes before merging. Thanks!

[2022-01-25 18:35] v923z commented on #493
@dpgeorge I couldn't pull this off with your first suggestion. This works, however https://github.com/v923z/micropython-ulab/blob/77a856e84ebc09e07ba245334d5c6cc0b318535f/code/numpy/io/io.h#L14-L18 Again, thanks for chipping in!

[2022-01-25 23:36] dpgeorge commented on #493
Why didn't `mp_builtin_open_obj.fun.kw()` work?

[2022-01-26 07:21] v923z commented on #493
Most probably I forgot to run `make clean` before compiling. It's OK now. I have updated the code. Sorry for the noise.

[2022-01-27 03:57] vijaysekark commented on #493
Hi, I was able to build successfully by replacing mp_builtin_open(...) with  mp_builtin_open_obj.fun.kw(...).

Please update the repo to close this issue.

![build](https://user-images.githubusercontent.com/87235810/151289414-16465dbd-80d3-4461-9295-32740b7837ba.JPG)

[2022-01-27 06:55] v923z commented on #493
Thanks for the feedback!

[2022-01-27 06:55] #493 closed

[2022-01-27 08:22] teuler commented on #493
@v923z Sorry for the delay. I can confirm that also the firmware for the `ARDUINO_NANO_RP2040_CONNECT` is build correctly.

[2022-01-27 19:39] v923z commented on #493
@teuler No problem, and thanks for bringing up the issue!

[2022-01-27 22:48] v923z commented on #468
@water5 I think https://github.com/v923z/micropython-ulab/pull/492 implements `loadtxt` as requested. Here is the test script till I find the time to write the documentation: https://github.com/v923z/micropython-ulab/blob/io-savetxt/tests/2d/numpy/loadtxt.py

[2022-01-28 01:05] ryanGT opened #497 "build problem on Mac OSX"
I am having a build problem that I am pretty sure is my fault, but I don't know how to fix it.  I have used numpy for many years, but my C skills are pretty weak and I have never cross-compiled anything.  I am trying to build micropython with ulab using my Mac.  I think I have the necessary tools from homebrew using the command

brew install --cask gcc-arm-embedded

I executed this command from th

[2022-01-28 01:35] ryanGT commented on #497
So, I believe that sprintf should be defined in stdio, which is included in io.c:

#include <string.h>
#include <stdio.h>

Does that mean I have a bad version of stdio.h installed somewhere or is something not linking correctly to a stdio library or something?

[2022-01-28 03:40] ryanGT commented on #497
FYI, I followed the same build process on a Raspberry Pi 4 and got the same error regarding sprintf.

[2022-01-28 07:00] v923z commented on #497
@ryanGT I have noticed recently that some compilers have difficulties with `sprintf`, so https://github.com/v923z/micropython-ulab/pull/492/commits/d56dd2f9212377139fe632cdf396e1f3587086ef implements our own `sprintf` for these cases. Could you, please, check out the [io-savetxt ](https://github.com/v923z/micropython-ulab/tree/io-savetxt) branch, and see if you can compile that?

Also, you can fin

[2022-01-28 13:34] ryanGT commented on #497
Thanks for the help.  Unfortunately, I am getting the same error message for the io-savetxt branch, which really doesn't make sense.

I am a python programmer with weak C skills.  I don't know how to undo a failed make.  So, I deleted both micropython and ulab repos on my Mac and recloned them.  I then went into the newly cloned ulab repo and did

git checkout -b io-savetxt

git branch
* io-savetx

[2022-01-28 14:24] v923z commented on #497
Either you do what you did below, or you run `make clean`. This alone might not always clean up the mess, because `make` does not keep track of what you tried to compile for, so it might try to attempt the wrong artifacts folder. What you should do in those cases is get rid of the folder that begins with `build_some_board`. This directory you can find in the port's folder, where you are currently

[2022-01-28 15:40] ryanGT commented on #497
Success.  Thanks for your patience.  I see my mistake (PEBKAC).  I have used git for several years, but almost exclusively on projects where I am the only developer, so I rarely branch.  This command:

git checkout -b io-savetxt

creates a new branch with the right name, but no new content (it is the same as the main/master I just cloned).

The correct git command is

git checkout io-savetxt

whic

[2022-01-28 16:21] v923z commented on #497
@ryanGT Ryan,

Thanks for the feedback, I am glad it worked out for you. If you are satisfied, please, close the issue!

[2022-01-28 17:25] ryanGT commented on #497
My problem is solved.  I am closing the issue.

[2022-01-28 17:25] #497 closed

[2022-01-29 10:19] urish opened #498 "Running ulab examples in the web browser"
First of all, thanks for bring numpy and scipy to embedded Python. It's so cool to have all these math abilities now available in micropython!

I'm working on an online simulator for the ESP32, and one of the users asked to add ulab support. So I went ahead and compiled the latest ulab (4.3.2) with the last micropython (1.18.0), and made it available for the users of the simulator:

https://wokwi.

[2022-01-29 10:29] v923z commented on #498
@urish Thanks for sharing your work! If you intend to keep your project alive for longer periods of time, I would definitely like to add a link in the [README](https://github.com/v923z/micropython-ulab/blob/master/README.md). I can also make this issue sticky, so that it would always be at the top of the issue page.

I cannot really comment on this question. To be honest, I have only very vague id

[2022-01-29 11:25] urish commented on #498
Thank you! A link from the README would be cool.

Also, good idea with the MicroPython forum. I shared the simulator there in the past, but perhaps the ulab support calls for another post there.

p.s. I created a Dockerfile that builds the ESP32 firmware (latest micropython + ulab). I think it shouldn't be too hard to turn it into a GitHub action that will create nightly builds. If you are interes

[2022-01-29 15:31] v923z commented on #498
OK, will do.

I have been experimenting with that [here](https://github.com/v923z/micropython-builder), and I really want to set up something that regularly compiles the firmware for many platforms. Not nightly builds, but perhaps every three days or so. That in itself is simple. The question is, what you do with the files afterwards. While the files can in principle be hosted on github, you canno

[2022-01-29 16:01] v923z commented on #498
@urish Uri, I inserted a short paragraph [here](https://github.com/v923z/micropython-ulab/blob/master/README.md#esp32-based-boards). If you are not happy with it for whatever reason, you can always open a PR, and we can take it from here.

[2022-01-29 16:23] v923z commented on #436
@labodezao I am not sure, where this issue stands now. Do you want to implement this functionality as a snippet, or should we close it?

[2022-01-29 16:35] water5 commented on #468
Default/currently `ulab.numpy.loadtxt` `dtype` parameter not implement, unspecific `dtype` will cause uncertain error,
[code]

[code]

[code]

What's wrong and how to solve `ulab.numpy.savetxt` above situation?

[2022-01-29 16:42] v923z commented on #468
But this is specifically mentioned in the [docs](https://micropython-ulab.readthedocs.io/en/latest/numpy-functions.html?highlight=savetxt#savetxt)

I guess, you are concerned about `98.000001`, which should be `98.0`. But this is a representation error. You have 32 bits to represent a floating point number, so this is what you get. I can't really do anything about it. If you try the same on the `u

[2022-01-29 17:12] labodezao commented on #436
This could be a good idea, but I don't have the knoloedge to modify the code :)

[2022-01-29 17:14] v923z commented on #436
But if it is supposed to be a snippet, then you would write the code in `python`, so you would not have to change anything in the code base. That's the beauty of it.

[2022-01-29 17:18] labodezao commented on #436
How can I do that ?

---------------------------------------------------------------
http://labodezao.fr/
---------------------------------------------------------------
Ewen d'Aviau
9 rue fernand de Magellan
44600 Saint-Nazaire
06-02-37-53-22

Le sam. 29 janv. 2022 à 18:14, Zoltán Vörös ***@***.***> a
écrit :

[2022-01-29 17:21] v923z commented on #436
You have access to the Fourier transform, and then you use what is written in https://en.wikipedia.org/wiki/Hilbert_transform#Relationship_with_the_Fourier_transform. You can calculate the phase of your signal by calling `np.atan2`, and then shift the phase by +/-90 degrees. This all can be done in `python`.

[2022-01-29 18:51] water5 commented on #468
OK, I try that on `unix` port the result is better.

--------------

That just specific origin array `dtype`, when create a new array load from `.txt` file, the `dtype` of new array is `float`, and can't convert to other(e.g. `uint8`, `uint16`).

`numpy.loadtxt` have `dtype` parameter,
[https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html](https://numpy.org/doc/stable/reference/gene

[2022-01-29 20:46] v923z commented on #468
I really don't understand what the problem is. This always works

[code]
i.e., you can always convert the `dtype` of an array, if you pass the array to the constructor, and specify the output `dtype`.

I know that, but this adds a lot to the firmware size, and you can do the conversion later, anyway. As I pointed out many times, duplicating functionality is not a viable option. If something can al

[2022-01-29 21:42] v923z commented on #468
https://github.com/v923z/micropython-ulab/pull/500 implements the `dtype` keyword argument.

[2022-01-29 21:56] urish commented on #498
Looks good, thanks!

It'd be very useful to have automated builds.

I've actually seen quite few popular projects using the Releases feature of GitHub to manage their downloads. Here are some examples:

- [cloudflared](https://github.com/cloudflare/cloudflared/releases) by CloudFlare
- [CircuitPython Library Bundle](https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/latest)

There'

[2022-01-29 22:07] v923z commented on #498
I am working on it. I want to do everything via bash scripts, so that one could also download the script, and run it on a PC. yaml files are not good for that. But there are a couple of things to consider. E.g., cloning `micropython` takes about 3 minutes, and it should be done only once, not for each platform.

These are organisations, who pay for services. I am not sure I can just publish whatev

[2022-01-29 22:11] urish commented on #498
Yes, that makes a lot of sense.

As far as I can tell, this is the case. For instance, the Wokwi organization uses the free tier. GitHub [says](https://docs.github.com/en/repositories/releasing-projects-on-github/about-releases): "There is no limit on the total size of a release, nor bandwidth usage."

[2022-01-29 22:14] v923z commented on #498
Oh, I was just looking for that, thanks! Now, when we are at it, would you have it as part of `ulab`, or in a complete separate repository? Originally I thought that I would have to buy external web services, and in that case it would have made sense to set up a separate repository, but in light of what you have said, I am not so sure anymore. I am still leaning towards a separate repository, thou

[2022-01-29 22:25] urish commented on #498
If you keep it in a separate repo, then make sure to make it obvious for people to know where they can find the releases. When I first looked at ulab, I immediately went to the "releases" section to see if there's a prebuilt firmware I can downloaded. Only then I looked at the README and scanned for "download" and "release", and a few minutes later I discovered the docs.

This is where I was expec

[2022-01-29 22:29] v923z commented on #498
OK.

Sorry, I see that it was confusing.

I've fixed it. Thanks for bringing this up!

[2022-01-30 14:38] water5 commented on #468
Thanks for implement relate functions.

[2022-01-30 15:47] water5 commented on #468
I think this implement is worth and necessary, actually, most time MicroPython use for microcontroller, not for 64bit system,
[code]

[code]

Seems use `dtype` parameter have not above issue, I will try more times later,
[code]

[2022-01-30 18:48] v923z commented on #468
@water5 On the `unix` port, I don't see the error that you are reporting. Here is my test script

[code]
and here is the output:
[code]

What is your platform?

[2022-01-30 18:57] v923z commented on #468
@water5 Sorry, I think I have misinterpreted your comment. The error was not in the `loadtxt` function, but in the `array` initialiser, when you pass another array as the argument. I fixed it. Could you, please, check out https://github.com/v923z/micropython-ulab/pull/500 once more to see if that fixes the issue?

[2022-01-30 19:58] water5 commented on #468
I use ESP32.
Sorry, supplement, I use the numeric in `.txt` file generate from `double precision float` implement of MicroPython, like these:

I think this is MicroPython implement issue, on `single precision float` implement of MicroPython, even though use in `list`, have same problem:
[code]

But, indeed, use `dtype` parameter seems have not above issue:
[code]

[2022-01-30 20:00] water5 commented on #468
And, other issue, when use `suppress scientific notation` in `.txt` file:

Will construct a incorrect `shape` of array:
[code]

[2022-01-30 20:02] v923z commented on #468
Even if you have `np.loadtxt('s.txt', dtype = np.float, delimiter = ',')`? (Note the missing space in `delimiter`.)

[2022-01-30 20:05] v923z commented on #468
That's correct. It is not quite trivial to correctly print a floating point number. You can see how much goes into this here: https://github.com/micropython/micropython/blob/4d9e657f0ee881f4a41093ab89ec91d03613744d/py/formatfloat.c#L114

[2022-01-30 20:14] water5 commented on #468
Use
[code]
and
[code]
have same problem, Will construct a incorrect `shape` of array.

[2022-01-30 20:16] water5 commented on #468
And, can you implement `skiprows` parameter too? when data file is huge, that's very useful.

[2022-01-30 21:49] v923z commented on #468
I think I know what the error was. I have updated the PR.

[2022-01-30 21:50] v923z commented on #468
Yes, that could be added.

[2022-01-31 18:37] water5 commented on #468
Sorry, I use `.txt` file generate from `Windows platform`, it use `\r\n` for newline, `Linux` and `MicroPython` use `\n`, `CPython` on `Linux` could convert that to `\n` automatically, but `MicroPython` not, I think this is `MicroPython` compatibility issue.

I use last version of `loadtxt-fix` branch, same issue still exist, then I modify the `.txt` file use `\n`, array `shape` correct. so, I gue

[2022-01-31 18:50] water5 commented on #468
Additional, do you know someone already post relate issue for `MicroPython`?

[2022-01-31 19:19] v923z commented on #468
No, we don't need to roll back. Thanks for the update!

I don't know, but you could ask of the forum. This issue must come up quite often.

[2022-01-31 20:08] v923z commented on #468
Why don't you use `save/load`? That works with binary files, so you shouldn't have this problem with the linebreak/linefeed. On the flip side, you have to read the whole file, you can't skip lines.

[2022-01-31 21:13] v923z commented on #468
@water5 I have added the `skiprows` keyword in https://github.com/v923z/micropython-ulab/pull/500. I haven't yet updated the docs, though.

[2022-01-31 21:24] v923z commented on #468
In principle, it would not be impossible to treat `\r\n`, but the problem is that these are actually two characters, and the buffer's boundary might be between them, so we would have to carry over the `\r` character to the next iteration. This happens here:
https://github.com/v923z/micropython-ulab/blob/f5f42c364349a4dae571fe091dd6c61654a6a7c7/code/numpy/io/io.c#L332-L359

We read in 127 character

[2022-02-01 17:01] water5 commented on #468
This a choice to solve the issue, actually, `ulab.numpy.loadtxt` enough to solve most basic functions currently, I will close this issue, Thanks.

This way not work, even though use `savetxt` 's `newline` parameter specific newline to use '\n' on `Windows platform`, when open the file on `MicroPython`, still parsing to `\r\n`, I think this depend OS.

But I curious, `numpy` on `CPython` is fine to

[2022-02-01 19:05] v923z commented on #468
It comes from here: https://github.com/numpy/numpy/blob/4adc87dff15a247e417d50f10cc4def8e1c17a03/numpy/lib/_datasource.py#L74

[2022-02-01 19:36] v923z commented on #468
Closed by https://github.com/v923z/micropython-ulab/pull/500

[2022-02-01 19:36] #468 closed

[2022-02-01 19:40] #435 closed

[2022-02-01 19:43] v923z commented on #410
I guess, this issue can be closed now.

[2022-02-01 19:43] #410 closed

[2022-02-07 18:20] wired8 opened #502 "[BUG] np.diag"
**Describe the bug**
Latest build (master)

Getting different results from ulab implementation of np.diag vs python numpy.diag.

**To Reproduce**

[code]

**Expected behavior**
[code]

[2022-02-07 18:41] v923z commented on #502
@wired8 Thanks, I will look into this.

[2022-02-08 19:30] v923z commented on #502
@wired8 Phil, could you, please, check out https://github.com/v923z/micropython-ulab/pull/503, and test it?

[2022-02-08 20:21] wired8 commented on #502
Testing now.

On Tue, Feb 8, 2022 at 11:30 AM Zoltán Vörös ***@***.***>
wrote:

[2022-02-08 22:27] wired8 commented on #502
Passed!  :+1:

[2022-02-09 06:47] v923z commented on #502
@wired8 Thanks!

[2022-02-09 06:59] #502 closed

[2022-02-10 17:55] wired8 opened #504 "[BUG] complex iterable regression"
Not able to return the value of a complex array.  This used to return a tuple with real and complex parts.

**To Reproduce**
[code]

**Expected behavior**
[code]

[2022-02-10 19:32] wired8 commented on #504
Thanks @v923z i'll test and get back to you.

[2022-02-12 17:42] #504 closed, assigned to nobody

[2022-02-18 00:55] wired8 opened #506 "[BUG] - Possible broadcast issue with empty arrays"
**Describe the bug**
In cpython it seems that some binary operations involving an empty numpy array return an empty numpy array.

This difference in behavior is a problem when porting code.

**To Reproduce**
[code]

**Expected behavior**
[code]

Notes:
https://stackoverflow.com/questions/58854669/python-list-empty-numpy-array-empty-numpy-array

[2022-02-18 17:18] wired8 commented on #506
Looking like some, sorry should have been more specific.

[code]

[code]

[2022-02-18 18:02] v923z commented on #506
If I run this with `CPython`

[code]

I get this:

[code]

On the other hand, in `ulab`, the output is

[code]
So, I believe, all operators result in an empty array, if one of the operands is empty. Perhaps, the easiest fix is to check, whether the array is empty at the very beginning, and return immediately, if so.

[2022-02-18 18:08] wired8 commented on #506
That has been my current approach, but given my use case and the share amount of code I have I'm concerned with having to add this check.   What is the overhead for checking this `c` side?

[2022-02-18 18:28] v923z commented on #506
Oh, I meant that this should obviously be done in firmware, don't worry! My comment was sort of a question as to whether this would be enough to ensure compatibility.

[2022-02-18 18:36] v923z commented on #506
I think, https://github.com/v923z/micropython-ulab/pull/507 should rectify the problem.

[2022-02-23 13:39] Nmsngym opened #509 "Implementation in Thonny IDE"
Hello! I'm new in Micropython and I am programming a Fuzzy Logic Controller in my project. As I search numpy library for my micropython using Thonny IDE, I saw that Ulab is used. But I do not know how to implement your work in my program, like how to call it or does it have an installable library in the packages? Thank you so much.

[2022-02-23 16:35] v923z commented on #509
I don't think `ulab`, or `micropython` for that matter, has anything to do with the IDE. `ulab` must be part of the firmware that you are running on the microcontroller. Once you can open the board's python console, (you would most probably connect to the board via the serial console, or perhaps, webserial) you would use `ulab` as any standard python libray: https://github.com/v923z/micropython-ul

[2022-02-23 21:30] #506 closed

[2022-02-24 13:39] Nmsngym opened #510 "RP2 Firmware"
I cannot compile the firmware in my board, RP2040 Raspberry Pi Pico. I strictly do the steps, but the modules aren't recognized.

[2022-02-24 18:47] v923z commented on #510
If you cannot compile the firmware, how do you know that the modules are not recognised?
Also, there is pre-compiled firmware for the Raspberry pi here: https://github.com/v923z/micropython-builder/releases

[2022-02-24 20:15] Gruftgrabbler opened #511 "Cant Find ESP32-Wroom as Target?"
Hello I am owning an Adafruit Feather ESP32 where I wanted to install micropython including ulab.

I managed to compile the GENERIC esp32 firmware in (esp32/boards/GENERIC) on my ubuntu computer.
But unfortunately after flashing the firmware to my esp32 board I couldn't get it running.

I looked in every board in the board folder for something that sounds like esp32 wroom or something like that bu

[2022-02-24 20:19] v923z commented on #511
The Adafruit Feather is among the boards, I believe:

[code]
Alternatively, you can download the `circuitpython` firmware from Adafruit's website. That already includes `ulab`.

[2022-02-24 21:16] Gruftgrabbler commented on #511
thank you for your reply.

Unfortunately I already spend months in developing into a project which uses micropython on the raspberry pi pico.
Since I want to test the code on my Adafruit feather esp32 I need to get ulab running on it.

However I tried to flash some circuit python builds but none of them worked on my specific board -.-

Back to subject:

I tried GENERIC and GERNIC_SPIRAM and lookin

[2022-02-25 06:44] v923z commented on #511
What makes you think that you can't run your code with `circuitpython`? `circuitpython` is still `python`, so I don't see the problem. It simply has a number of libraries included in the firmware, but the syntax is the same.

But this is not a `ulab` issue. If you can't compile the firmware, then you should raise the issue at `micropython`.

[2022-02-25 06:45] fanrenkong opened #512 "Error building firmware for ESP32"
I only recently started learning micropython and was lucky enough to discover the ulab module. I followed the steps exactly to build the firmware for my esp32 board, but when I in the last step, I got the following error:

/Volumes/CODE/ESP32/micropython/micropython/ports/esp32/modmachine.c:40:10: fatal error: esp32/clk.h: No such file or directory
 #include "esp32/clk.h"
          ^~~~~~~~~~~~~
c

[2022-02-25 07:41] v923z commented on #512
Can you compile the firmware without `ulab`? The error that you quote above has nothing to do with `ulab`. Also, have you checked out the scripts in https://github.com/v923z/micropython-ulab/tree/master/build? Do they fail?

[2022-02-25 08:41] Gruftgrabbler commented on #511
I could try it that a good point. However I couldn't find any firmware matches at the circuit python [download page](https://circuitpython.org/downloads). All of them require a uf2 boot loader which I can't install because the feather esp32 doesn't have a boot select button.

Thank you, I am gonna look there to see if there is anything useful :)

For now I tried almost everything what I can.

[2022-02-25 09:06] fanrenkong commented on #512
Thanks for you suggestion, I figured out that the problem should occur when installing esp-idf, by following the instructions carefully again, I successfully compiled the firmware.

[2022-02-25 09:08] #512 closed

[2022-02-25 09:43] Gruftgrabbler commented on #511
Oh my gosh.

The error was of cause in front of the computer and not in the computer ...

I used the esp32-cmake.sh to compile the firmware but later on I *only* flashed the .bin file to the esp32 instead of just copy and pasting the given flash command. lol

So now I have a working esp32 with ulab on board. thank you! :) ^^

[2022-02-25 09:43] #511 closed

[2022-02-25 11:58] Nmsngym commented on #510
Thank you so much for this.

[2022-03-01 13:34] Gruftgrabbler opened #513 "[BUG] Numpy Module has no delete method"
**Describe the bug**

On my raspberry pi Pico I can't use the uLab function delete which should be implemented regarding to the [documentation](https://micropython-ulab.readthedocs.io/en/latest/numpy-functions.html?highlight=delete#delete).

Example:

[code]

**To Reproduce**
Copy And paste the code into a REPL shell

**Expected behavior**
I expected the same output of the documentation

[2022-03-01 18:40] v923z commented on #513
I don't know what you mean, when saying "my raspberry pi Pico I can't use the uLab". Where does the firmware come from? From https://github.com/v923z/micropython-builder/releases, or piromoni, or somewhere else, or you compile it? What is the version of the `ulab` that you are using? I have just tried on the `unix` port, `delete` is there.

If you are compiling yourself, you set the functions in t

[2022-03-07 18:21] v923z commented on #509
Since there is not too much activity on this issue, I am closing it.

[2022-03-07 18:21] v923z commented on #510
I don't think this issue has to stay open.

[2022-03-07 18:21] #510 closed

[2022-03-16 10:38] fadesibert opened #515 "[BUG] Numpy Indexing appears to write data incorrectly"
**Describe the bug**
numpy appears to write array data incorrectly when accessed by index. Particularly, when flipping data, data is mangled/duplicated.

[code]
ulab version: '5.0.4-2D-c'
numpy has no __version__

**To Reproduce**
[code]

**Expected behavior**
Alternate columns should be flipped. Instead, they are flipped and copied. Expected output of a after transformation is with the alternatin

[2022-03-16 10:59] fadesibert commented on #515
workaround suggests that there is an issue with copy in place?
[code]

[2022-03-16 19:45] v923z commented on #515
@fadesibert Thanks for the bug report, I'll look into it.

[2022-03-16 19:47] v923z commented on #515
In `micropython`, `numpy` and `scipy` don't have a version number, only `ulab`.

[2022-04-07 19:11] vega1013 opened #516 "[BUG] linalg.qr function seems to be wrong"
**Describe the bug**
The qr functions seems to calculate wrong values if i'm not totally wrong.
The proof "np.dot(q,r)" == A is true, but when i calculate the eigenvectors based on R they differ (its not a problem of scaling the eigenvectors) with numpy/Matlab.

If any additional information is needed please let me know.

`ulab` version: 4.4.0-2D-c

[code]

**To Reproduce**
See the code example ab

[2022-04-07 19:14] v923z commented on #516
Thanks for bringing this up! I will try to sort it out.

[2022-04-14 15:40] v923z commented on #513
This issue seems to be inactive, so closing now.

[2022-04-14 15:40] #513 closed

[2022-04-18 10:58] dpgeorge opened #520 "[OPTIMISATION] Only clear ndarray data once when it's allocated"
In MicroPython's memory API there are `m_new()` and `m_new0()` macros.  The latter will zero out the new memory before returning it.

MicroPython by default builds with `MICROPY_GC_CONSERVATIVE_CLEAR` enabled, which means all GC heap mallocs are zero'd out by default (to prevent stray pointers), and thus `m_new()` and `m_new0()` are the same thing.

In `ndarray_new_ndarray()` I see that there's a

[2022-04-18 13:49] v923z commented on #520
@dpgeorge Many thanks for the suggestion! These are really trivial changes in the code, so I should be able to incorporate them in the next couple of days. I believe, `ndarray_new_ndarray` is not the only place, where this happens.

On a related issue, some people suggested to get rid of `m_del`, and let the garbage collector deal with the RAM. On the one hand, I see the point, namely, that it add

[2022-04-19 00:00] dpgeorge commented on #520
Yes I saw some other ones as well.

In MicroPython core, the code usually attempts to call `m_del` when possible, ie when a pointer is known to go out of scope.  This does help to free up RAM sooner rather than later and delays a GC cycle by a bit.  IMO it is worth it to call `m_del` whenever possible.  It's pretty cheap in terms of code size.

[2022-04-22 20:10] #520 closed

[2022-05-16 17:00] nw0428 opened #523 "Instructions for adding ulab to Lego Spike Prime"
I am trying to add ulab to Lego's spike prime product. This should be possible because it uses an [STM32F413](https://www.st.com/en/microcontrollers-microprocessors/stm32f413-423.html). Is it possible to compile and add ulab without flashing the entire system?

[2022-05-16 17:59] v923z commented on #523
No, I don't think so. `ulab` is tightly integrated into the `micropython` firmware. It is really not like `python` on a PC, where you can install arbitrary libraries after the fact. I know that there are plans for making `micropython` more modular in this regard, but I have no idea, where those plans stand.

But why is compilation and flashing a problem?

[2022-05-17 02:32] heleidsn opened #526 "Cannot save and load numpy array on OpenMV4"
Hi, I am doing a small project with OpenMV, thanks for your effort to give us NumPy features for Microcontrollers.

However, I cannot save and load Numpy array with OpenMV which have ulab v4.0.0 with the code below. But I can find docs in the ulab book.

The issues also raised [here](https://github.com/openmv/openmv/issues/1642).

Could you please tell me what's wrong with it? Thanks.

### Code
[c

[2022-05-17 04:37] v923z commented on #526
The version number only tells you, which methods _might_ be available, but everything might still be switched off. and `openmv` might have just done that, for reasons of flash space. You could find out, what you have following the description here: [finding-out-what-your-firmware-supports](https://micropython-ulab.readthedocs.io/en/latest/ulab-intro.html#finding-out-what-your-firmware-supports)

[2022-05-17 04:48] v923z commented on #526
I have just figured out, `load` and `save` was introduced in 4.3: https://github.com/v923z/micropython-ulab/blob/master/docs/ulab-change-log.md You have to pick the right version of the documentation.

[2022-05-17 06:17] heleidsn commented on #526
Hi @v923z, thanks for pointing out this, I will build the openmv firmware with the latest ulab.

Many thanks and the issue will be closed.

[2022-05-17 06:17] #526 closed

[2022-05-17 19:25] #515 closed

[2022-05-18 19:45] vega1013 commented on #516
Some additional Info regarding this issue:
If I use a QR-algorithm based on givens rotation I get the same results as in numpy/matlab (source is https://www.programmersought.com/article/84605916864/ with some adjustments for ulab):

[code]

The functions can be tested with the following code.
[code]

The eigenvectors are calculated based on an answer in this thread:
https://math.stackexchange.com/

[2022-05-19 04:52] v923z commented on #516
This has been bugging me for some time, because, while the `ulab` tests based on multiplying `Q` and `R` with the appropriate matrix always came back positive, I didn't always get the same `Q` matrix as `numpy`. So, you are, in effect, saying that `numpy` flips the sign of the matrix entries, if they are negative, aren't you?

Albeit this sign bears no relevance on the validity of the output, we c